{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Home</title>
    <meta name="next-head-count" content="3" />
    <link
      rel="preload"
      href="{% static 'static/css/e7f675cdde9d1b6871e8.css' %}"
      as="style"
    />
    <link
      rel="stylesheet"
      href="{% static 'static/css/e7f675cdde9d1b6871e8.css' %}"
      data-n-g=""
    />
    <link
      rel="preload"
      href="{% static 'static/css/f0193b570da8f21bd361.css' %}"
      as="style"
    />
    <link
      rel="stylesheet"
      href="{% static 'static/css/f0193b570da8f21bd361.css' %}"
      data-n-p=""
    />
    <link
      rel="preload"
      href="{% static 'static/css/8605335b2792bf79abbf.css' %}"
      as="style"
    />
    <link
      rel="stylesheet"
      href="{% static 'static/css/8605335b2792bf79abbf.css' %}"
      data-n-p=""
    />
    <noscript data-n-css=""></noscript>
    <script
      defer=""
      nomodule=""
      src="{% static 'static/chunks/polyfills-e7a279300235e161e32a.js' %}"
    ></script>
    <script
      src="{% static 'static/chunks/webpack-6aa24242c38afc8913a0.js' %}"
      defer=""
    ></script>
    <script
      src="{% static 'static/chunks/framework-2f612445bd50b211f15a.js' %}"
      defer=""
    ></script>
    <script
      src="{% static 'static/chunks/main-5bf8ee9bbd6ccb7fc271.js' %}"
      defer=""
    ></script>
    <script
      src="{% static 'static/chunks/pages/_app-e94d6f860b28f814d6a4.js' %}"
      defer=""
    ></script>
    <script
      src="{% static 'static/chunks/777cf710-68a4d5fd26c83bc4a470.js' %}"
      defer=""
    ></script>
    <script
      src="{% static 'static/chunks/334-7e96ca51f47d8bb4343c.js' %}"
      defer=""
    ></script>
    <script
      src="{% static 'static/chunks/53-ad68a86626661a8463f4.js' %}"
      defer=""
    ></script>
    <script
      src="{% static 'static/chunks/270-fd3fab2f255db67b7061.js' %}"
      defer=""
    ></script>
    <script
      src="{% static 'static/chunks/146-dc887954909657656a9a.js' %}"
      defer=""
    ></script>
    <script
      src="{% static 'static/chunks/pages/index-b7a78cdde3de02a78bd0.js' %}"
      defer=""
    ></script>
    <script
      src="{% static 'static/AyJg92hfV-16jcG-Zmivz/_buildManifest.js' %}"
      defer=""
    ></script>
    <script
      src="{% static 'static/AyJg92hfV-16jcG-Zmivz/_ssgManifest.js' %}"
      defer=""
    ></script>
  </head>
  <body>
    <div id="__next">
      <div>
        <div class="styles_Header__1VAv6">
          <div class="styles_hamburger-main-menu__-w5XB">
            <div class="styles_hamburger-main-menu__wrapper__1QJec">
              <div
                class="styles_Container__13BBU styles_Header__container__GjszS"
              >
                <div class="styles_Header__wrapper__16nKj">
                  <div class="styles_Header__logoWrap___Gz9K">
                    <div class="styles_Header__logo__2gGry">
                      <svg
                        width="107"
                        height="53"
                        viewBox="0 0 107 53"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g clip-path="url(#clip0_1529_5253)">
                          <path
                            d="M100.41 52.8406H107.001V47.9659H106.189V52.0591H104.106V47.9659H103.305V52.0591H101.222V47.9659H100.41V52.8406ZM95.854 51.3894L96.8807 49.0116L97.9074 51.3894H95.854ZM94.344 52.8406H95.2198L95.518 52.1708H98.2509L98.5416 52.8406H99.4174L97.2771 47.9659H96.4844L94.344 52.8406ZM87.6363 52.8406H88.4478V49.3278L90.0861 52.8406H90.8939L92.5473 49.3018V52.8406H93.3551V47.9659H92.3094L90.49 51.8508L88.6781 47.9659H87.6363V52.8406ZM81.1965 50.3958C81.1965 50.911 81.3515 51.4146 81.6418 51.8429C81.9322 52.2713 82.3448 52.6052 82.8277 52.8023C83.3105 52.9995 83.8418 53.0511 84.3543 52.9505C84.8669 52.85 85.3377 52.602 85.7073 52.2377C86.0768 51.8734 86.3285 51.4093 86.4304 50.904C86.5324 50.3987 86.48 49.875 86.28 49.399C86.0801 48.923 85.7414 48.5162 85.3069 48.23C84.8723 47.9438 84.3614 47.791 83.8388 47.791C83.1394 47.791 82.4684 48.0644 81.9731 48.5513C81.4778 49.0382 81.1985 49.6988 81.1965 50.3884V50.3958ZM85.6696 50.3958C85.6711 50.7535 85.565 51.1036 85.3646 51.4018C85.1643 51.7 84.8787 51.9329 84.5441 52.0712C84.2094 52.2094 83.8407 52.2467 83.4846 52.1784C83.1284 52.1101 82.8008 51.9391 82.5432 51.6873C82.2856 51.4354 82.1095 51.1139 82.0373 50.7633C81.965 50.4128 81.9998 50.0491 82.1373 49.7181C82.2748 49.387 82.5087 49.1036 82.8096 48.9037C83.1104 48.7038 83.4647 48.5963 83.8275 48.5948C84.3154 48.5898 84.7854 48.7759 85.1343 49.1121C85.4832 49.4484 85.6825 49.9074 85.6885 50.3884L85.6696 50.3958ZM76.7423 52.8406H77.5576V48.7473H80.4038V47.9547H76.7423V52.8406ZM71.6727 47.9659C71.7218 48.9896 71.6662 50.0157 71.5066 51.0284C71.4718 51.2994 71.3581 51.5547 71.1792 51.7634C71.0004 51.9721 70.764 52.1252 70.4988 52.2043L70.7479 52.9485C71.6048 52.6806 72.0615 52.1261 72.2918 51.207C72.4475 50.3966 72.5095 49.5715 72.4767 48.7473H74.5265V52.8406H75.3418V47.9659H71.6727ZM64.6516 50.3958C64.6516 50.911 64.8066 51.4146 65.0969 51.8429C65.3873 52.2713 65.8 52.6052 66.2828 52.8023C66.7656 52.9995 67.2969 53.0511 67.8095 52.9505C68.322 52.85 68.7929 52.602 69.1624 52.2377C69.5319 51.8734 69.7836 51.4093 69.8855 50.904C69.9875 50.3987 69.9352 49.875 69.7352 49.399C69.5352 48.923 69.1965 48.5162 68.762 48.23C68.3275 47.9438 67.8166 47.791 67.294 47.791C66.5945 47.791 65.9235 48.0644 65.4282 48.5513C64.9329 49.0382 64.6536 49.6988 64.6516 50.3884V50.3958ZM69.1247 50.3958C69.1262 50.7535 69.0201 51.1036 68.8198 51.4018C68.6194 51.7 68.3339 51.9329 67.9992 52.0712C67.6646 52.2094 67.2959 52.2467 66.9397 52.1784C66.5836 52.1101 66.256 51.9391 65.9983 51.6873C65.7407 51.4354 65.5647 51.1139 65.4924 50.7633C65.4202 50.4128 65.455 50.0491 65.5924 49.7181C65.7299 49.387 65.9639 49.1036 66.2647 48.9037C66.5656 48.7038 66.9198 48.5963 67.2826 48.5948C67.7673 48.5947 68.2325 48.783 68.5773 49.1187C68.9221 49.4545 69.1188 49.9106 69.1247 50.3884V50.3958ZM55.1354 51.3894L56.1621 49.0116L57.1927 51.3894H55.1354ZM53.6255 52.8406H54.5012L54.8032 52.1708H57.5324L57.823 52.8406H58.6988L56.5585 47.9659H55.7658L53.6255 52.8406ZM50.0281 50.8609V48.7473H51.3795C51.5284 48.735 51.6782 48.7533 51.8195 48.801C51.9608 48.8488 52.0905 48.9249 52.2005 49.0245C52.3104 49.1242 52.3982 49.2453 52.4583 49.3801C52.5183 49.515 52.5493 49.6606 52.5493 49.8079C52.5493 49.9551 52.5183 50.1008 52.4583 50.2356C52.3982 50.3704 52.3104 50.4915 52.2005 50.5912C52.0905 50.6909 51.9608 50.767 51.8195 50.8147C51.6782 50.8624 51.5284 50.8807 51.3795 50.8684L50.0281 50.8609ZM49.2241 52.8406H50.0281V51.6312H51.3833C51.6345 51.6424 51.8853 51.6032 52.1208 51.5162C52.3562 51.4291 52.5712 51.2959 52.753 51.1246C52.9348 50.9534 53.0794 50.7476 53.1782 50.5196C53.2771 50.2917 53.328 50.0464 53.328 49.7986C53.328 49.5507 53.2771 49.3054 53.1782 49.0775C53.0794 48.8496 52.9348 48.6438 52.753 48.4725C52.5712 48.3012 52.3562 48.168 52.1208 48.081C51.8853 47.9939 51.6345 47.9547 51.3833 47.9659H49.2241V52.8406ZM44.6679 51.3894L45.6947 49.0116L46.7252 51.3894H44.6679ZM43.158 52.8406H44.0338L44.332 52.1708H47.0611L47.3518 52.8406H48.2276L46.0873 47.9659H45.2983L43.158 52.8406ZM36.4465 52.8406H37.258V49.3278L38.9001 52.8406H39.7041L41.3575 49.3018V52.8406H42.1653V47.9659H41.1461L39.3228 51.8508L37.511 47.9659H36.4502L36.4465 52.8406ZM31.8903 51.3894L32.917 49.0116L33.9476 51.3894H31.8903ZM30.3804 52.8406H31.2561L31.5543 52.1708H34.2835L34.5742 52.8406H35.4499L33.3096 47.9659H32.5282L30.3804 52.8406ZM60.824 50.113H62.1037C62.2444 50.101 62.3861 50.118 62.5197 50.1629C62.6534 50.2077 62.7762 50.2795 62.8803 50.3736C62.9844 50.4678 63.0674 50.5822 63.1243 50.7096C63.1811 50.8371 63.2105 50.9748 63.2105 51.114C63.2105 51.2532 63.1811 51.3909 63.1243 51.5184C63.0674 51.6458 62.9844 51.7602 62.8803 51.8543C62.7762 51.9485 62.6534 52.0202 62.5197 52.0651C62.3861 52.11 62.2444 52.1269 62.1037 52.115H60.8315L60.824 50.113ZM62.6095 49.4544C62.7203 49.3043 62.7786 49.1227 62.7756 48.9371C62.7756 48.6707 62.6682 48.4151 62.477 48.2267C62.2859 48.0383 62.0267 47.9324 61.7564 47.9324H60.0615V52.8406H62.1037C62.5817 52.8506 63.0443 52.674 63.3908 52.3491C63.7373 52.0243 63.9395 51.5777 63.9533 51.1065C63.9448 50.7241 63.8097 50.3548 63.5684 50.0551C63.3271 49.7555 62.993 49.5419 62.617 49.4469L62.6095 49.4544ZM60.8127 48.5725H61.5676C61.6667 48.5729 61.7616 48.6116 61.8319 48.6804C61.8977 48.7494 61.9343 48.8405 61.9343 48.9353C61.9343 49.03 61.8977 49.1212 61.8319 49.1902C61.7616 49.2589 61.6667 49.2977 61.5676 49.2981H60.8127V48.5725ZM28.9686 51.2182C28.8179 51.5173 28.5853 51.7688 28.2971 51.9444C28.009 52.12 27.6767 52.2126 27.3379 52.2117C26.8514 52.2117 26.3847 52.0212 26.0407 51.682C25.6967 51.3429 25.5034 50.8829 25.5034 50.4032C25.5034 49.9236 25.6967 49.4636 26.0407 49.1245C26.3847 48.7853 26.8514 48.5948 27.3379 48.5948C27.6763 48.5915 28.0087 48.6823 28.2971 48.8567C28.5855 49.0311 28.8183 49.2821 28.9686 49.5809L29.6934 49.2088C29.4224 48.6914 28.9835 48.2783 28.4465 48.0357C27.9095 47.7931 27.3056 47.7348 26.7311 47.8701C26.1566 48.0055 25.6447 48.3267 25.2771 48.7825C24.9095 49.2383 24.7074 49.8024 24.7031 50.3846C24.7049 50.9679 24.9052 51.5336 25.2719 51.9913C25.6386 52.449 26.1505 52.7721 26.7256 52.9089C27.3008 53.0457 27.9058 52.9883 28.4439 52.7458C28.982 52.5034 29.422 52.0899 29.6934 51.5717L28.9686 51.2182Z"
                            fill="#9B9B9B"
                          ></path>
                          <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M0 39.2539H19.6666L21.9579 43.6448H0V39.2539Z"
                            fill="#B90C2F"
                          ></path>
                          <path
                            d="M46.6183 0C53.1277 0.00344323 59.5209 1.70092 65.1515 4.92085C70.7821 8.14077 75.4506 12.769 78.6851 18.3377H73.4306C72.2919 16.7014 71.0031 15.1718 69.5803 13.7682C63.973 8.21299 56.4929 4.87919 48.5581 4.39884C40.6234 3.91849 32.7856 6.325 26.5309 11.1621C20.2763 15.9992 16.0395 22.9306 14.624 30.642C13.2084 38.3535 14.7125 46.3089 18.851 53H13.7475C10.866 47.4499 9.47851 41.2635 9.71787 35.0332C9.95723 28.8029 11.8155 22.7376 15.1145 17.4183C18.4136 12.099 23.043 7.70388 28.5592 4.65398C34.0754 1.60408 40.2937 0.00158005 46.6183 0"
                            fill="#012269"
                          ></path>
                          <path
                            d="M79.273 21.0996H84.9352V36.4009H79.4919V28.2144H79.273L75.166 32.903L71.0666 28.2032H70.8439V36.3897H65.412V21.0996H71.0742L75.1736 25.7994L79.273 21.0996ZM49.9995 32.0286H55.5447V31.809L52.7702 28.7502L55.322 25.6766V25.457H49.9995V32.0286ZM44.5676 36.4009V21.0996H61.4183V25.4719L58.6476 28.7502L61.641 32.0286V36.4009H44.5676ZM22.0586 28.7502L26.0485 21.0996H40.355V27.2209H35.142V25.4719H29.7101L28.0454 28.7502L29.7101 32.0286H35.142V30.2796H40.355V36.4009H26.0485L22.0586 28.7502Z"
                            fill="#B90C2F"
                          ></path>
                          <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M106.998 43.6448H29.385L27.0938 39.2539H106.998V43.6448Z"
                            fill="#B90C2F"
                          ></path>
                        </g>
                        <defs>
                          <clipPath id="clip0_1529_5253">
                            <rect width="107" height="53" fill="white"></rect>
                          </clipPath>
                        </defs>
                      </svg>
                    </div>
                  </div>
                  <div class="styles_Header__list__wrapp__2nWFj">
                    <div class="styles_Header__list__36sF6">
                      <div class="styles_hamburger-main-menu__item__3L4hy">
                        <a href="/history">История</a>
                      </div>
                      <div class="styles_hamburger-main-menu__item__3L4hy">
                        <a href="/about-us">Самараволгомаш сегодня</a>
                      </div>
                      <div class="styles_hamburger-main-menu__hover__ypTx_">
                        <div class="styles_hamburger-main-menu__item__3L4hy">
                          <a href="/products">Серийная продукция</a>
                        </div>
                        <div class="styles_hamburger-main-menu__list__3C1Bd">
                          <div
                            class="styles_hamburger-main-menu__list__item__3cfdx"
                          >
                            <a href="/products/welded_valves"
                              >Цельносварные запорные шаровые краны с
                              вращающимися сёдлами</a
                            >
                          </div>
                          <div
                            class="styles_hamburger-main-menu__list__item__3cfdx"
                          >
                            <a href="/products/sour_service"
                              >Цельносварные запорные шаровые краны с
                              вращающимися сёдлами для специальных сред</a
                            >
                          </div>
                          <div
                            class="styles_hamburger-main-menu__list__item__3cfdx"
                          >
                            <a href="/products/ball_valves"
                              >Цельносварные запорные шаровые краны с
                              уплотнением затвора «металл по металлу»</a
                            >
                          </div>
                          <div
                            class="styles_hamburger-main-menu__list__item__3cfdx"
                          >
                            <a href="/products/drives"
                              >Пневматические и пневмогидравлические приводы
                              модульной конструкции</a
                            >
                          </div>
                        </div>
                      </div>
                      <div class="styles_hamburger-main-menu__item__3L4hy">
                        <a href="/career">Вакансии</a>
                      </div>
                      <div class="styles_hamburger-main-menu__item__3L4hy">
                        <a href="/contacts">Контакты</a>
                      </div>
                    </div>
                  </div>
                  <div class="right">
                    <div>
                      <div
                        class="bm-overlay"
                        style="
                          position: fixed;
                          z-index: 1000;
                          width: 100%;
                          height: 100%;
                          background: rgba(0, 0, 0, 0.3);
                          opacity: 0;
                          -moz-transform: translate3d(100%, 0, 0);
                          -ms-transform: translate3d(100%, 0, 0);
                          -o-transform: translate3d(100%, 0, 0);
                          -webkit-transform: translate3d(100%, 0, 0);
                          transform: translate3d(100%, 0, 0);
                          transition: opacity 0.3s, transform 0s 0.3s;
                        "
                      ></div>
                      <div>
                        <div class="bm-burger-button" style="z-index: 1000">
                          <button
                            id="react-burger-menu-btn"
                            style="
                              position: absolute;
                              left: 0;
                              top: 0;
                              z-index: 1;
                              width: 100%;
                              height: 100%;
                              margin: 0;
                              padding: 0;
                              border: none;
                              font-size: 0;
                              background: transparent;
                              cursor: pointer;
                            "
                          >
                            Open Menu</button
                          ><span
                            ><span
                              class="bm-burger-bars"
                              style="
                                position: absolute;
                                height: 20%;
                                left: 0;
                                right: 0;
                                top: 0%;
                                opacity: 1;
                              "
                            ></span
                            ><span
                              class="bm-burger-bars"
                              style="
                                position: absolute;
                                height: 20%;
                                left: 0;
                                right: 0;
                                top: 40%;
                                opacity: 1;
                              "
                            ></span
                            ><span
                              class="bm-burger-bars"
                              style="
                                position: absolute;
                                height: 20%;
                                left: 0;
                                right: 0;
                                top: 80%;
                                opacity: 1;
                              "
                            ></span
                          ></span>
                        </div>
                      </div>
                      <div
                        id=""
                        class="bm-menu-wrap"
                        style="
                          position: fixed;
                          right: 0;
                          z-index: 1100;
                          width: 342px;
                          height: 100%;
                          -moz-transform: translate3d(100%, 0, 0);
                          -ms-transform: translate3d(100%, 0, 0);
                          -o-transform: translate3d(100%, 0, 0);
                          -webkit-transform: translate3d(100%, 0, 0);
                          transform: translate3d(100%, 0, 0);
                          transition: all 0.5s;
                        "
                        aria-hidden="true"
                      >
                        <div
                          class="bm-menu"
                          style="
                            height: 100%;
                            box-sizing: border-box;
                            overflow: auto;
                          "
                        >
                          <nav class="bm-item-list" style="height: 100%">
                            <div
                              class="bm-item styles_hamburger-main-menu__item__3L4hy"
                              style="display: block"
                              tabindex="-1"
                            >
                              <a href=""
                                ><span class="hamburger-main-menu__itemBurger"
                                  ><a href="/">Главная</a></span
                                ></a
                              >
                            </div>
                            <div
                              class="bm-item styles_hamburger-main-menu__item__3L4hy"
                              style="display: block"
                              tabindex="-1"
                            >
                              <a href=""
                                ><span class="hamburger-main-menu__itemBurger"
                                  ><a href="/history">История</a></span
                                ></a
                              >
                            </div>
                            <div
                              class="bm-item styles_hamburger-main-menu__item__3L4hy"
                              style="display: block"
                              tabindex="-1"
                            >
                              <a href=""
                                ><span class="hamburger-main-menu__itemBurger"
                                  ><a href="/about-us"
                                    >Самараволгомаш сегодня</a
                                  ></span
                                ></a
                              >
                            </div>
                            <div
                              class="bm-item styles_hamburger-main-menu__listHeader__2Dyl4"
                              style="display: block"
                              tabindex="-1"
                            >
                              <a href=""
                                ><span class="hamburger-main-menu__itemBurger"
                                  ><a href="/products"
                                    >Серийная продукция</a
                                  ></span
                                ></a
                              ><span
                                class="styles_hamburger-main-menu__listHeader__arrow__1oYDj"
                                ><svg
                                  width="17"
                                  height="10"
                                  viewBox="0 0 17 10"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                    d="M15 2L8.5 8L2 2"
                                    stroke="#292C31"
                                    stroke-width="2"
                                    stroke-linecap="square"
                                  ></path></svg
                              ></span>
                              <div
                                class="styles_hamburger-main-menu__active__f__2cLmH"
                              >
                                <div
                                  class="styles_hamburger-main-menu__listItem__277oy"
                                >
                                  <a href="/products/welded_valves"
                                    >Цельносварные запорные шаровые краны с
                                    вращающимися сёдлами</a
                                  >
                                </div>
                                <div
                                  class="styles_hamburger-main-menu__listItem__277oy"
                                >
                                  <a href="/products/ball_valves"
                                    >Цельносварные запорные шаровые краны с
                                    уплотнением затвора «металл по металлу»</a
                                  >
                                </div>
                                <div
                                  class="styles_hamburger-main-menu__listItem__277oy"
                                >
                                  <a href="/products/ball_valves"
                                    >Цельносварные запорные шаровые краны с
                                    уплотнением затвора «металл по металлу»</a
                                  >
                                </div>
                                <div
                                  class="styles_hamburger-main-menu__listItem__277oy"
                                >
                                  <a href="/products/drives"
                                    >Пневматические и пневмогидравлические
                                    приводы модульной конструкции</a
                                  >
                                </div>
                              </div>
                            </div>
                            <div
                              class="bm-item styles_hamburger-main-menu__item__3L4hy"
                              style="display: block"
                              tabindex="-1"
                            >
                              <a href=""
                                ><span class="hamburger-main-menu__itemBurger"
                                  ><a href="/career">Вакансии</a></span
                                ></a
                              >
                            </div>
                            <div
                              class="bm-item styles_hamburger-main-menu__item__3L4hy"
                              style="display: block"
                              tabindex="-1"
                            >
                              <a href=""
                                ><span class="hamburger-main-menu__itemBurger"
                                  ><a href="/contacts">Контакты</a></span
                                ></a
                              >
                            </div>
                          </nav>
                        </div>
                        <div>
                          <div
                            class="bm-cross-button"
                            style="
                              position: absolute;
                              width: 24px;
                              height: 24px;
                              right: 8px;
                              top: 8px;
                            "
                          >
                            <button
                              id="react-burger-cross-btn"
                              style="
                                position: absolute;
                                left: 0;
                                top: 0;
                                z-index: 1;
                                width: 100%;
                                height: 100%;
                                margin: 0;
                                padding: 0;
                                border: none;
                                font-size: 0;
                                background: transparent;
                                cursor: pointer;
                              "
                              tabindex="-1"
                            >
                              Close Menu</button
                            ><span
                              style="position: absolute; top: 6px; right: 14px"
                              ><span
                                class="bm-cross"
                                style="
                                  position: absolute;
                                  width: 3px;
                                  height: 14px;
                                  transform: rotate(45deg);
                                "
                              ></span
                              ><span
                                class="bm-cross"
                                style="
                                  position: absolute;
                                  width: 3px;
                                  height: 14px;
                                  transform: rotate(-45deg);
                                "
                              ></span
                            ></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <main class="styles_Page__2fP-s styles_MainPage__1kPWL">
          <div class="MainBannerSlider">
            <div class="styles_Container__13BBU MainBannerSlider__container">
              <div class="styles_MainBannerSlider__contentWrap__dNovr">
                <h1 class="styles_MainBannerSlider__title__1ujuj">
                  БОЛЕЕ 30 ЛЕТ УСПЕШНОЙ РАБОТЫ
                </h1>
              </div>
              <div class="styles_MainBannerSlider__items__8VW7L">
                <div class="styles_MainBannerSlider__itemsWrap__1R0px">
                  <div class="styles_MainBannerSlider__item__Jd_wK">
                    <div class="styles_MainBannerSlider__imageWrap__2MPam">
                      <img
                        class="styles_MainBannerSlider__image__18fdN"
                        src=""
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="styles_MainInfoBlock__1z5HD">
            <div class="styles_Container__13BBU MainInfoBlock__container">
              <div class="styles_MainInfoBlock__contentWrap__2Q4RP">
                <div class="styles_MainInfoBlock__content__3YX6p">
                  <div class="styles_MainInfoBlock__imageWrap__34zwA">
                    <img
                      class="MainInfoBlock__image"
                      src="http://0.0.0.0:8000/static/media/photo.png"
                      alt="http://0.0.0.0:8000/static/media/photo.png"
                    />
                  </div>
                </div>
                <div class="styles_MainInfoBlock__content__3YX6p">
                  <div class="styles_MainInfoBlock__quotes__2PP8v">
                    <svg
                      width="41"
                      height="28"
                      viewBox="0 0 41 28"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M29.9116 28L41 3.9375L33.8061 0L19.9591 22.4219L29.9116 28ZM9.95251 28L21.0409 3.9375L13.847 0L0 22.4219L9.95251 28Z"
                        fill="#B90C2F"
                      ></path>
                    </svg>
                  </div>
                  <div class="styles_MainInfoBlock__quote__Gek-p">
                    Стратегической целью ООО «Самараволгомаш» является
                    достижение лидерства в области проектирования, производства
                    и поставок трубопроводной арматуры, пневматических и
                    пневмогидравлических приводов для нефтяной, газовой и
                    химической промышленности, обеспечивая индивидуальный подход
                    к выполнению всех требований потребителей, стремясь
                    оправдать и превзойти их ожидания в отношении качества.
                  </div>
                  <div class="styles_MainInfoBlock__quote__Gek-p">
                    В своих взаимоотношениях с заказчиком мы стремимся к
                    прозрачности отношений на всех уровнях и честному ведению
                    бизнеса. География поставок продукции ООО «Самараволгомаш»
                    уже достаточно широка. Наши шаровые краны и
                    пневмогидравлические приводы отлично зарекомендовали себя на
                    крупнейших месторождениях нефти и газа России: Уренгойском,
                    Ямбургском, Заполярном, Чаяндинском, Бованенковском,
                    Южно-Русском, Песцовом, Западно-Салымском, Ванкорском,
                    Оренбургском и др.
                  </div>
                  <div class="styles_MainInfoBlock__quote__Gek-p">
                    Совершенствование действующих на предприятии процессов,
                    внедрение инноваций, кадровый и производственный потенциал –
                    все это позволяет нам с уверенным оптимизмом смотреть в
                    будущее и быть готовыми к новым вызовам, покорению новых
                    стратегических высот. За нашими успехами стоит главное –
                    доверие наших заказчиков и партнеров.
                  </div>
                  <div class="styles_MainInfoBlock__quote__Gek-p">
                    <div>
                      <div class="styles_MainInfoBlock__title__IY5Kf">
                        Артемьев Алексей Владиславович
                      </div>
                      <div class="styles_MainInfoBlock__subtitle__2xFzb">
                        Генеральный директор
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="styles_GeographyTable__1AYaG">
            <div class="styles_Container__13BBU GeographyTable__container">
              <h2 class="styles_GeographyTable__title__1WGsS">
                Что отличает наше предприятие от других
              </h2>
              <div class="styles_GeographyTable__itemWrap__YV8jU">
                <div class="styles_GeographyTable__item__2AStO">
                  <div class="GeographyTable__name__Wrapp">
                    <div class="styles_GeographyTable__name__zzyjU">
                      ЛОКАЛИЗАЦИЯ 100%
                    </div>
                  </div>
                </div>
                <div class="styles_GeographyTable__item__2AStO">
                  <div class="GeographyTable__name__Wrapp">
                    <div class="styles_GeographyTable__name__zzyjU">
                      ИНДИВИДУАЛЬНОЕ ПРОЕКТИРОВАНИЕ
                    </div>
                  </div>
                </div>
                <div class="styles_GeographyTable__item__2AStO">
                  <div class="GeographyTable__name__Wrapp">
                    <div class="styles_GeographyTable__name__zzyjU">
                      РАСШИРЕННАЯ ГАРАНТИЯ
                    </div>
                  </div>
                </div>
                <div class="styles_GeographyTable__item__2AStO">
                  <div class="GeographyTable__name__Wrapp">
                    <div class="styles_GeographyTable__name__zzyjU">
                      ЕДИНИЧНЫЕ ПАРТИИ
                    </div>
                  </div>
                </div>
                <div class="styles_GeographyTable__item__2AStO">
                  <div class="GeographyTable__name__Wrapp">
                    <div class="styles_GeographyTable__name__zzyjU">
                      ИСПОЛНЕНИЯ ДЛЯ АГРЕССИВНЫХ СРЕД (МЕТАНОЛ, H₂S, CO₂)
                    </div>
                  </div>
                </div>
                <div class="styles_GeographyTable__item__2AStO">
                  <div class="GeographyTable__name__Wrapp">
                    <div class="styles_GeographyTable__name__zzyjU">
                      ИСПОЛНЕНИЯ ДЛЯ ВЫСОКОТЕМПЕРАТУРНЫХ СРЕД (ДО +250°С)
                    </div>
                  </div>
                </div>
                <div class="styles_GeographyTable__item__2AStO">
                  <div class="GeographyTable__name__Wrapp">
                    <div class="styles_GeographyTable__name__zzyjU">
                      ИСПОЛНЕНИЯ ДЛЯ НИЗКОТЕМПЕРАТУРНЫХ КЛИМАТИЧЕСКИХ ЗОН (ДО –
                      70°С)
                    </div>
                  </div>
                </div>
                <div class="styles_GeographyTable__item__2AStO">
                  <div class="GeographyTable__name__Wrapp">
                    <div class="styles_GeographyTable__name__zzyjU">
                      МИНИМАЛЬНЫЕ СРОКИ ИЗГОТОВЛЕНИЯ
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="styles_MainAboutBlock__1et9S">
            <div class="styles_Container__13BBU Header__container">
              <div class="styles_MainAboutBlock__titleWrap__13iCl">
                <h1 class="styles_MainAboutBlock__title__1wxmL">
                  НАС ЗНАЮТ, НАМ ДОВЕРЯЮТ
                </h1>
              </div>
              <div class="styles_MainAboutBlock__contentWrap__3Kkx_">
                <div class="styles_MainAboutBlock__content__2fXJX">
                  <div class="styles_MainAboutBlock__tabContent__2cyb9">
                    <div class="MainAboutBlock__items">
                      <div class="styles_MainAboutBlock__itemsWrap__3jpsX">
                        <div class="styles_MainAboutBlock__item__9xjiw">
                          <div class="styles_MainAboutBlock__imageWrap__wJ2vL">
                            <img src="" alt="" />
                          </div>
                        </div>
                        <div class="styles_MainAboutBlock__item__9xjiw">
                          <div class="styles_MainAboutBlock__imageWrap__wJ2vL">
                            <img src="" alt="" />
                          </div>
                        </div>
                        <div class="styles_MainAboutBlock__item__9xjiw">
                          <div class="styles_MainAboutBlock__imageWrap__wJ2vL">
                            <img src="" alt="" />
                          </div>
                        </div>
                        <div class="styles_MainAboutBlock__item__9xjiw">
                          <div class="styles_MainAboutBlock__imageWrap__wJ2vL">
                            <img src="" alt="" />
                          </div>
                        </div>
                        <div class="styles_MainAboutBlock__item__9xjiw">
                          <div class="styles_MainAboutBlock__imageWrap__wJ2vL">
                            <img src="" alt="" />
                          </div>
                        </div>
                        <div class="styles_MainAboutBlock__item__9xjiw">
                          <div class="styles_MainAboutBlock__imageWrap__wJ2vL">
                            <img src="" alt="" />
                          </div>
                        </div>
                        <div class="styles_MainAboutBlock__item__9xjiw">
                          <div class="styles_MainAboutBlock__imageWrap__wJ2vL">
                            <img src="" alt="" />
                          </div>
                        </div>
                        <div class="styles_MainAboutBlock__item__9xjiw">
                          <div class="styles_MainAboutBlock__imageWrap__wJ2vL">
                            <img src="" alt="" />
                          </div>
                        </div>
                        <div class="styles_MainAboutBlock__item__9xjiw">
                          <div class="styles_MainAboutBlock__imageWrap__wJ2vL">
                            <img src="" alt="" />
                          </div>
                        </div>
                        <div class="styles_MainAboutBlock__item__9xjiw">
                          <div class="styles_MainAboutBlock__imageWrap__wJ2vL">
                            <img src="" alt="" />
                          </div>
                        </div>
                        <div class="styles_MainAboutBlock__item__9xjiw">
                          <div class="styles_MainAboutBlock__imageWrap__wJ2vL">
                            <img src="" alt="" />
                          </div>
                        </div>
                        <div class="styles_MainAboutBlock__item__9xjiw">
                          <div class="styles_MainAboutBlock__imageWrap__wJ2vL">
                            <img src="" alt="" />
                          </div>
                        </div>
                        <div class="styles_MainAboutBlock__item__9xjiw">
                          <div class="styles_MainAboutBlock__imageWrap__wJ2vL">
                            <img src="" alt="" />
                          </div>
                        </div>
                        <div class="styles_MainAboutBlock__item__9xjiw">
                          <div class="styles_MainAboutBlock__imageWrap__wJ2vL">
                            <img src="" alt="" />
                          </div>
                        </div>
                        <div class="styles_MainAboutBlock__item__9xjiw">
                          <div class="styles_MainAboutBlock__imageWrap__wJ2vL">
                            <img src="" alt="" />
                          </div>
                        </div>
                        <div class="styles_MainAboutBlock__item__9xjiw">
                          <div class="styles_MainAboutBlock__imageWrap__wJ2vL">
                            <img src="" alt="" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
        <div class="styles_Footer__2ZGOI">
          <div class="styles_Container__13BBU styles_Footer__container__lf_az">
            <div class="styles_Footer__list__grid__2wzSS">
              <div class="styles_Footer__listHeader__2W4f6">
                <a href="/">Главная</a>
              </div>
              <div class="styles_Footer__listHeader__2W4f6">
                <a href="/history">История</a>
              </div>
              <div class="styles_Footer__listHeader__2W4f6">
                <a href="/about-us">Самараволгомаш сегодня</a>
              </div>
              <div class="styles_Footer__listHeader__2W4f6">
                <a href="/products">Серийная продукция </a>
              </div>
              <div class="styles_Footer__listHeader__2W4f6">
                <a href="/career">Вакансии</a>
              </div>
              <div class="styles_Footer__listHeader__2W4f6">
                <a href="/contacts">Контакты</a>
              </div>
            </div>
            <div class="styles_Footer__wrapper__2lKb_">
              <div class="styles_Footer__listWrapp__1lsbj">
                <div class="styles_Footer__list__3vU1E">
                  <div class="styles_Footer__listHeader__2W4f6">
                    <svg
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M19.5723 16.1361L28.0003 21.7163V10.3203L19.5723 16.1361Z"
                        fill="white"
                      ></path>
                      <path
                        d="M3 10.3203V21.7163L11.428 16.1361L3 10.3203Z"
                        fill="white"
                      ></path>
                      <path
                        d="M26.4367 7H4.56205C3.78237 7 3.16363 7.60874 3.04645 8.39259L15.4994 16.9854L27.9523 8.39259C27.8351 7.60874 27.2164 7 26.4367 7Z"
                        fill="white"
                      ></path>
                      <path
                        d="M18.1412 17.1266L15.9303 18.6518C15.799 18.7418 15.6506 18.786 15.5006 18.786C15.3506 18.786 15.2022 18.7418 15.0709 18.6518L12.86 17.125L3.05078 23.6232C3.17109 24.4005 3.78671 25.0043 4.56326 25.0043H26.4379C27.2145 25.0043 27.8301 24.4005 27.9504 23.6232L18.1412 17.1266Z"
                        fill="white"
                      ></path></svg
                    ><a href="/products">mail@samaravolgomash.ru</a>
                  </div>
                  <div class="styles_Footer__listHeader__2W4f6">
                    <svg
                      width="25"
                      height="28"
                      viewBox="0 0 25 28"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M23.0263 18.4358C21.4842 18.4358 19.9737 18.1661 18.5421 17.637C17.8434 17.3674 17.05 17.5751 16.5908 18.0998L13.7526 20.5004C10.4961 18.5537 8.41185 16.2209 6.69739 12.6L8.7829 9.49643C9.3079 8.90843 9.49608 8.04777 9.27108 7.24169C8.79474 5.628 8.55266 3.93474 8.55266 2.21053C8.55266 0.991767 7.66715 0 6.57897 0H1.97369C0.885506 0 0 0.991767 0 2.21053C0 16.4301 10.3303 28 23.0263 28C24.1145 28 25 27.0082 25 25.7895V20.6463C25 19.4276 24.1145 18.4358 23.0263 18.4358Z"
                        fill="white"
                      ></path>
                    </svg>
                    <div class="styles_Footer__listHeaderPhone__27M02">
                      <a href="/products">+7 846 309-07-47</a
                      ><a href="/products">+7 846 309-23-08</a>
                    </div>
                  </div>
                </div>
                <div class="styles_Footer__listHeader__2W4f6">
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M15.9999 2C10.4859 2 6 6.60737 6 12.2708C6 17.7494 15.1423 30.2315 15.5317 30.7607C15.6412 30.9118 15.8165 31 16 31C16.1835 31 16.3588 30.9118 16.4683 30.7607C16.8576 30.2315 26 17.7494 26 12.2708C25.9999 6.60737 21.514 2 15.9999 2ZM15.9999 17.7083C13.0811 17.7083 10.7058 15.2687 10.7058 12.2708C10.7058 9.27294 13.0811 6.83331 15.9999 6.83331C18.9188 6.83331 21.294 9.27294 21.294 12.2708C21.294 15.2687 18.9188 17.7083 15.9999 17.7083Z"
                      fill="white"
                    ></path></svg
                  ><a href="/products"
                    >443042, Россия, г.Самара, ул. Белорусская, 88</a
                  >
                </div>
              </div>
              <div class="styles_Footer__trademarkWrapper__1Krfy">
                <div class="styles_Footer__trademark__2RzRi">
                  <div class="Footer__trademark-list">
                    <div class="styles_Footer__trademark-listItem__p0gdC">
                      Политика обработки персональных данных
                    </div>
                    <div class="styles_Footer__trademark-listItem__p0gdC">
                      Политика конфиденциальности
                    </div>
                    <div class="styles_Footer__trademark-listItem__p0gdC">
                      Пользовательское соглашение
                    </div>
                  </div>
                </div>
                <div class="styles_Footer__trademark__2RzRi">
                  <div class="Footer__trademark-list">
                    <div
                      class="styles_Footer__trademark-listItem__p0gdC styles_Footer__trademark-listItemNoHover__36qST"
                    >
                      © 1991–2022 «Самараволгомаш»
                    </div>
                    <div
                      class="styles_Footer__trademark-listItem__p0gdC styles_Footer__trademark-listItemNoHover__36qST styles_Footer__trademark-listLogoWrap__2KJR5"
                    >
                      Сайт разработан в
                      <div class="styles_Footer__trademark-listLogo__Jiqoj">
                        <svg
                          width="54"
                          height="24"
                          viewBox="0 0 54 24"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <g clip-path="url(#a)">
                            <path
                              d="M9.16749 19.6034C6.5176 19.3891 4.34275 18.3649 2.61327 16.5036C0.883782 14.6422 0.046875 12.4071 0.046875 9.84768C0.046875 7.12523 1.00255 4.80462 2.91389 2.88584C4.82523 0.978668 7.2376 0.0351562 10.1232 0.0351562C13.0087 0.0351562 15.4192 0.978668 17.3306 2.89134C19.2419 4.80401 20.1976 7.12523 20.1976 9.85317C20.2203 11.7441 19.6796 13.6 18.6425 15.19C17.6313 16.7684 16.1677 18.0144 14.4376 18.7698C14.7504 19.1482 15.1478 19.4498 15.5986 19.651C16.0493 19.8522 16.5412 19.9475 17.0355 19.9295C17.827 19.937 18.607 19.7419 19.2995 19.3634V23.3793C18.3353 23.7972 17.2924 24.0089 16.2395 24.0003C13.9458 24.0003 11.8155 22.8407 9.16749 19.6034ZM10.1232 15.1826C10.7938 15.1976 11.4599 15.0706 12.0767 14.8102C12.6935 14.5499 13.2467 14.1621 13.699 13.673C14.6547 12.6764 15.1465 11.3811 15.1465 9.84585C15.1465 8.31058 14.6603 7.01714 13.699 6.01867C13.2464 5.52998 12.6932 5.14247 12.0764 4.88211C11.4597 4.62175 10.7937 4.49455 10.1232 4.50905C9.44818 4.49437 8.77774 4.62136 8.15618 4.8816C7.53462 5.14184 6.97611 5.52941 6.5176 6.01867C5.56749 7.01714 5.09801 8.31058 5.09801 9.84768C5.09801 11.3848 5.56749 12.6782 6.5176 13.6749C6.97581 14.1645 7.53427 14.5523 8.1559 14.8126C8.77753 15.0728 9.44812 15.1996 10.1232 15.1845V15.1826Z"
                              fill="white"
                            ></path>
                            <path
                              d="M23.6562 16.4959V4.84766H27.3527V15.6312C27.3527 16.1661 27.6033 16.4354 28.1043 16.4354C28.3225 16.4413 28.5386 16.3915 28.7315 16.2907V19.1561C28.2082 19.4254 27.5198 19.5481 26.6903 19.5481C24.6583 19.5481 23.6562 18.5386 23.6562 16.4959Z"
                              fill="white"
                            ></path>
                            <path
                              d="M30.3173 18.5807C29.9662 18.2623 29.6892 17.8726 29.5053 17.4383C29.3214 17.0041 29.235 16.5357 29.2521 16.0653C29.2725 13.6946 31.4455 12.6228 33.3866 12.6851C34.3141 12.6602 35.2353 12.8431 36.081 13.2201V13.0754C36.081 12.3334 35.7674 11.8387 35.2051 11.6537C34.6964 11.4721 34.1573 11.3881 33.6167 11.4064C32.5376 11.3945 31.4736 11.6569 30.527 12.1685V9.30315C31.6404 8.78834 32.969 8.54102 34.5148 8.54102C36.0606 8.54102 37.3336 8.93124 38.2948 9.69521C39.256 10.4592 39.7367 11.4686 39.7367 12.7676V15.9389C39.7367 16.3053 39.9451 16.4885 40.362 16.4885C40.5715 16.4984 40.7802 16.4562 40.9688 16.3657V18.9636C40.5086 19.3135 39.8814 19.5004 39.089 19.5004C37.8569 19.5004 36.9791 19.1083 36.4911 18.3041C35.6362 19.1285 34.5086 19.5407 33.1082 19.5407C31.967 19.5499 31.028 19.2201 30.3173 18.5807ZM36.081 16.199V15.0998C35.6303 14.785 35.0869 14.626 34.5352 14.6473C33.6074 14.6473 32.8855 15.1419 32.8855 15.9041C32.8855 16.6662 33.5332 17.1004 34.3701 17.1004C34.7114 17.112 35.0497 17.0338 35.3504 16.8738C35.651 16.7138 35.9032 16.4778 36.081 16.1899V16.199Z"
                              fill="white"
                            ></path>
                            <path
                              d="M46.0481 19.2826H42.3516V4.84961H46.0481V9.97938C46.7996 9.01022 47.8648 8.53755 49.2213 8.53755C49.8831 8.52678 50.5388 8.66389 51.1394 8.93864C51.74 9.21338 52.2699 9.61865 52.6895 10.1241C53.6081 11.1757 54.0664 12.4746 54.0664 14.0411C54.0664 15.6075 53.6081 16.9284 52.6895 17.98C52.2689 18.4829 51.7383 18.8851 51.1376 19.1564C50.5369 19.4278 49.8817 19.5611 49.2213 19.5464C47.8239 19.5464 46.7792 19.0719 46.0481 18.1027V19.2826ZM50.3922 14.0447C50.3922 12.6634 49.4643 11.6337 48.1654 11.6337C47.7448 11.6138 47.3265 11.7067 46.9551 11.9025C46.5836 12.0983 46.2727 12.3897 46.0555 12.7458V15.3437C46.2725 15.7001 46.5833 15.9919 46.9547 16.188C47.3262 16.3841 47.7446 16.4773 48.1654 16.4575C49.4736 16.4575 50.3922 15.4261 50.3922 14.0447Z"
                              fill="white"
                            ></path>
                            <path
                              d="M16.8222 20.4431C18.7779 20.4431 20.3632 18.8513 20.3632 16.8876C20.3632 14.9239 18.7779 13.332 16.8222 13.332C14.8666 13.332 13.2812 14.9239 13.2812 16.8876C13.2812 18.8513 14.8666 20.4431 16.8222 20.4431Z"
                              fill="url(#b)"
                            ></path>
                          </g>
                          <defs>
                            <linearGradient
                              id="b"
                              x1="15.0525"
                              y1="19.9668"
                              x2="18.6153"
                              y2="13.8211"
                              gradientUnits="userSpaceOnUse"
                            >
                              <stop stop-color="#8947EC"></stop>
                              <stop offset="1" stop-color="#70D3F0"></stop>
                            </linearGradient>
                            <clipPath id="a">
                              <rect width="54" height="24" fill="white"></rect>
                            </clipPath>
                          </defs>
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script id="__NEXT_DATA__" type="application/json">
      {
        "props": { "pageProps": {} },
        "page": "/",
        "query": {},
        "buildId": "AyJg92hfV-16jcG-Zmivz",
        "nextExport": true,
        "autoExport": true,
        "isFallback": false,
        "scriptLoader": []
      }
    </script>
  </body>
</html>
