.styles_Arrow__1qcSu {
    position: relative;
    display: -webkit-flex;
    display: flex;
    width: 42px;
    height: 30px;
    cursor: pointer;
    color: #292c31;
    border: none;
    background: #f5f5f5;
    -webkit-transition: color .35s, background-color .35s, border-color .35s;
    transition: color .35s, background-color .35s, border-color .35s;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
}

.styles_Arrow_disabled__2lel5 {
    color: #d4d5d6
}

.styles_Arrow_white__s62dv {
    width: 55px;
    height: 33px;
    color: #fff
}

.styles_Arrow_white__s62dv svg {
    width: 55px;
    height: 33px
}

.styles_Arrow_white__s62dv svg>path {
    fill: #fff
}

.styles_Arrow_blue__2rF_U {
    width: 55px;
    height: 33px;
    color: #03439a;
    background: transparent
}

.styles_Arrow_blue__2rF_U svg {
    width: 55px;
    height: 33px
}

.styles_Arrow_blue__2rF_U svg>path {
    fill: #03439a
}

.styles_Arrow__1qcSu svg {
    display: block
}

.styles_Arrow__1qcSu:hover>svg * {
    fill: #03439a
}

.styles_MainBlockSlider__1CQVq {
    margin: 0
}

@media(max-width:1599px) {
    .styles_MainBlockSlider__1CQVq {
        margin: 0
    }
}

.styles_MainBlockSlider__titleWrap__2npWm {
    overflow: hidden;
    border-bottom: 1px solid #54565a;
    margin-top: 84px
}

@media(max-width:767px) {
    .styles_MainBlockSlider__titleWrap__2npWm {
        margin-left: 16px;
        margin-right: 16px
    }
}

.styles_MainBlockSlider__title__GVvHV {
    padding-bottom: 24px;
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
    line-height: 110%;
    text-transform: uppercase;
    cursor: default
}

@media(max-width:1599px) {
    .styles_MainBlockSlider__title__GVvHV {
        font-size: 48px
    }
}

@media(max-width:1024px) {
    .styles_MainBlockSlider__title__GVvHV {
        font-size: 32px
    }
}

@media(max-width:767px) {
    .styles_MainBlockSlider__title__GVvHV {
        font-size: 28px
    }

    .styles_MainBlockSlider__contentWrap__3Dz1a {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px
    }
}

.styles_MainBlockSlider__content__2vjIA {
    display: inline-block;
    width: 50%;
    vertical-align: top
}

.styles_MainBlockSlider__content__2vjIA:first-child {
    width: 51.581%
}

.styles_MainBlockSlider__content__2vjIA:last-child {
    width: 48.419%
}

@media(max-width:767px) {

    .styles_MainBlockSlider__content__2vjIA,
    .styles_MainBlockSlider__content__2vjIA:first-child,
    .styles_MainBlockSlider__content__2vjIA:last-child {
        width: 100%
    }
}

.styles_MainBlockSlider__textWrap__3MHSV {
    margin-top: 40px
}

@media(max-width:1024px) {
    .styles_MainBlockSlider__textWrap__3MHSV {
        padding-right: 30px;
        padding-top: 40px;
        margin-top: 0;
        margin-left: 0
    }
}

@media(max-width:767px) {
    .styles_MainBlockSlider__textWrap__3MHSV {
        margin-top: 24px;
        padding: 0;
        width: 100%
    }
}

.styles_MainBlockSlider__description__1iA1- {
    margin-bottom: 36px;
    margin-right: 80px;
    cursor: default;
    text-align: justify;
    text-indent: 22px;
    font-weight: 400;
    font-style: normal;
    font-size: 21.6px;
    line-height: 135%
}

@media(max-width:1599px) {
    .styles_MainBlockSlider__description__1iA1- {
        margin-right: 40px;
        font-size: 18px
    }
}

@media(max-width:1024px) {
    .styles_MainBlockSlider__description__1iA1- {
        font-size: 16px;
        max-width: none
    }
}

@media(max-width:767px) {
    .styles_MainBlockSlider__description__1iA1- {
        margin-right: 0;
        margin-bottom: 16px;
        font-size: 16px
    }
}

.styles_MainBlockSlider__items__23xfm {
    overflow: hidden
}

@media(max-width:767px) {
    .styles_MainBlockSlider__items__23xfm {
        width: 100%;
        height: 363px
    }
}

.styles_MainBlockSlider__itemsWrap__h6h8q {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start
}

.styles_MainBlockSlider__item__3s0rQ {
    width: 100%;
    padding-top: 40px;
    border-top: 0;
    border-right: none;
    border-bottom: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0
}

.styles_MainBlockSlider__imageWrap__OtOyb {
    position: relative;
    width: 100%
}

@media(max-width:767px) {
    .styles_MainBlockSlider__imageWrap__OtOyb {
        height: 363px
    }
}

.styles_MainBlockSlider__imageWrap__OtOyb:before {
    display: block;
    padding-top: 66.123%;
    content: ""
}

.styles_MainBlockSlider__image__3M5AI {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.styles_MainBlockSlider__navigationWrap__2UI9g {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 16px 0 24px
}

.styles_MainBlockSlider__navigation__3mEsM {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center
}

.styles_MainBlockSlider__navigation_currentSlide__17NMK {
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    line-height: 135%;
    color: #292c31
}

.styles_MainBlockSlider__navigation_allSlides__eHyre {
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    line-height: 135%;
    color: #a9abad
}

.styles_MainBlockSlider__arrowWrap__2zhLJ {
    display: -webkit-flex;
    display: flex
}

.styles_MainBlockSlider__arrow_next__2txUl {
    margin-right: -4px
}

.styles_MainBlockSlider__arrow_disabled__1l_wq,
.styles_MainBlockSlider__arrow_disabled__1l_wq:hover {
    color: #d4d5d6
}

.styles_MainBlockSlider__iconsWrap__3Ge7J {
    margin-right: 22px
}

.styles_MainBlockSlider__buttonWrapper__3l110 {
    display: -webkit-flex;
    display: flex;
    cursor: pointer;
    max-width: 360px
}

.styles_MainBlockSlider__buttonWrap__218op {
    width: 359px
}

.styles_MainBlockSlider__buttonWrap__218op button {
    width: inherit
}

@media(max-width:767px) {
    .styles_MainBlockSlider__buttonWrap__218op button {
        width: auto
    }
}

@media(max-width:1600px) {
    .styles_MainBlockSlider__buttonWrap__218op {
        width: 309px
    }
}

.styles_AboutCompanyBlock__linkWrapp__3phSn {
    display: -webkit-flex;
    display: flex
}

@media(max-width:1024px) {
    .styles_AboutCompanyBlock__linkWrapp__3phSn {
        font-size: 18px
    }
}

.styles_AboutCompanyBlock__index__an6C_ {
    padding-right: 40px
}

.styles_AboutCompanyBlock__titleWrap__2wLxf {
    border-bottom: 1px solid #54565a
}

@media(max-width:767px) {
    .styles_AboutCompanyBlock__titleWrap__2wLxf {
        margin-left: 16px;
        margin-right: 16px
    }
}

.styles_AboutCompanyBlock__title__2aKzq {
    padding-bottom: 24px;
    font-weight: 600;
    font-style: normal;
    font-size: 57.6px;
    line-height: 110%;
    text-transform: uppercase;
    cursor: default
}

@media(max-width:1599px) {
    .styles_AboutCompanyBlock__title__2aKzq {
        font-size: 48px
    }
}

@media(max-width:1024px) {
    .styles_AboutCompanyBlock__title__2aKzq {
        font-size: 32px
    }
}

@media(max-width:767px) {
    .styles_AboutCompanyBlock__title__2aKzq {
        font-size: 28px;
        padding-bottom: 16px
    }
}

.styles_AboutCompanyBlock__contentWrap__ZbOPW {
    border-top: 1px solid #54565a;
    border-bottom: 1px solid #54565a
}

@media(max-width:1024px) {
    .styles_AboutCompanyBlock__contentWrap__ZbOPW {
        -webkit-flex-direction: column;
        flex-direction: column
    }
}

@media(max-width:767px) {
    .styles_AboutCompanyBlock__contentWrap__ZbOPW {
        margin-left: 16px;
        margin-right: 16px
    }
}

.styles_AboutCompanyBlock__content__31iyM {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    margin-top: 56px
}

.styles_AboutCompanyBlock__content__31iyM:first-child {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: unset
}

.styles_AboutCompanyBlock__content__31iyM:last-child,
.styles_AboutCompanyBlock__content__31iyM:nth-child(2),
.styles_AboutCompanyBlock__content__31iyM:nth-child(3) {
    display: -webkit-flex;
    display: flex;
    width: unset
}

@media(max-width:767px) {
    .styles_AboutCompanyBlock__content__31iyM {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        align-items: center;
        border-bottom-width: 0;
        margin-top: 0
    }

    .styles_AboutCompanyBlock__content__31iyM:first-child {
        border-bottom-width: 0
    }

    .styles_AboutCompanyBlock__content__31iyM:nth-child(2) {
        margin-top: 36px
    }

    .styles_AboutCompanyBlock__content__31iyM:nth-child(3) {
        margin-top: 24px
    }
}

.styles_AboutCompanyBlock__sliderBlock__10Dx7 {
    width: 48.419%
}

@media(max-width:767px) {
    .styles_AboutCompanyBlock__sliderBlock__10Dx7 {
        display: none
    }

    .styles_AboutCompanyBlock__descriptionBlock__SfVq5 {
        width: auto
    }
}

.styles_AboutCompanyBlock__textWrap__2DWGq {
    padding-top: 32px;
    margin-top: 16px;
    padding-bottom: 32px;
    margin-bottom: 16px;
    width: 33.3%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    border-right: 1px solid #d4d5d6
}

.styles_AboutCompanyBlock__textWrap__2DWGq:nth-child(3n) {
    border-right: none
}

@media(max-width:1024px) {
    .styles_AboutCompanyBlock__textWrap__2DWGq {
        -webkit-flex-direction: column;
        flex-direction: column;
        text-align: center;
        -webkit-justify-content: flex-start;
        justify-content: flex-start
    }
}

@media(max-width:767px) {
    .styles_AboutCompanyBlock__textWrap__2DWGq {
        -webkit-flex-direction: column;
        flex-direction: column;
        width: 100%;
        border-right-width: 0;
        border-bottom: 1px solid #d4d5d6;
        margin: 0;
        padding-top: 24px
    }
}

.styles_AboutCompanyBlock__fact__a9P_l {
    max-width: 50%
}

@media(max-width:1024px) {
    .styles_AboutCompanyBlock__fact__a9P_l {
        max-width: 90%
    }
}

@media(max-width:767px) {
    .styles_AboutCompanyBlock__fact__a9P_l {
        text-align: center;
        margin-top: 12px;
        max-width: 222px
    }
}

.styles_AboutCompanyBlock__description__3BS93 {
    margin-bottom: 36px;
    max-width: 660px;
    cursor: default;
    margin-left: 40px;
    white-space: pre-line
}

@media(max-width:1024px) {
    .styles_AboutCompanyBlock__description__3BS93 {
        font-size: 16px;
        width: 50%
    }
}

@media(max-width:767px) {
    .styles_AboutCompanyBlock__description__3BS93 {
        width: 100%;
        margin-left: 0;
        margin-top: 24px;
        font-size: 16.8px
    }
}

.styles_AboutCompanyBlock__numberWrap__pGFtc {
    margin-right: 24px
}

@media(max-width:1024px) {
    .styles_AboutCompanyBlock__numberWrap__pGFtc {
        margin-right: 0
    }
}

@media(max-width:767px) {
    .styles_AboutCompanyBlock__numberWrap__pGFtc {
        margin-right: 0
    }
}

.styles_AboutCompanyBlock__number__2P-EW {
    position: relative;
    color: #54565a;
    font-weight: 600;
    font-style: normal;
    font-size: 43.2px;
    line-height: 110%
}

@media(max-width:1599px) {
    .styles_AboutCompanyBlock__number__2P-EW {
        font-size: 36px
    }
}

.styles_AboutCompanyBlock__underline__Om80a {
    display: block;
    width: auto;
    height: 3px;
    background: #b90c2f
}

.styles_AboutCompanyBlock__items__2W2eS {
    overflow: hidden
}

.styles_AboutCompanyBlock__itemsWrap__Vwn1A {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start
}

.styles_AboutCompanyBlock__item__QzW_d {
    width: 100%;
    border-top: 0;
    border-right: none;
    border-bottom: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0
}

.styles_AboutCompanyBlock__textImageWrap__1SvLp {
    position: relative;
    width: 50%
}

.styles_AboutCompanyBlock__textImageWrap__1SvLp:before {
    display: block;
    padding-top: 66.123%;
    content: ""
}

@media(max-width:767px) {
    .styles_AboutCompanyBlock__textImageWrap__1SvLp {
        width: 100%;
        object-fit: cover;
        height: 328px
    }
}

.styles_AboutCompanyBlock__imageWrap__3txvZ {
    position: relative;
    width: 100%
}

.styles_AboutCompanyBlock__imageWrap__3txvZ:before {
    display: block;
    padding-top: 66.123%;
    content: ""
}

.styles_AboutCompanyBlock__image__1Efsd {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.styles_AboutCompanyBlock__linkWrap__2SeVm {
    width: 50%;
    margin-right: 40px
}

@media(max-width:767px) {
    .styles_AboutCompanyBlock__linkWrap__2SeVm {
        width: 100%;
        margin-right: 0
    }
}

.styles_AboutCompanyBlock__link__dBhmC {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 24px 0;
    border-bottom: 1px solid #d4d5d6;
    cursor: pointer;
    font-weight: 600;
    font-style: normal;
    font-size: 26.4px;
    line-height: 130%;
    -webkit-transition: -webkit-transform .35s;
    transition: -webkit-transform .35s;
    transition: transform .35s;
    transition: transform .35s, -webkit-transform .35s
}

@media(max-width:1599px) {
    .styles_AboutCompanyBlock__link__dBhmC {
        font-size: 22px
    }
}

.styles_AboutCompanyBlock__link__dBhmC:first-child {
    border-top: 1px solid #d4d5d6
}

.styles_AboutCompanyBlock__link__dBhmC:hover {
    color: #03439a;
    -webkit-transform: scaleX(.99);
    transform: scaleX(.99);
    -webkit-transform-origin: left right;
    transform-origin: left right
}

.styles_AboutCompanyBlock__link__dBhmC:hover>.styles_AboutCompanyBlock__index__an6C_ {
    margin-left: 20px
}

.styles_AboutCompanyBlock__link__dBhmC:hover>.styles_AboutCompanyBlock__arrowSingle__2X98l {
    margin-right: 20px
}

.styles_AboutCompanyBlock__link__dBhmC:hover>.styles_AboutCompanyBlock__arrowSingle__2X98l svg>path {
    fill: #03439a
}

.styles_AboutCompanyBlock__navigationWrap__1L2il {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 16px 0 24px
}

.styles_AboutCompanyBlock__navigation__4yFdB {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center
}

.styles_AboutCompanyBlock__navigation_currentSlide__1nBuA {
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    line-height: 135%;
    color: #292c31
}

.styles_AboutCompanyBlock__navigation_allSlides__TEcGb {
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    line-height: 135%;
    color: #a9abad
}

.styles_AboutCompanyBlock__arrowWrap__uJLch {
    display: -webkit-flex;
    display: flex
}

.styles_AboutCompanyBlock__arrow_next__3QlZr {
    margin-right: -4px
}

.styles_AboutCompanyBlock__arrow_disabled__3U4Qi,
.styles_AboutCompanyBlock__arrow_disabled__3U4Qi:hover {
    color: #d4d5d6
}

.styles_AboutCompanyBlock__iconsWrap__2fZbv {
    margin-right: 22px
}

.styles_AboutCompanyBlock__buttonWrapper__121-h {
    display: -webkit-flex;
    display: flex;
    cursor: pointer;
    max-width: 360px
}

.styles_AboutPotentialBlock__titleWrap__1tArW {
    max-width: 427px
}

@media(max-width:1024px) {
    .styles_AboutPotentialBlock__titleWrap__1tArW {
        max-width: 530px
    }
}

.styles_AboutPotentialBlock__title__1fceU {
    padding-bottom: 40px;
    font-weight: 600;
    font-style: normal;
    font-size: 57.6px;
    line-height: 110%;
    text-transform: uppercase;
    cursor: default
}

@media(max-width:1599px) {
    .styles_AboutPotentialBlock__title__1fceU {
        font-size: 48px
    }
}

@media(max-width:1024px) {
    .styles_AboutPotentialBlock__title__1fceU {
        font-size: 32px
    }
}

@media(max-width:767px) {
    .styles_AboutPotentialBlock__title__1fceU {
        font-size: 28px
    }
}

.styles_AboutPotentialBlock__contentWrap__2DPIY {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column
}

.styles_AboutPotentialBlock__content__1U5Tp:first-child {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

@media(max-width:1024px) {
    .styles_AboutPotentialBlock__content__1U5Tp {
        -webkit-flex-direction: column;
        flex-direction: column
    }
}

@media(max-width:767px) {
    .styles_AboutPotentialBlock__content__1U5Tp:first-child {
        -webkit-flex-direction: column;
        flex-direction: column;
        margin-right: 16px;
        margin-left: 16px
    }

    .styles_AboutPotentialBlock__content__1U5Tp:nth-child(2) {
        margin-right: 16px;
        margin-left: 16px
    }
}

.styles_AboutPotentialBlock__tabs__WTuKD {
    display: -webkit-flex;
    display: flex;
    margin-top: 0 !important;
    padding-bottom: 7px;
    border-bottom: 1px solid #d4d5d6
}

.styles_AboutPotentialBlock__tabsWrap__1mM9A {
    margin-right: 56px;
    margin-top: 0 !important
}

.styles_AboutPotentialBlock__tabContent__2JHTf {
    margin-top: 40px
}

.styles_AboutPotentialBlock__itemsWrap__zYYpI {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 32px;
    border-bottom: 1px solid #54565a
}

.styles_AboutPotentialBlock__item__2brWG {
    width: 20.726%;
    padding-bottom: 24px;
    border-top: 0;
    border-bottom: 0
}

.styles_AboutPotentialBlock__item__2brWG:nth-child(4n) {
    margin-right: 0
}

.styles_AboutPotentialBlock__imageWrap__y3JHq {
    width: 100%;
    position: relative;
    -webkit-transition: duration .4s;
    transition: duration .4s;
    cursor: pointer
}

.styles_AboutPotentialBlock__imageWrap__y3JHq,
.styles_AboutPotentialBlock__imageWrap__y3JHq:hover>.styles_MainAboutBlock__imageTop__39TEH {
    display: -webkit-inline-flex;
    display: inline-flex
}

.styles_AboutPotentialBlock__imageWrap__y3JHq:hover>.styles_MainAboutBlock__image__2Z5z1 {
    display: none
}

.styles_AboutPotentialBlock__image__1uP4m {
    width: 100%
}

.styles_AboutPotentialBlock__imageTop__2_swv {
    display: none;
    position: absolute;
    top: -10px;
    left: 20px;
    z-index: 10
}

@media(max-width:1680px) {
    .styles_AboutPotentialBlock__imageTop__2_swv {
        top: -20px;
        left: 5px
    }
}

@media(max-width:1599px) {
    .styles_AboutPotentialBlock__imageTop__2_swv {
        top: -20px;
        left: -4px
    }
}

.styles_AboutPotentialBlock__achievements__38ERA {
    overflow: hidden
}

.styles_AboutPotentialBlock__achievementsWrap__fZqcQ {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start
}

.styles_AboutPotentialBlock__achievement__2x_L- {
    margin-right: 40px;
    width: 22.763%;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column
}

@media(max-width:1024px) {
    .styles_AboutPotentialBlock__achievement__2x_L- {
        width: 30%
    }
}
@media(max-width:1440px) {
    .styles_AboutPotentialBlock__achievementImage__3HWGI {
        height: 400px;
    }
}
@media(min-width:1920px) {
    .styles_AboutPotentialBlock__achievementImage__3HWGI {
        height: 550px;
    }
}

@media(max-width:767px) {
    .styles_AboutPotentialBlock__achievement__2x_L- {
        width: 66%;
        padding-right: 16px;
        margin-right: 0
    }
}

.styles_AboutPotentialBlock__achievementImageWrap__1b0QZ {
    position: relative;
    width: 100%
}

.styles_AboutPotentialBlock__achievementImage__3HWGI {
    width: 100%;
    object-fit: cover;
    display: block
}

.styles_AboutPotentialBlock__achievementButtonWrap__1xoZA {
    padding-bottom: 7px;
    margin-top: auto
}

.styles_AboutPotentialBlock__navigationBlock__2CHww {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-top: 24px
}

.styles_AboutPotentialBlock__navigation__3MdU6 {
    display: none
}

.styles_AboutPotentialBlock__navigationTitleWrap__2tgp- {
    margin-bottom: 24px
}

.styles_AboutPotentialBlock__navigationTitle__36tTH {
    font-weight: 600;
    font-style: normal;
    font-size: 26.4px;
    line-height: 130%
}

@media(max-width:1599px) {
    .styles_AboutPotentialBlock__navigationTitle__36tTH {
        font-size: 22px
    }
}

.styles_AboutPotentialBlock__arrowWrap__3nm6H {
    display: -webkit-flex;
    display: flex
}

@media(max-width:1024px) {
    .styles_AboutPotentialBlock__arrowWrap__3nm6H {
        display: none
    }
}

@media(max-width:767px) {
    .styles_AboutPotentialBlock__arrowWrap__3nm6H {
        display: none
    }
}

.styles_AboutPotentialBlock__description__1JlYG {
    text-indent: 22px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    margin-bottom: 40px;
    text-align: justify;
    text-indent: 24px;
    white-space: pre-wrap;
    font-size: 21.6px;
    cursor: default
}

@media(max-width:1599px) {
    .styles_AboutPotentialBlock__description__1JlYG {
        font-size: 18px
    }
}

@media(max-width:1024px) {
    .styles_AboutPotentialBlock__description__1JlYG {
        max-width: unset
    }
}

.styles_AboutPotentialBlock__achievementDescription__1Q7Ih {
    margin-top: 20px;
    margin-bottom: 24px;
    max-width: 561px;
    cursor: default;
    font-weight: 600;
    font-style: normal;
    font-size: 19.2px;
    line-height: 120%
}

@media(max-width:1599px) {
    .styles_AboutPotentialBlock__achievementDescription__1Q7Ih {
        font-size: 16px
    }
}

.styles_AboutPotentialBlock__tabs__WTuKD {
    margin-top: 40px
}

.styles_AboutPotentialBlock__tabsWrap__1mM9A {
    margin-top: 32px;
    max-width: 306px
}

.styles_AboutPotentialBlock__tabsWrap__1mM9A:first-child {
    margin-top: 0
}

@media(max-width:1599px) {
    .styles_AboutPotentialBlock__tabsWrap__1mM9A {
        max-width: 249px
    }
}

.styles_AboutPotentialBlock__tabsWrap__1mM9A button {
    font-weight: 600;
    font-style: normal;
    font-size: 26.4px;
    line-height: 130%
}

.styles_AboutPotentialBlock__tabsWrap__1mM9A button:after {
    height: 2px;
    top: 39px
}

@media(max-width:1599px) {
    .styles_AboutPotentialBlock__tabsWrap__1mM9A button {
        font-size: 22px
    }

    .styles_AboutPotentialBlock__tabsWrap__1mM9A button:after {
        top: 35px
    }
}

.styles_AboutPotentialBlock__tabsWrap_active__ckVVy .styles_AboutPotentialBlock__button__3u8Pc:hover {
    color: #292c31
}

.styles_AboutPotentialBlock__tabsWrap_inActive__2dFxa .styles_AboutPotentialBlock__button__3u8Pc {
    color: #7f8083
}

.styles_AboutPotentialBlock__tabsWrap_inActive__2dFxa .styles_AboutPotentialBlock__button__3u8Pc:after {
    display: none
}

.styles_AboutPotentialBlock__buttonWrap__2B6QY {
    margin-top: 36px
}

.styles_AboutPotentialBlock__buttonWrap_active__3Wtk0 {
    color: #03439a
}

.styles_AboutPotentialBlock__button_active__3ygIu:after {
    position: absolute;
    top: 34px;
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background: #b90c2f
}

@media(max-width:1599px) {
    .styles_AboutPotentialBlock__button_active__3ygIu:after {
        top: 40px
    }
}

.styles_AboutPotentialBlock__button_active__3ygIu:hover {
    color: #292c31
}

.styles_AboutPotentialBlock__button_inactive__3Tl7f {
    color: #7f8083
}

.styles_AboutPotentialBlock__button_inactive__3Tl7f:after {
    display: none
}

.styles_AboutPotentialBlock__button_inactive__3Tl7f:hover {
    color: #292c31
}

.styles_active__1s3aT {
    display: block
}

.styles_inactive__uw75- {
    display: none
}

.styles_ProductionSliderBlock__2E3zP {
    margin: 80px 0 0
}

@media(max-width:1599px) {
    .styles_ProductionSliderBlock__2E3zP {
        margin: 60px 0 0
    }
}

@media(max-width:767px) {
    .styles_ProductionSliderBlock__2E3zP {
        margin-left: 16px;
        margin-right: 16px
    }
}

.styles_ProductionSliderBlock__descriptionWrap__16Z6P {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

.styles_ProductionSliderBlock__titleWrap__2XLCo {
    padding-top: 87px;
    margin-bottom: 32px
}

.styles_ProductionSliderBlock__secondTitle__31YqD {
    max-width: 660px;
    font-size: 36px
}

@media(max-width:767px) {
    .styles_ProductionSliderBlock__secondTitle__31YqD {
        font-size: 22px
    }
}

.styles_ProductionSliderBlock__contentWrap__3M69R {
    border-top: 1px solid #54565a
}

.styles_ProductionSliderBlock__content__2_p2r {
    display: inline-block;
    width: 50%;
    vertical-align: top
}

.styles_ProductionSliderBlock__content__2_p2r:first-child {
    width: 51.581%
}

.styles_ProductionSliderBlock__content__2_p2r:last-child {
    width: 48.419%
}

@media(max-width:1024px) {
    .styles_ProductionSliderBlock__content__2_p2r {
        width: 100%;
        display: block
    }

    .styles_ProductionSliderBlock__content__2_p2r:first-child,
    .styles_ProductionSliderBlock__content__2_p2r:last-child {
        width: 100%
    }
}

.styles_ProductionSliderBlock__textWrap__3sJb5 {
    display: -webkit-flex;
    display: flex
}

.styles_ProductionSliderBlock__description__K7pTV {
    text-align: justify;
    margin-bottom: 36px;
    margin-right: 120px;
    cursor: default
}

@media(max-width:1599px) {
    .styles_ProductionSliderBlock__description__K7pTV {
        max-width: 466px
    }
}

@media(max-width:1024px) {
    .styles_ProductionSliderBlock__description__K7pTV {
        max-width: none
    }
}

@media(max-width:767px) {
    .styles_ProductionSliderBlock__description__K7pTV {
        margin-bottom: 12px;
        margin-right: 0
    }
}

.styles_ProductionSliderBlock__underline__2u9y0 {
    display: block;
    width: 77px;
    height: 3px;
    background: #b90c2f;
    margin-right: 40px;
    margin-top: 12px
}

@media(max-width:1024px) {
    .styles_ProductionSliderBlock__underline__2u9y0 {
        display: none
    }
}

.styles_ProductionSliderBlock__items__18i4P {
    overflow: hidden
}

.styles_ProductionSliderBlock__itemsWrap__XO0Qc {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start
}

.styles_ProductionSliderBlock__item__zgPZ4 {
    width: 100%;
    padding-top: 40px;
    border-top: 0;
    border-right: none;
    border-bottom: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0
}

.styles_ProductionSliderBlock__imageWrap__20RPH {
    position: relative;
    width: 100%
}

.styles_ProductionSliderBlock__imageWrap__20RPH:before {
    display: block;
    padding-top: 66.123%;
    content: ""
}

.styles_ProductionSliderBlock__image__2WToh {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.styles_ProductionSliderBlock__navigationWrap__19PDT {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 16px 0 24px
}

.styles_ProductionSliderBlock__navigation__YM3Jk {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center
}

.styles_ProductionSliderBlock__navigation_currentSlide__3q6Jk {
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    line-height: 135%;
    color: #292c31
}

.styles_ProductionSliderBlock__navigation_allSlides__3GyTC {
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    line-height: 135%;
    color: #a9abad
}

.styles_ProductionSliderBlock__arrowWrap__2GGXM {
    display: -webkit-flex;
    display: flex
}

.styles_ProductionSliderBlock__arrow_next__29TCl {
    margin-right: -4px
}

.styles_ProductionSliderBlock__arrow_disabled__3y3Yg,
.styles_ProductionSliderBlock__arrow_disabled__3y3Yg:hover {
    color: #d4d5d6
}

.styles_ProductionSliderBlock__iconsWrap__3lCno {
    margin-right: 22px
}

.styles_ProductionSliderBlock__buttonWrapper__AHiqv {
    display: -webkit-flex;
    display: flex;
    cursor: pointer;
    max-width: 360px
}

.styles_ProductionSliderBlock__buttonWrap__1AgKL {
    width: 309px
}

.styles_ProductionSliderBlock__buttonWrap__1AgKL button {
    width: inherit
}

.styles_ProductionSliderBlock__3pgAI {
    margin: 80px 0 0
}

@media(max-width:1599px) {
    .styles_ProductionSliderBlock__3pgAI {
        margin: 60px 0 0
    }
}

@media(max-width:767px) {
    .styles_ProductionSliderBlock__3pgAI {
        margin-left: 16px;
        margin-right: 16px
    }
}

.styles_ProductionSliderBlock__titleWrap__3fFfd {
    padding-top: 87px;
    margin-bottom: 32px
}

.styles_ProductionSliderBlock__title__2hD2b {
    text-transform: uppercase;
    cursor: default;
    max-width: 660px
}

.styles_ProductionSliderBlock__descriptionWrap__3atUi {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

.styles_ProductionSliderBlock__secondTitle__3vdDF {
    max-width: 660px;
    font-size: 36px
}

@media(max-width:767px) {
    .styles_ProductionSliderBlock__secondTitle__3vdDF {
        font-size: 22px
    }
}

.styles_ProductionSliderBlock__contentWrap__1QV48 {
    border-top: 1px solid #54565a
}

.styles_ProductionSliderBlock__content__2GZ3k {
    display: inline-block;
    width: 50%;
    vertical-align: top
}

.styles_ProductionSliderBlock__content__2GZ3k:first-child {
    width: 51.581%
}

.styles_ProductionSliderBlock__content__2GZ3k:last-child {
    width: 48.419%
}

@media(max-width:1024px) {
    .styles_ProductionSliderBlock__content__2GZ3k {
        width: 100%;
        display: block
    }

    .styles_ProductionSliderBlock__content__2GZ3k:first-child,
    .styles_ProductionSliderBlock__content__2GZ3k:last-child {
        width: 100%
    }
}

.styles_ProductionSliderBlock__textWrap__1yz8n {
    display: -webkit-flex;
    display: flex
}

.styles_ProductionSliderBlock__description__lxCk- {
    text-align: justify;
    margin-bottom: 36px;
    margin-right: 120px;
    cursor: default
}

@media(max-width:1599px) {
    .styles_ProductionSliderBlock__description__lxCk- {
        max-width: 466px
    }
}

@media(max-width:1024px) {
    .styles_ProductionSliderBlock__description__lxCk- {
        max-width: none
    }
}

@media(max-width:767px) {
    .styles_ProductionSliderBlock__description__lxCk- {
        margin-bottom: 12px;
        margin-right: 0
    }
}

.styles_ProductionSliderBlock__underline__1kxpQ {
    display: block;
    width: 77px;
    height: 3px;
    background: #b90c2f;
    margin-right: 40px;
    margin-top: 12px
}

@media(max-width:1024px) {
    .styles_ProductionSliderBlock__underline__1kxpQ {
        display: none
    }
}

.styles_ProductionSliderBlock__items__3nKbF {
    overflow: hidden
}

.styles_ProductionSliderBlock__itemsWrap__1qbZm {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start
}

.styles_ProductionSliderBlock__item__2ZS1z {
    width: 100%;
    padding-top: 40px;
    border-top: 0;
    border-right: none;
    border-bottom: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0
}

.styles_ProductionSliderBlock__imageWrap__2OZwm {
    position: relative;
    width: 100%
}

.styles_ProductionSliderBlock__imageWrap__2OZwm:before {
    display: block;
    padding-top: 66.123%;
    content: ""
}

.styles_ProductionSliderBlock__image__1NeyC {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.styles_ProductionSliderBlock__navigationWrap__eonyD {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 16px 0 24px
}

.styles_ProductionSliderBlock__navigation__1QK8y {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center
}

.styles_ProductionSliderBlock__navigation_currentSlide__t1mwN {
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    line-height: 135%;
    color: #292c31
}

.styles_ProductionSliderBlock__navigation_allSlides__1pf52 {
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    line-height: 135%;
    color: #a9abad
}

.styles_ProductionSliderBlock__arrowWrap__lc-Fx {
    display: -webkit-flex;
    display: flex
}

.styles_ProductionSliderBlock__arrow_next__3V00H {
    margin-right: -4px
}

.styles_ProductionSliderBlock__arrow_disabled__3an1i,
.styles_ProductionSliderBlock__arrow_disabled__3an1i:hover {
    color: #d4d5d6
}

.styles_ProductionSliderBlock__iconsWrap__3ZJt_ {
    margin-right: 22px
}

.styles_ProductionSliderBlock__buttonWrapper__2kI2x {
    display: -webkit-flex;
    display: flex;
    cursor: pointer;
    max-width: 360px
}

.styles_ProductionSliderBlock__buttonWrap__1kXz8 {
    width: 309px
}

.styles_ProductionSliderBlock__buttonWrap__1kXz8 button {
    width: inherit
}

.styles_ProductionSliderBlock__p2cXl {
    margin: 80px 0 0
}

@media(max-width:1599px) {
    .styles_ProductionSliderBlock__p2cXl {
        margin: 60px 0 0
    }
}

@media(max-width:767px) {
    .styles_ProductionSliderBlock__p2cXl {
        margin-left: 16px;
        margin-right: 16px
    }
}

.styles_ProductionSliderBlock__titleWrap__3oATM {
    padding-top: 87px;
    margin-bottom: 32px
}

.styles_ProductionSliderBlock__title__2ohDE {
    text-transform: uppercase;
    cursor: default;
    max-width: 660px
}

.styles_ProductionSliderBlock__descriptionWrap__1vqdd {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

.styles_ProductionSliderBlock__secondTitle__1XvyB {
    max-width: 660px;
    font-size: 36px
}

@media(max-width:767px) {
    .styles_ProductionSliderBlock__secondTitle__1XvyB {
        font-size: 22px
    }
}

.styles_ProductionSliderBlock__contentWrap__3hIql {
    border-top: 1px solid #54565a
}

.styles_ProductionSliderBlock__content__yjPlR {
    display: inline-block;
    width: 50%;
    vertical-align: top
}

.styles_ProductionSliderBlock__content__yjPlR:first-child {
    width: 51.581%
}

.styles_ProductionSliderBlock__content__yjPlR:last-child {
    width: 48.419%
}

@media(max-width:1024px) {
    .styles_ProductionSliderBlock__content__yjPlR {
        width: 100%;
        display: block
    }

    .styles_ProductionSliderBlock__content__yjPlR:first-child,
    .styles_ProductionSliderBlock__content__yjPlR:last-child {
        width: 100%
    }
}

.styles_ProductionSliderBlock__textWrap__3LJs4 {
    display: -webkit-flex;
    display: flex
}

.styles_ProductionSliderBlock__description__2-lvZ {
    text-align: justify;
    margin-bottom: 36px;
    margin-right: 120px;
    cursor: default
}

@media(max-width:1599px) {
    .styles_ProductionSliderBlock__description__2-lvZ {
        max-width: 466px
    }
}

@media(max-width:1024px) {
    .styles_ProductionSliderBlock__description__2-lvZ {
        max-width: none
    }
}

@media(max-width:767px) {
    .styles_ProductionSliderBlock__description__2-lvZ {
        margin-bottom: 12px;
        margin-right: 0
    }
}

.styles_ProductionSliderBlock__underline__RZolh {
    display: block;
    width: 77px;
    height: 3px;
    background: #b90c2f;
    margin-right: 40px;
    margin-top: 12px
}

@media(max-width:1024px) {
    .styles_ProductionSliderBlock__underline__RZolh {
        display: none
    }
}

.styles_ProductionSliderBlock__items__1Dr5o {
    overflow: hidden
}

.styles_ProductionSliderBlock__itemsWrap__MlJXh {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start
}

.styles_ProductionSliderBlock__item__1BlXV {
    width: 100%;
    padding-top: 40px;
    border-top: 0;
    border-right: none;
    border-bottom: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0
}

.styles_ProductionSliderBlock__imageWrap__3VGpV {
    position: relative;
    width: 100%
}

.styles_ProductionSliderBlock__imageWrap__3VGpV:before {
    display: block;
    padding-top: 66.123%;
    content: ""
}

.styles_ProductionSliderBlock__image__dynWE {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.styles_ProductionSliderBlock__navigationWrap__1rQSH {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 16px 0 24px
}

.styles_ProductionSliderBlock__navigation__1RA67 {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center
}

.styles_ProductionSliderBlock__navigation_currentSlide__3GqXk {
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    line-height: 135%;
    color: #292c31
}

.styles_ProductionSliderBlock__navigation_allSlides__3jowA {
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    line-height: 135%;
    color: #a9abad
}

.styles_ProductionSliderBlock__arrowWrap__1VkFL {
    display: -webkit-flex;
    display: flex
}

.styles_ProductionSliderBlock__arrow_next__2iPrc {
    margin-right: -4px
}

.styles_ProductionSliderBlock__arrow_disabled__8SR4m,
.styles_ProductionSliderBlock__arrow_disabled__8SR4m:hover {
    color: #d4d5d6
}

.styles_ProductionSliderBlock__iconsWrap__3egO_ {
    margin-right: 22px
}

.styles_ProductionSliderBlock__buttonWrapper__3Ss0l {
    display: -webkit-flex;
    display: flex;
    cursor: pointer;
    max-width: 360px
}

.styles_ProductionSliderBlock__buttonWrap__3oAuU {
    width: 309px
}

.styles_ProductionSliderBlock__buttonWrap__3oAuU button {
    width: inherit
}

.styles_ProductionSliderBlock__2slY2 {
    margin: 80px 0 0
}

@media(max-width:1599px) {
    .styles_ProductionSliderBlock__2slY2 {
        margin: 60px 0 0
    }
}

@media(max-width:767px) {
    .styles_ProductionSliderBlock__2slY2 {
        margin-left: 16px;
        margin-right: 16px
    }
}

.styles_ProductionSliderBlock__titleWrap__3aQQL {
    padding-top: 87px;
    margin-bottom: 32px
}

.styles_ProductionSliderBlock__descriptionWrap__19si9 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

.styles_ProductionSliderBlock__title__2kUUZ {
    text-transform: uppercase;
    cursor: default;
    max-width: 660px
}

.styles_ProductionSliderBlock__secondTitle__3ZivY {
    max-width: 660px;
    font-size: 36px
}

@media(max-width:767px) {
    .styles_ProductionSliderBlock__secondTitle__3ZivY {
        font-size: 22px
    }
}

.styles_ProductionSliderBlock__contentWrap__aFsw3 {
    border-top: 1px solid #54565a
}

.styles_ProductionSliderBlock__content__2o5WX {
    display: inline-block;
    width: 50%;
    vertical-align: top
}

.styles_ProductionSliderBlock__content__2o5WX:first-child {
    width: 51.581%
}

.styles_ProductionSliderBlock__content__2o5WX:last-child {
    width: 48.419%
}

@media(max-width:1024px) {
    .styles_ProductionSliderBlock__content__2o5WX {
        width: 100%;
        display: block
    }

    .styles_ProductionSliderBlock__content__2o5WX:first-child,
    .styles_ProductionSliderBlock__content__2o5WX:last-child {
        width: 100%
    }
}

.styles_ProductionSliderBlock__textWrap__2V2U9 {
    display: -webkit-flex;
    display: flex
}

.styles_ProductionSliderBlock__description__1KYua {
    text-align: justify;
    margin-bottom: 36px;
    margin-right: 120px;
    cursor: default
}

@media(max-width:1599px) {
    .styles_ProductionSliderBlock__description__1KYua {
        max-width: 466px
    }
}

@media(max-width:1024px) {
    .styles_ProductionSliderBlock__description__1KYua {
        max-width: none
    }
}

@media(max-width:767px) {
    .styles_ProductionSliderBlock__description__1KYua {
        margin-bottom: 12px;
        margin-right: 0
    }
}

.styles_ProductionSliderBlock__underline__6OhIQ {
    display: block;
    width: 77px;
    height: 3px;
    background: #b90c2f;
    margin-right: 40px;
    margin-top: 12px
}

@media(max-width:1024px) {
    .styles_ProductionSliderBlock__underline__6OhIQ {
        display: none
    }
}

.styles_ProductionSliderBlock__items__soeVO {
    overflow: hidden
}

.styles_ProductionSliderBlock__itemsWrap__1OmmA {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start
}

.styles_ProductionSliderBlock__item__3-2p6 {
    width: 100%;
    padding-top: 40px;
    border-top: 0;
    border-right: none;
    border-bottom: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0
}

.styles_ProductionSliderBlock__imageWrap__17H8L {
    position: relative;
    width: 100%
}

.styles_ProductionSliderBlock__imageWrap__17H8L:before {
    display: block;
    padding-top: 66.123%;
    content: ""
}

.styles_ProductionSliderBlock__image__6YIdI {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.styles_ProductionSliderBlock__navigationWrap__1xwRD {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 16px 0 24px
}

.styles_ProductionSliderBlock__navigation__-HcHy {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center
}

.styles_ProductionSliderBlock__navigation_currentSlide__1lbQ- {
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    line-height: 135%;
    color: #292c31
}

.styles_ProductionSliderBlock__navigation_allSlides__1GGnj {
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    line-height: 135%;
    color: #a9abad
}

.styles_ProductionSliderBlock__arrowWrap__3XAnI {
    display: -webkit-flex;
    display: flex
}

.styles_ProductionSliderBlock__arrow_next__1hFP1 {
    margin-right: -4px
}

.styles_ProductionSliderBlock__arrow_disabled__1NY9s,
.styles_ProductionSliderBlock__arrow_disabled__1NY9s:hover {
    color: #d4d5d6
}

.styles_ProductionSliderBlock__iconsWrap__2N2OM {
    margin-right: 22px
}

.styles_ProductionSliderBlock__buttonWrapper__3ODQd {
    display: -webkit-flex;
    display: flex;
    cursor: pointer;
    max-width: 360px
}

.styles_ProductionSliderBlock__buttonWrap__GGNpw {
    width: 309px
}

.styles_ProductionSliderBlock__buttonWrap__GGNpw button {
    width: inherit
}

.styles_ProductionSliderBlock__10z4S {
    margin: 80px 0 0
}

@media(max-width:1599px) {
    .styles_ProductionSliderBlock__10z4S {
        margin: 60px 0 0
    }
}

@media(max-width:767px) {
    .styles_ProductionSliderBlock__10z4S {
        margin-left: 16px;
        margin-right: 16px
    }
}

.styles_ProductionSliderBlock__titleWrap__1e8aP {
    padding-top: 87px;
    margin-bottom: 32px
}

.styles_ProductionSliderBlock__descriptionWrap__3x5-F {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

.styles_ProductionSliderBlock__title__2q-IV {
    text-transform: uppercase;
    cursor: default;
    max-width: 660px
}

.styles_ProductionSliderBlock__secondTitle__1De50 {
    max-width: 660px;
    font-size: 36px
}

@media(max-width:767px) {
    .styles_ProductionSliderBlock__secondTitle__1De50 {
        font-size: 22px
    }
}

.styles_ProductionSliderBlock__contentWrap__MAMEM {
    border-top: 1px solid #54565a
}

.styles_ProductionSliderBlock__content__3h9XE {
    display: inline-block;
    width: 50%;
    vertical-align: top
}

.styles_ProductionSliderBlock__content__3h9XE:first-child {
    width: 51.581%
}

.styles_ProductionSliderBlock__content__3h9XE:last-child {
    width: 48.419%
}

@media(max-width:1024px) {
    .styles_ProductionSliderBlock__content__3h9XE {
        width: 100%;
        display: block
    }

    .styles_ProductionSliderBlock__content__3h9XE:first-child,
    .styles_ProductionSliderBlock__content__3h9XE:last-child {
        width: 100%
    }
}

.styles_ProductionSliderBlock__textWrap__V_sVK {
    display: -webkit-flex;
    display: flex
}

.styles_ProductionSliderBlock__description__2Q8uQ {
    text-align: justify;
    margin-bottom: 36px;
    margin-right: 120px;
    cursor: default
}

@media(max-width:1599px) {
    .styles_ProductionSliderBlock__description__2Q8uQ {
        max-width: 466px
    }
}

@media(max-width:1024px) {
    .styles_ProductionSliderBlock__description__2Q8uQ {
        max-width: none
    }
}

@media(max-width:767px) {
    .styles_ProductionSliderBlock__description__2Q8uQ {
        margin-bottom: 12px;
        margin-right: 0
    }
}

.styles_ProductionSliderBlock__underline__17Njm {
    display: block;
    width: 77px;
    height: 3px;
    background: #b90c2f;
    margin-right: 40px;
    margin-top: 12px
}

@media(max-width:1024px) {
    .styles_ProductionSliderBlock__underline__17Njm {
        display: none
    }
}

.styles_ProductionSliderBlock__items__1BMKB {
    overflow: hidden
}

.styles_ProductionSliderBlock__itemsWrap__1cHO- {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start
}

.styles_ProductionSliderBlock__item__19tc9 {
    width: 100%;
    padding-top: 40px;
    border-top: 0;
    border-right: none;
    border-bottom: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0
}

.styles_ProductionSliderBlock__imageWrap__1wy5K {
    position: relative;
    width: 100%
}

.styles_ProductionSliderBlock__imageWrap__1wy5K:before {
    display: block;
    padding-top: 66.123%;
    content: ""
}

.styles_ProductionSliderBlock__image__3UudH {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.styles_ProductionSliderBlock__navigationWrap__1wk62 {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 16px 0 24px
}

.styles_ProductionSliderBlock__navigation__11-6D {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center
}

.styles_ProductionSliderBlock__navigation_currentSlide__2xy-C {
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    line-height: 135%;
    color: #292c31
}

.styles_ProductionSliderBlock__navigation_allSlides__2NvtA {
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    line-height: 135%;
    color: #a9abad
}

.styles_ProductionSliderBlock__arrowWrap__1m7ET {
    display: -webkit-flex;
    display: flex
}

.styles_ProductionSliderBlock__arrow_next__2w8q- {
    margin-right: -4px
}

.styles_ProductionSliderBlock__arrow_disabled__1BZst,
.styles_ProductionSliderBlock__arrow_disabled__1BZst:hover {
    color: #d4d5d6
}

.styles_ProductionSliderBlock__iconsWrap__2CuJf {
    margin-right: 22px
}

.styles_ProductionSliderBlock__buttonWrapper__qUayC {
    display: -webkit-flex;
    display: flex;
    cursor: pointer;
    max-width: 360px
}

.styles_ProductionSliderBlock__buttonWrap__l7z9B {
    width: 309px
}

.styles_ProductionSliderBlock__buttonWrap__l7z9B button {
    width: inherit
}

.styles_ProductionSliderBlock__3HUTP {
    margin: 80px 0 0
}

@media(max-width:1599px) {
    .styles_ProductionSliderBlock__3HUTP {
        margin: 60px 0 0
    }
}

@media(max-width:767px) {
    .styles_ProductionSliderBlock__3HUTP {
        margin-left: 16px;
        margin-right: 16px
    }
}

.styles_ProductionSliderBlock__titleWrap__3gEz8 {
    padding-top: 87px;
    margin-bottom: 32px
}

.styles_ProductionSliderBlock__title__qbdGH {
    text-transform: uppercase;
    cursor: default;
    max-width: 660px
}

.styles_ProductionSliderBlock__descriptionWrap__1idYT {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

.styles_ProductionSliderBlock__secondTitle__2p083 {
    max-width: 660px;
    font-size: 36px
}

@media(max-width:767px) {
    .styles_ProductionSliderBlock__secondTitle__2p083 {
        font-size: 22px
    }
}

.styles_ProductionSliderBlock__contentWrap__8bSwT {
    border-top: 1px solid #54565a
}

.styles_ProductionSliderBlock__content__yIGM1 {
    display: inline-block;
    width: 50%;
    vertical-align: top
}

.styles_ProductionSliderBlock__content__yIGM1:first-child {
    width: 51.581%
}

.styles_ProductionSliderBlock__content__yIGM1:last-child {
    width: 48.419%
}

@media(max-width:1024px) {
    .styles_ProductionSliderBlock__content__yIGM1 {
        width: 100%;
        display: block
    }

    .styles_ProductionSliderBlock__content__yIGM1:first-child,
    .styles_ProductionSliderBlock__content__yIGM1:last-child {
        width: 100%
    }
}

.styles_ProductionSliderBlock__textWrap__3SujE {
    display: -webkit-flex;
    display: flex
}

.styles_ProductionSliderBlock__description__33jrM {
    text-align: justify;
    margin-bottom: 36px;
    margin-right: 120px;
    cursor: default
}

@media(max-width:1599px) {
    .styles_ProductionSliderBlock__description__33jrM {
        max-width: 466px
    }
}

@media(max-width:1024px) {
    .styles_ProductionSliderBlock__description__33jrM {
        max-width: none
    }
}

@media(max-width:767px) {
    .styles_ProductionSliderBlock__description__33jrM {
        margin-bottom: 12px;
        margin-right: 0
    }
}

.styles_ProductionSliderBlock__underline__3dlRN {
    display: block;
    width: 77px;
    height: 3px;
    background: #b90c2f;
    margin-right: 40px;
    margin-top: 12px
}

@media(max-width:1024px) {
    .styles_ProductionSliderBlock__underline__3dlRN {
        display: none
    }
}

.styles_ProductionSliderBlock__items__3FGrB {
    overflow: hidden
}

.styles_ProductionSliderBlock__itemsWrap__3FsKp {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start
}

.styles_ProductionSliderBlock__item__1gdc6 {
    width: 100%;
    padding-top: 40px;
    border-top: 0;
    border-right: none;
    border-bottom: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0
}

.styles_ProductionSliderBlock__imageWrap__3vtj6 {
    position: relative;
    width: 100%
}

.styles_ProductionSliderBlock__imageWrap__3vtj6:before {
    display: block;
    padding-top: 66.123%;
    content: ""
}

.styles_ProductionSliderBlock__image__1Tq99 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.styles_ProductionSliderBlock__navigationWrap__3siTS {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 16px 0 24px
}

.styles_ProductionSliderBlock__navigation__JghR_ {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center
}

.styles_ProductionSliderBlock__navigation_currentSlide__3GttH {
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    line-height: 135%;
    color: #292c31
}

.styles_ProductionSliderBlock__navigation_allSlides__3lDba {
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    line-height: 135%;
    color: #a9abad
}

.styles_ProductionSliderBlock__arrowWrap__2BcQf {
    display: -webkit-flex;
    display: flex
}

.styles_ProductionSliderBlock__arrow_next__2VrO3 {
    margin-right: -4px
}

.styles_ProductionSliderBlock__arrow_disabled__2DDTU,
.styles_ProductionSliderBlock__arrow_disabled__2DDTU:hover {
    color: #d4d5d6
}

.styles_ProductionSliderBlock__iconsWrap__2eWpd {
    margin-right: 22px
}

.styles_ProductionSliderBlock__buttonWrapper__3_CE7 {
    display: -webkit-flex;
    display: flex;
    cursor: pointer;
    max-width: 360px
}

.styles_ProductionSliderBlock__buttonWrap__1Nj-f {
    width: 309px
}

.styles_ProductionSliderBlock__buttonWrap__1Nj-f button {
    width: inherit
}

.styles_ProductionSliderBlock__2bCHJ {
    margin: 80px 0 0
}

@media(max-width:1599px) {
    .styles_ProductionSliderBlock__2bCHJ {
        margin: 60px 0 0
    }
}

@media(max-width:767px) {
    .styles_ProductionSliderBlock__2bCHJ {
        margin-left: 16px;
        margin-right: 16px
    }
}

.styles_ProductionSliderBlock__titleWrap__2kTVq {
    padding-top: 87px;
    margin-bottom: 32px
}

.styles_ProductionSliderBlock__descriptionWrap__36TRB {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

.styles_ProductionSliderBlock__title__QVmm3 {
    text-transform: uppercase;
    cursor: default;
    max-width: 660px
}

.styles_ProductionSliderBlock__secondTitle__WD7pP {
    max-width: 660px;
    font-size: 36px
}

@media(max-width:767px) {
    .styles_ProductionSliderBlock__secondTitle__WD7pP {
        font-size: 22px
    }
}

.styles_ProductionSliderBlock__contentWrap__2GVNI {
    border-top: 1px solid #54565a
}

.styles_ProductionSliderBlock__content__3a4vt {
    display: inline-block;
    width: 50%;
    vertical-align: top
}

.styles_ProductionSliderBlock__content__3a4vt:first-child {
    width: 51.581%
}

.styles_ProductionSliderBlock__content__3a4vt:last-child {
    width: 48.419%
}

@media(max-width:1024px) {
    .styles_ProductionSliderBlock__content__3a4vt {
        width: 100%;
        display: block
    }

    .styles_ProductionSliderBlock__content__3a4vt:first-child,
    .styles_ProductionSliderBlock__content__3a4vt:last-child {
        width: 100%
    }
}

.styles_ProductionSliderBlock__textWrap__1GnOT {
    display: -webkit-flex;
    display: flex
}

.styles_ProductionSliderBlock__description__3gI_V {
    text-align: justify;
    margin-bottom: 36px;
    margin-right: 120px;
    cursor: default
}

@media(max-width:1599px) {
    .styles_ProductionSliderBlock__description__3gI_V {
        max-width: 466px
    }
}

@media(max-width:1024px) {
    .styles_ProductionSliderBlock__description__3gI_V {
        max-width: none
    }
}

@media(max-width:767px) {
    .styles_ProductionSliderBlock__description__3gI_V {
        margin-bottom: 12px;
        margin-right: 0
    }
}

.styles_ProductionSliderBlock__underline__1tM90 {
    display: block;
    width: 77px;
    height: 3px;
    background: #b90c2f;
    margin-right: 40px;
    margin-top: 12px
}

@media(max-width:1024px) {
    .styles_ProductionSliderBlock__underline__1tM90 {
        display: none
    }
}

.styles_ProductionSliderBlock__items__2CvCz {
    overflow: hidden
}

.styles_ProductionSliderBlock__itemsWrap__3S-De {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start
}

.styles_ProductionSliderBlock__item__1bM_S {
    width: 100%;
    padding-top: 40px;
    border-top: 0;
    border-right: none;
    border-bottom: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0
}

.styles_ProductionSliderBlock__imageWrap__12Hrl {
    position: relative;
    width: 100%
}

.styles_ProductionSliderBlock__imageWrap__12Hrl:before {
    display: block;
    padding-top: 66.123%;
    content: ""
}

.styles_ProductionSliderBlock__image__2ZmCi {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.styles_ProductionSliderBlock__navigationWrap__3iqQX {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 16px 0 24px
}

.styles_ProductionSliderBlock__navigation__3JwSE {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center
}

.styles_ProductionSliderBlock__navigation_currentSlide__3YMzC {
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    line-height: 135%;
    color: #292c31
}

.styles_ProductionSliderBlock__navigation_allSlides__2OWWl {
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    line-height: 135%;
    color: #a9abad
}

.styles_ProductionSliderBlock__arrowWrap__xGGKi {
    display: -webkit-flex;
    display: flex
}

.styles_ProductionSliderBlock__arrow_next__2SRQG {
    margin-right: -4px
}

.styles_ProductionSliderBlock__arrow_disabled__3Dh8C,
.styles_ProductionSliderBlock__arrow_disabled__3Dh8C:hover {
    color: #d4d5d6
}

.styles_ProductionSliderBlock__iconsWrap__Ik2NS {
    margin-right: 22px
}

.styles_ProductionSliderBlock__buttonWrapper__2cZht {
    display: -webkit-flex;
    display: flex;
    cursor: pointer;
    max-width: 360px
}

.styles_ProductionSliderBlock__buttonWrap__3lAMT {
    width: 309px
}

.styles_ProductionSliderBlock__buttonWrap__3lAMT button {
    width: inherit
}

.styles_ProductionSliderBlock__2lCXe {
    margin: 173px 0 0
}

@media(max-width:1599px) {
    .styles_ProductionSliderBlock__2lCXe {
        margin: 60px 0 0
    }
}

@media(max-width:767px) {
    .styles_ProductionSliderBlock__2lCXe {
        margin-left: 16px;
        margin-right: 16px
    }
}

.styles_ProductionSliderBlock__titleWrap__2n3YK {
    padding-top: 87px;
    margin-bottom: 32px
}

.styles_ProductionSliderBlock__descriptionWrap__1mxnq {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

.styles_ProductionSliderBlock__title__2p8Ew {
    text-transform: uppercase;
    cursor: default;
    font-weight: 600;
    font-style: normal;
    font-size: 57.6px;
    line-height: 110%;
    font-size: 48px;
    margin-bottom: 48px
}

@media(max-width:767px) {
    .styles_ProductionSliderBlock__title__2p8Ew {
        font-size: 28px;
        margin-bottom: 24px
    }
}

.styles_ProductionSliderBlock__secondTitle__3LFe- {
    max-width: 660px;
    font-size: 36px
}

@media(max-width:767px) {
    .styles_ProductionSliderBlock__secondTitle__3LFe- {
        font-size: 22px
    }
}

.styles_ProductionSliderBlock__contentWrap__32wDH {
    border-top: 1px solid #54565a
}

.styles_ProductionSliderBlock__content__sgOOG {
    display: inline-block;
    width: 50%;
    vertical-align: top
}

.styles_ProductionSliderBlock__content__sgOOG:first-child {
    width: 51.581%
}

.styles_ProductionSliderBlock__content__sgOOG:last-child {
    width: 48.419%
}

@media(max-width:1024px) {
    .styles_ProductionSliderBlock__content__sgOOG {
        width: 100%;
        display: block
    }

    .styles_ProductionSliderBlock__content__sgOOG:first-child,
    .styles_ProductionSliderBlock__content__sgOOG:last-child {
        width: 100%
    }
}

.styles_ProductionSliderBlock__textWrap__184vp {
    display: -webkit-flex;
    display: flex
}

.styles_ProductionSliderBlock__description__Uuj7I {
    text-align: justify;
    margin-bottom: 36px;
    margin-right: 120px;
    cursor: default
}

@media(max-width:1599px) {
    .styles_ProductionSliderBlock__description__Uuj7I {
        max-width: 466px
    }
}

@media(max-width:1024px) {
    .styles_ProductionSliderBlock__description__Uuj7I {
        max-width: none
    }
}

@media(max-width:767px) {
    .styles_ProductionSliderBlock__description__Uuj7I {
        margin-bottom: 12px;
        margin-right: 0
    }
}

.styles_ProductionSliderBlock__underline__3ncCx {
    display: block;
    width: 77px;
    height: 3px;
    background: #b90c2f;
    margin-right: 40px;
    margin-top: 12px
}

@media(max-width:1024px) {
    .styles_ProductionSliderBlock__underline__3ncCx {
        display: none
    }
}

.styles_ProductionSliderBlock__items__A1AJz {
    overflow: hidden
}

.styles_ProductionSliderBlock__itemsWrap__3zAK1 {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start
}

.styles_ProductionSliderBlock__item__3a9jR {
    width: 100%;
    padding-top: 40px;
    border-top: 0;
    border-right: none;
    border-bottom: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0
}

.styles_ProductionSliderBlock__imageWrap__1imhM {
    position: relative;
    width: 100%
}

.styles_ProductionSliderBlock__imageWrap__1imhM:before {
    display: block;
    padding-top: 66.123%;
    content: ""
}

.styles_ProductionSliderBlock__image__v7wrg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.styles_ProductionSliderBlock__navigationWrap__3t7i0 {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 16px 0 24px
}

.styles_ProductionSliderBlock__navigation__1gM64 {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center
}

.styles_ProductionSliderBlock__navigation_currentSlide__GmHj_ {
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    line-height: 135%;
    color: #292c31
}

.styles_ProductionSliderBlock__navigation_allSlides__3NTHk {
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    line-height: 135%;
    color: #a9abad
}

.styles_ProductionSliderBlock__arrowWrap__44EWq {
    display: -webkit-flex;
    display: flex
}

.styles_ProductionSliderBlock__arrow_next__195jO {
    margin-right: -4px
}

.styles_ProductionSliderBlock__arrow_disabled__iNSEu,
.styles_ProductionSliderBlock__arrow_disabled__iNSEu:hover {
    color: #d4d5d6
}

.styles_ProductionSliderBlock__iconsWrap__213Ih {
    margin-right: 22px
}

.styles_ProductionSliderBlock__buttonWrapper__uWKul {
    display: -webkit-flex;
    display: flex;
    cursor: pointer;
    max-width: 360px
}

.styles_ProductionSliderBlock__buttonWrap__R6pIl {
    width: 309px
}

.styles_ProductionSliderBlock__buttonWrap__R6pIl button {
    width: inherit
}

.styles_MainPage__HzL1l {
    position: relative;
    color: #292c31
}