.styles_Page__2fP-s {
  position: relative;
}
.styles_Container__13BBU {
  position: relative;
  left: 0;
  width: 100%;
  max-width: 1834px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 1919px) {
  .styles_Container__13BBU {
    width: auto;
    margin: 0 48px;
  }
}
@media (max-width: 1599px) {
  .styles_Container__13BBU {
    width: auto;
    margin: 0 40px;
  }
}
@media (max-width: 1199px) {
  .styles_Container__13BBU {
    width: auto;
    margin: 0 16px;
  }
}
@media (max-width: 767px) {
  .styles_Container__13BBU {
    width: auto;
    margin: 0;
  }
}
.styles_Header__1VAv6 {
  cursor: pointer;
}
.styles_Header__container__GjszS {
  padding-top: 16px;
  padding-bottom: 16px;
}
@media (max-width: 767px) {
  .styles_Header__container__GjszS {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 10px;
  }
}
@media (max-width: 1024px) {
  .styles_Header__container__GjszS {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.styles_Header__1VAv6 svg {
  width: 160px;
  height: 80px;
  display: block;
}
@media (max-width: 1024px) {
  .styles_Header__1VAv6 svg {
    width: auto;
    height: auto;
  }
}
.styles_Header__wrapper__16nKj {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.styles_Header__list__36sF6,
.styles_Header__wrapper__16nKj {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.styles_Header__list__36sF6 {
  font-size: 18px;
  margin-top: 28px;
  min-width: 684px;
  width: 1026px;
}
.styles_Header__list__wrapp__2nWFj {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
@media (max-width: 767px) {
  .styles_Header__list__wrapp__2nWFj {
    display: none;
  }
}
@media (max-width: 1599px) {
  .styles_Header__list__36sF6 {
    min-width: 574px;
  }
}
@media (max-width: 767px) {
  .styles_Header__list__36sF6 {
    min-width: 0;
  }
}
.styles_Header__listItem__2z9e6 {
  cursor: pointer;
  -webkit-transition: color 0.35s;
  transition: color 0.35s;
  color: #7f8083;
}
.styles_Header__listItem__hover__Z0EuM {
  display: block;
}
.styles_Header__listItem__2z9e6:hover {
  color: #03439a;
}
.styles_Header__listItem__2z9e6:last-child {
  margin-right: 0;
}
@media (max-width: 767px) {
  .styles_Header__listItem__2z9e6 {
    display: none;
  }
}
@media (max-width: 1024px) {
  .styles_Header__listItem__2z9e6 {
    font-size: 16px;
  }
}
.styles_Header__listItem_active__39Qf7 > a {
  padding-bottom: 40px;
  color: #292c31;
  border-bottom: 2px solid #b90c2f;
  -webkit-transition: color 0.35s;
  transition: color 0.35s;
}
@media (max-width: 1599px) {
  .styles_Header__listItem_active__39Qf7 > a {
    padding-bottom: 40px;
  }
}
.styles_Header__infoWrapper__2fH9f {
  display: -webkit-flex;
  display: flex;
}
@media (max-width: 767px) {
  .styles_Header__infoWrapper__2fH9f {
    display: none;
  }
}
@media (max-width: 1024px) {
  .styles_Header__infoWrapper__2fH9f {
    display: none;
  }
}
.styles_Header__blockWrap__3ef_d {
  display: -webkit-flex;
  display: flex;
}
.styles_Header__logoWrap___Gz9K {
  -webkit-align-items: center;
  align-items: center;
}
.styles_Header__logo__2gGry {
  display: block;
  cursor: pointer;
}
.styles_Header__phone__BOKN5 {
  font-weight: 600;
  font-style: normal;
  font-size: 21.6px;
  line-height: 135%;
  margin-right: 42px;
  cursor: pointer;
  -webkit-transition: color 0.35s;
  transition: color 0.35s;
  position: relative;
}
.styles_Header__phone__BOKN5:hover {
  color: #03439a;
}
@media (max-width: 1599px) {
  .styles_Header__phone__BOKN5 {
    font-size: 18px;
    margin-right: 36px;
  }
}
.styles_Header__phone__BOKN5:after {
  position: absolute;
  top: 32px;
  content: "";
  width: 0;
  height: 2px;
  display: block;
  background: #03439a;
  -webkit-transition: 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
@media (max-width: 1599px) {
  .styles_Header__phone__BOKN5:after {
    top: 28px;
  }
}
.styles_Header__phone__BOKN5:hover:after {
  width: 100%;
}
.styles_Header__email__3qExW {
  font-weight: 600;
  font-style: normal;
  font-size: 21.6px;
  line-height: 135%;
  cursor: pointer;
  -webkit-transition: color 0.35s;
  transition: color 0.35s;
  position: relative;
}
.styles_Header__email__3qExW:hover {
  color: #03439a;
}
@media (max-width: 1599px) {
  .styles_Header__email__3qExW {
    font-size: 18px;
  }
}
.styles_Header__email__3qExW:after {
  position: absolute;
  top: 32px;
  content: "";
  width: 0;
  height: 2px;
  display: block;
  background: #03439a;
  -webkit-transition: 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
@media (max-width: 1599px) {
  .styles_Header__email__3qExW:after {
    top: 28px;
  }
}
.styles_Header__email__3qExW:hover:after {
  width: 100%;
}
.styles_Header__iconWrap__Ig3Hm {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  max-width: 197px;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.styles_Header__icon__3UB-c:last-child {
  display: -webkit-flex;
  display: flex;
  padding-bottom: 8px;
}
.styles_hamburger__wrapper__1r2wb {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.styles_hamburger-menu__2qS0D {
  display: -webkit-flex;
  display: flex;
  width: 28px;
  height: 24px;
  -webkit-flex-direction: column;
  flex-direction: column;
  cursor: pointer;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.styles_hamburger__wrapper__1r2wb:hover {
  cursor: pointer;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.styles_hamburger__wrapper__1r2wb:hover
  .styles_hamburger-menu__2qS0D
  > .styles_line-1__3Vq4U,
.styles_hamburger__wrapper__1r2wb:hover
  .styles_hamburger-menu__2qS0D
  > .styles_line-2__2vtIg,
.styles_hamburger__wrapper__1r2wb:hover
  .styles_hamburger-menu__2qS0D
  > .styles_line-3__3zL0x,
.styles_hamburger__wrapper__1r2wb:hover
  .styles_hamburger-menu__2qS0D
  > .styles_line__1u9Wv {
  width: 100%;
  background: #03439a;
}
.styles_line__1u9Wv {
  width: 100%;
  height: 2px;
  background: #292c31;
  border-radius: 10px;
  -webkit-transition: 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.styles_line-3__3zL0x {
  -webkit-transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  width: 33%;
}
.styles_line-2__2vtIg {
  width: 67%;
}
.styles_cross__ea8Av {
  width: 100%;
  height: 2px;
  background: #292c31;
  border-radius: 10px;
}
.styles_cross-1__1juIZ,
.styles_cross-2__1Wwzx,
.styles_cross-3__1alDY {
  width: 100%;
  background: #54565a;
}
.styles_hamburger-menu__2qS0D:hover > .styles_cross-1__1juIZ,
.styles_hamburger-menu__2qS0D:hover > .styles_cross-2__1Wwzx,
.styles_hamburger-menu__2qS0D:hover > .styles_cross-3__1alDY {
  background: #03439a;
}
.styles_hideMenu__Z2kZN {
  display: none;
}
.styles_hamburger-main-menu__-w5XB {
  border-bottom: 1px solid #d4d5d6;
  height: 110px;
}
@media (max-width: 767px) {
  .styles_hamburger-main-menu__-w5XB {
    height: 74px;
  }
}
.styles_hamburger-main-menu__active__f__2cLmH {
  height: 0;
}
.styles_hamburger-main-menu__active__f__2cLmH,
.styles_hamburger-main-menu__active__t__1viI6 {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
}
.styles_hamburger-main-menu__active__t__1viI6 {
  margin-top: 20px;
  height: 176px;
}
.styles_hamburger-main-menu__hover__ypTx_ {
  width: 220px;
  height: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.styles_hamburger-main-menu__hover__ypTx_:hover {
  height: 303px;
}
.styles_hamburger-main-menu__item__3L4hy a {
  font-style: normal;
  font-weight: 600;
  font-size: 21.6px;
  line-height: 135%;
}
@media (max-width: 1599px) {
  .styles_hamburger-main-menu__item__3L4hy a {
    font-size: 16px;
  }
}
.styles_hamburger-main-menu__wrapper__1QJec {
  position: absolute;
  z-index: 99;
  overflow: hidden;
  width: 100vw;
  margin-left: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
@media (max-width: 767px) {
  .styles_hamburger-main-menu__wrapper__1QJec {
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-right: 16px;
  }
}
.styles_hamburger-main-menu__popup__1C3wQ {
  height: 100vh;
  padding-top: 9vh;
  display: -webkit-flex;
  display: flex;
  margin: auto;
  max-width: 1834px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
@media (max-width: 1919px) {
  .styles_hamburger-main-menu__popup__1C3wQ {
    margin-left: 48px;
    margin-right: 48px;
  }
}
@media (max-width: 1599px) {
  .styles_hamburger-main-menu__popup__1C3wQ {
    margin-left: 40px;
    margin-right: 40px;
  }
  .styles_hamburger-main-menu__list__3C1Bd {
    margin-top: 37px;
  }
}
@media (max-width: 1199px) {
  .styles_hamburger-main-menu__popup__1C3wQ {
    margin-left: 16px;
    margin-right: 16px;
  }
}
@media (max-width: 767px) {
  .styles_hamburger-main-menu__popup__1C3wQ {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    padding-top: 34px;
  }
}
.styles_hamburger-main-menu__list__3C1Bd {
  width: 382px;
  height: 244px;
  background-color: #fff;
  margin-top: 44px;
}
.styles_hamburger-main-menu__list__item__3cfdx {
  width: 334px;
  font-size: 14px;
  margin-top: 20px;
  margin-left: 24px;
  line-height: 135%;
}
.styles_hamburger-main-menu__list__item__3cfdx:first-child {
  padding-top: 16px;
}
.styles_hamburger-main-menu__listHeader__2Dyl4 {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  min-width: 316px;
  margin-bottom: 32px;
  font-weight: 600;
  font-style: normal;
  font-size: 36px;
  line-height: 135%;
  cursor: pointer;
  -webkit-transition: color 0.35s;
  transition: color 0.35s;
}
.styles_hamburger-main-menu__listHeader__arrow__1oYDj {
  display: none;
  float: right;
  margin-top: 5px;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
@media (max-width: 767px) {
  .styles_hamburger-main-menu__listHeader__arrow__1oYDj {
    display: block;
  }
}
@media (max-width: 1599px) {
  .styles_hamburger-main-menu__listHeader__2Dyl4 {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  .styles_hamburger-main-menu__listHeader__2Dyl4 {
    font-size: 16px;
    margin-bottom: 16px;
    min-width: 100%;
  }
}
.styles_hamburger-main-menu__listItem__277oy {
  margin-bottom: 24px;
  font-weight: 400;
  font-style: normal;
  font-size: 26.4px;
  line-height: 125%;
  cursor: pointer;
  -webkit-transition: color 0.35s;
  transition: color 0.35s;
}
@media (max-width: 1599px) {
  .styles_hamburger-main-menu__listItem__277oy {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .styles_hamburger-main-menu__listItem__277oy {
    font-size: 14px;
    margin-bottom: 12px;
  }
}
.styles_Footer__2ZGOI {
  background: #292c31;
}
.styles_Footer__container__lf_az {
  display: -webkit-flex;
  display: flex;
  padding-left: 109px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .styles_Footer__container__lf_az {
    -webkit-flex-direction: column;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.styles_Footer__listWrapp__1lsbj {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .styles_Footer__listWrapp__1lsbj {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
.styles_Footer__trademark-listItem__p0gdC {
  font-size: 18px;
}
.styles_Footer__wrapper__2lKb_ {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-bottom: 28px;
  padding-top: 48px;
  border-bottom: 1px solid #7f8083;
}
@media (max-width: 767px) {
  .styles_Footer__wrapper__2lKb_ {
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 36px 0;
  }
}
.styles_Footer__logo__3enQZ svg {
  cursor: pointer;
}
@media (max-width: 767px) {
  .styles_Footer__logo__3enQZ {
    padding-bottom: 36px;
  }
}
.styles_Footer__list__3vU1E {
  max-width: 306px;
  padding-top: 4px;
  color: #fff;
}
.styles_Footer__list__grid__2wzSS {
  padding-top: 48px;
}
.styles_Footer__list__3vU1E:last-child {
  text-align: end;
}
@media (max-width: 767px) {
  .styles_Footer__list__3vU1E {
    margin-top: 16px;
  }
  .styles_Footer__list__grid__2wzSS {
    overflow: hidden;
    display: grid;
    grid-template-columns: 233px;
  }
}
.styles_Footer__listHeader__2W4f6 {
  display: -webkit-flex;
  display: flex;
  width: 310px;
  margin-bottom: 24px;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 135%;
  color: #fff;
  cursor: pointer;
  -webkit-transition: color 0.35s;
  transition: color 0.35s;
}
.styles_Footer__listHeader__2W4f6 a {
  width: 250px;
}
.styles_Footer__listHeader__2W4f6 svg {
  margin-top: -2px;
  margin-right: 16px;
}
.styles_Footer__listHeader__2W4f6:hover {
  color: #a9abad;
}
@media (max-width: 1599px) {
  .styles_Footer__listHeader__2W4f6 {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .styles_Footer__listHeader__2W4f6 {
    font-size: 16px;
    margin-bottom: 16px;
  }
}
.styles_Footer__listHeaderPhone__27M02 {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.styles_Footer__listHeaderPhone__27M02 a {
  padding-bottom: 24px;
  color: #fff;
}
.styles_Footer__listItem__KOBX9 {
  margin-bottom: 20px;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 125%;
  color: #a9abad;
  cursor: pointer;
  -webkit-transition: color 0.35s;
  transition: color 0.35s;
}
.styles_Footer__listItem__KOBX9:hover {
  color: #fff;
}
@media (max-width: 1599px) {
  .styles_Footer__listItem__KOBX9 {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .styles_Footer__listItem__KOBX9 {
    font-size: 14px;
    margin-bottom: 12px;
  }
}
.styles_Footer__email__3P2xm {
  margin-bottom: 8px;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 120%;
  cursor: pointer;
  -webkit-transition: 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.styles_Footer__email__3P2xm:hover {
  color: #fff;
  text-decoration: underline;
}
@media (max-width: 1599px) {
  .styles_Footer__email__3P2xm {
    font-size: 16px;
  }
}
.styles_Footer__phone__WYzmY {
  margin-bottom: 32px;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 135%;
  cursor: pointer;
  -webkit-transition: 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.styles_Footer__phone__WYzmY div:first-child:hover,
.styles_Footer__phone__WYzmY div:last-child:hover {
  color: #fff;
  text-decoration: underline;
}
@media (max-width: 1599px) {
  .styles_Footer__phone__WYzmY {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .styles_Footer__phone__WYzmY {
    font-size: 22px;
  }
}
.styles_Footer__address__3wW2X {
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 125%;
  cursor: default;
}
@media (max-width: 1599px) {
  .styles_Footer__address__3wW2X {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .styles_Footer__address__3wW2X {
    font-size: 14px;
  }
}
.styles_Footer__trademarkWrapper__1Krfy {
  width: 777px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-top: 36px;
  padding-bottom: 28px;
  padding-top: 28px;
  border-top: 1px solid #7f8083;
}
@media (max-width: 767px) {
  .styles_Footer__trademarkWrapper__1Krfy {
    width: 100%;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding-bottom: 9px;
  }
}
.styles_Footer__trademark__2RzRi {
  color: #a9abad;
}
.styles_Footer__trademark-listItem__p0gdC {
  margin-bottom: 8px;
  cursor: pointer;
  -webkit-transition: color 0.35s;
  transition: color 0.35s;
}
.styles_Footer__trademark-listItem__p0gdC:last-child {
  margin-bottom: 0;
}
.styles_Footer__trademark-listItem__p0gdC:hover {
  color: #fff;
  text-decoration: underline;
}
.styles_Footer__trademark-listItemNoHover__36qST {
  cursor: default;
}
.styles_Footer__trademark-listItemNoHover__36qST:hover {
  color: #a9abad;
  text-decoration: unset;
}
.styles_Footer__trademark-listLogoWrap__2KJR5 {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  margin-top: 24px;
}
@media (max-width: 767px) {
  .styles_Footer__trademark-listLogoWrap__2KJR5 {
    -webkit-justify-content: unset;
    justify-content: unset;
  }
}
.styles_Footer__trademark-listLogo__Jiqoj {
  margin-left: 20px;
}
@media (max-width: 767px) {
  .styles_Footer__trademark__2RzRi {
    font-size: 14px;
    margin-bottom: 36px;
  }
}
@-webkit-keyframes react-loading-skeleton {
  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@keyframes react-loading-skeleton {
  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
.react-loading-skeleton {
  --base-color: #ebebeb;
  --highlight-color: #f5f5f5;
  --animation-duration: 1.5s;
  --animation-direction: normal;
  --pseudo-element-display: block;
  background-color: var(--base-color);
  width: 100%;
  border-radius: 0.25rem;
  display: -webkit-inline-flex;
  display: inline-flex;
  line-height: 1;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.react-loading-skeleton:after {
  content: " ";
  display: var(--pseudo-element-display);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--base-color)),
    color-stop(var(--highlight-color)),
    to(var(--base-color))
  );
  background-image: -webkit-linear-gradient(
    left,
    var(--base-color),
    var(--highlight-color),
    var(--base-color)
  );
  background-image: linear-gradient(
    90deg,
    var(--base-color),
    var(--highlight-color),
    var(--base-color)
  );
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-animation-name: react-loading-skeleton;
  animation-name: react-loading-skeleton;
  -webkit-animation-direction: var(--animation-direction);
  animation-direction: var(--animation-direction);
  -webkit-animation-duration: var(--animation-duration);
  animation-duration: var(--animation-duration);
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.styles_Arrow__1qcSu {
  position: relative;
  display: -webkit-flex;
  display: flex;
  width: 42px;
  height: 30px;
  cursor: pointer;
  color: #292c31;
  border: none;
  background: #f5f5f5;
  -webkit-transition: color 0.35s, background-color 0.35s, border-color 0.35s;
  transition: color 0.35s, background-color 0.35s, border-color 0.35s;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.styles_Arrow_disabled__2lel5 {
  color: #d4d5d6;
}
.styles_Arrow_white__s62dv {
  width: 55px;
  height: 33px;
  color: #fff;
}
.styles_Arrow_white__s62dv svg {
  width: 55px;
  height: 33px;
}
.styles_Arrow_white__s62dv svg > path {
  fill: #fff;
}
.styles_Arrow_blue__2rF_U {
  width: 55px;
  height: 33px;
  color: #03439a;
  background: transparent;
}
.styles_Arrow_blue__2rF_U svg {
  width: 55px;
  height: 33px;
}
.styles_Arrow_blue__2rF_U svg > path {
  fill: #03439a;
}
.styles_Arrow__1qcSu svg {
  display: block;
}
.styles_Arrow__1qcSu:hover > svg * {
  fill: #03439a;
}
.styles_Heading__1jcMq {
  position: relative;
  line-height: 130%;
  white-space: pre-line;
  text-transform: uppercase;
  color: #292c31;
}
.styles_Heading_notransform__jggwP {
  text-transform: none;
}
.styles_Heading_level-1__grV3t {
  font-weight: 500;
  font-style: normal;
  font-size: 91.2px;
  line-height: 110%;
}
@media (max-width: 1599px) {
  .styles_Heading_level-1__grV3t {
    font-size: 76px;
  }
}
.styles_Heading_level-2__I6U-q {
  font-weight: 600;
  font-style: normal;
  font-size: 57.6px;
  line-height: 110%;
}
@media (max-width: 1599px) {
  .styles_Heading_level-2__I6U-q {
    font-size: 48px;
  }
}
@media (max-width: 1024px) {
  .styles_Heading_level-2__I6U-q {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .styles_Heading_level-2__I6U-q {
    font-size: 28px;
  }
}
.styles_Heading_level-3__UYMsw {
  font-weight: 600;
  font-style: normal;
  font-size: 43.2px;
  line-height: 110%;
}
@media (max-width: 1599px) {
  .styles_Heading_level-3__UYMsw {
    font-size: 36px;
  }
}
@media (max-width: 1024px) {
  .styles_Heading_level-3__UYMsw {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .styles_Heading_level-3__UYMsw {
    font-size: 28px;
  }
}
.styles_Heading_level-4__2w4dT {
  font-weight: 500;
  font-style: normal;
  font-size: 19.2px;
  line-height: 120%;
}
@media (max-width: 1599px) {
  .styles_Heading_level-4__2w4dT {
    font-size: 16px;
  }
}
.styles_AboutHistoryBlock__3soMr {
  padding-top: 60px;
}
@media (max-width: 1599px) {
  .styles_AboutHistoryBlock__3soMr {
    margin: 60px 0;
    padding-top: 60px;
  }
}
.styles_AboutHistoryBlock__titleWrap__38do_ {
  border-bottom: 1px solid #54565a;
}
@media (max-width: 767px) {
  .styles_AboutHistoryBlock__titleWrap__38do_ {
    margin-left: 16px;
    margin-right: 16px;
  }
}
.styles_AboutHistoryBlock__title__3qdDV {
  padding-bottom: 24px;
  font-weight: 600;
  font-style: normal;
  font-size: 57.6px;
  line-height: 110%;
  text-transform: uppercase;
  cursor: default;
}
@media (max-width: 1599px) {
  .styles_AboutHistoryBlock__title__3qdDV {
    font-size: 48px;
  }
}
@media (max-width: 1024px) {
  .styles_AboutHistoryBlock__title__3qdDV {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .styles_AboutHistoryBlock__title__3qdDV {
    font-size: 28px;
    padding-bottom: 16px;
  }
}
.styles_AboutHistoryBlock__content__1cdYb {
  vertical-align: top;
  padding-bottom: 43px;
}
.styles_AboutHistoryBlock__textWrap__2VGud {
  width: 51.581%;
  margin-right: 66px;
  margin-top: 100px;
  margin-left: 108px;
}
@media (max-width: 1599px) {
  .styles_AboutHistoryBlock__textWrap__2VGud {
    margin-left: 90px;
  }
}
@media (max-width: 1024px) {
  .styles_AboutHistoryBlock__textWrap__2VGud {
    margin-left: 0;
    margin-top: 0;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .styles_AboutHistoryBlock__textWrap__2VGud {
    margin-left: 0;
    margin-top: 0;
    width: 100%;
  }
}
.styles_AboutHistoryBlock__subtitle__1aIn6 {
  color: #03439a;
  margin-bottom: 32px;
}
@media (max-width: 1024px) {
  .styles_AboutHistoryBlock__subtitle__1aIn6 {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .styles_AboutHistoryBlock__subtitle__1aIn6 {
    text-align: center;
  }
}
.styles_AboutHistoryBlock__description__3IfBP {
  margin-bottom: 36px;
  max-width: 561px;
  cursor: default;
}
@media (max-width: 1599px) {
  .styles_AboutHistoryBlock__description__3IfBP {
    max-width: 537px;
  }
}
.styles_AboutHistoryBlock__items__3BbYz {
  overflow: hidden;
}
.styles_AboutHistoryBlock__itemsWrap__1bZMt {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.styles_AboutHistoryBlock__item__2QQju {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  padding-top: 40px;
  border-top: 0;
  border-right: none;
  border-bottom: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
@media (max-width: 1024px) {
  .styles_AboutHistoryBlock__item__2QQju {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .styles_AboutHistoryBlock__item__2QQju {
    -webkit-flex-direction: column;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.styles_AboutHistoryBlock__item__2QQju:first-child img,
.styles_AboutHistoryBlock__item__2QQju:nth-child(2) img {
  object-fit: contain;
}
.styles_AboutHistoryBlock__item__2QQju:nth-child(13) img {
  /* height: 0; */
}
.styles_AboutHistoryBlock__imageWrap__D_GB4 {
  position: relative;
  width: 48.419%;
}
.styles_AboutHistoryBlock__imageWrap__D_GB4:before {
  display: block;
  padding-top: 66.123%;
  content: "";
}
@media (max-width: 1024px) {
  .styles_AboutHistoryBlock__imageWrap__D_GB4 {
    width: 100%;
    height: 345px;
  }
}
@media (max-width: 767px) {
  .styles_AboutHistoryBlock__imageWrap__D_GB4 {
    width: 100%;
    height: 345px;
  }
}
.styles_AboutHistoryBlock__image__ndsfr {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (max-width: 1024px) {
  .styles_AboutHistoryBlock__image__ndsfr {
    object-fit: contain;
  }
}
.styles_AboutHistoryBlock__navigationWrap__1iab0 {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 16px 0 24px;
}
@media (max-width: 1024px) {
  .styles_AboutHistoryBlock__navigationWrap__1iab0 {
    display: none;
  }
}
@media (max-width: 767px) {
  .styles_AboutHistoryBlock__navigationWrap__1iab0 {
    display: none;
  }
}
.styles_AboutHistoryBlock__navigation__1ZjSx {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
}
.styles_AboutHistoryBlock__navigation_currentSlide__3BJh- {
  font-weight: 600;
  font-style: normal;
  font-size: 22px;
  line-height: 135%;
  color: #292c31;
}
.styles_AboutHistoryBlock__navigation_allSlides__V_5-H {
  font-weight: 600;
  font-style: normal;
  font-size: 22px;
  line-height: 135%;
  color: #a9abad;
}
.styles_AboutHistoryBlock__arrowWrap__2gh-7 {
  display: -webkit-flex;
  display: flex;
}
.styles_AboutHistoryBlock__arrow_next__cyZ4K {
  margin-right: -4px;
}
.styles_AboutHistoryBlock__arrow_disabled__1vtjI,
.styles_AboutHistoryBlock__arrow_disabled__1vtjI:hover {
  color: #d4d5d6;
}
.styles_AboutHistoryBlock__swiper-pagination__uBH0- {
  width: 100% !important;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .styles_AboutHistoryBlock__swiper-pagination__uBH0- {
    display: none;
  }
}
.styles_AboutHistoryBlock__swiper-pagination-bullet__2QiGF {
  width: 40px;
  position: relative;
  height: 30px;
  text-align: left;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  color: #d4d5d6;
  opacity: 1;
  display: inline-block;
  left: auto !important;
}
.styles_AboutHistoryBlock__swiper-pagination-bullet-active__KP5ig {
  color: #292c31;
}
@media (max-width: 767px) {
  .styles_AboutHistoryBlock__3soMr {
    margin-top: 20px;
    padding-top: 0;
  }
}
.styles_MainPage__VPsPU {
  position: relative;
  color: #292c31;
}
.styles_MainPage__VPsPU .styles_AboutHistoryBlock__3FnqZ {
  margin: 60px 0;
  padding-top: 20px;
}
.styles_MainPage__VPsPU .styles_AboutHistoryBlock__contentWrap__IuFXv {
  border-bottom-width: 0;
}
.styles_AboutHistoryBlock__3FnqZ {
  margin: 60px 0;
  padding-top: 20px;
}
.styles_AboutHistoryBlock__contentWrap__IuFXv {
  border-bottom-width: 0;
}
