.styles_Page__2fP-s {
    position: relative
}

.styles_Container__13BBU {
    position: relative;
    left: 0;
    width: 100%;
    max-width: 1834px;
    margin-right: auto;
    margin-left: auto
}

@media(max-width:1919px) {
    .styles_Container__13BBU {
        width: auto;
        margin: 0 48px
    }
}

@media(max-width:1599px) {
    .styles_Container__13BBU {
        width: auto;
        margin: 0 40px
    }
}

@media(max-width:1199px) {
    .styles_Container__13BBU {
        width: auto;
        margin: 0 16px
    }
}

@media(max-width:767px) {
    .styles_Container__13BBU {
        width: auto;
        margin: 0
    }
}

.styles_Header__1VAv6 {
    cursor: pointer
}

.styles_Header__container__GjszS {
    padding-top: 16px;
    padding-bottom: 16px
}

@media(max-width:767px) {
    .styles_Header__container__GjszS {
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 10px
    }
}

@media(max-width:1024px) {
    .styles_Header__container__GjszS {
        padding-top: 10px;
        padding-bottom: 10px
    }
}

.styles_Header__1VAv6 svg {
    width: 160px;
    height: 80px;
    display: block
}

@media(max-width:1024px) {
    .styles_Header__1VAv6 svg {
        width: auto;
        height: auto
    }
}

.styles_Header__wrapper__16nKj {
    -webkit-align-items: flex-start;
    align-items: flex-start
}

.styles_Header__list__36sF6,
.styles_Header__wrapper__16nKj {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

.styles_Header__list__36sF6 {
    font-size: 18px;
    margin-top: 28px;
    min-width: 684px;
    width: 1026px
}

.styles_Header__list__wrapp__2nWFj {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around
}

@media(max-width:767px) {
    .styles_Header__list__wrapp__2nWFj {
        display: none
    }
}

@media(max-width:1599px) {
    .styles_Header__list__36sF6 {
        min-width: 574px
    }
}

@media(max-width:767px) {
    .styles_Header__list__36sF6 {
        min-width: 0
    }
}

.styles_Header__listItem__2z9e6 {
    cursor: pointer;
    -webkit-transition: color .35s;
    transition: color .35s;
    color: #7f8083
}

.styles_Header__listItem__hover__Z0EuM {
    display: block
}

.styles_Header__listItem__2z9e6:hover {
    color: #03439a
}

.styles_Header__listItem__2z9e6:last-child {
    margin-right: 0
}

@media(max-width:767px) {
    .styles_Header__listItem__2z9e6 {
        display: none
    }
}

@media(max-width:1024px) {
    .styles_Header__listItem__2z9e6 {
        font-size: 16px
    }
}

.styles_Header__listItem_active__39Qf7>a {
    padding-bottom: 40px;
    color: #292c31;
    border-bottom: 2px solid #b90c2f;
    -webkit-transition: color .35s;
    transition: color .35s
}

@media(max-width:1599px) {
    .styles_Header__listItem_active__39Qf7>a {
        padding-bottom: 40px
    }
}

.styles_Header__infoWrapper__2fH9f {
    display: -webkit-flex;
    display: flex
}

@media(max-width:767px) {
    .styles_Header__infoWrapper__2fH9f {
        display: none
    }
}

@media(max-width:1024px) {
    .styles_Header__infoWrapper__2fH9f {
        display: none
    }
}

.styles_Header__blockWrap__3ef_d {
    display: -webkit-flex;
    display: flex
}

.styles_Header__logoWrap___Gz9K {
    -webkit-align-items: center;
    align-items: center
}

.styles_Header__logo__2gGry {
    display: block;
    cursor: pointer
}

.styles_Header__phone__BOKN5 {
    font-weight: 600;
    font-style: normal;
    font-size: 21.6px;
    line-height: 135%;
    margin-right: 42px;
    cursor: pointer;
    -webkit-transition: color .35s;
    transition: color .35s;
    position: relative
}

.styles_Header__phone__BOKN5:hover {
    color: #03439a
}

@media(max-width:1599px) {
    .styles_Header__phone__BOKN5 {
        font-size: 18px;
        margin-right: 36px
    }
}

.styles_Header__phone__BOKN5:after {
    position: absolute;
    top: 32px;
    content: "";
    width: 0;
    height: 2px;
    display: block;
    background: #03439a;
    -webkit-transition: .4s cubic-bezier(.445, .05, .55, .95);
    transition: .4s cubic-bezier(.445, .05, .55, .95)
}

@media(max-width:1599px) {
    .styles_Header__phone__BOKN5:after {
        top: 28px
    }
}

.styles_Header__phone__BOKN5:hover:after {
    width: 100%
}

.styles_Header__email__3qExW {
    font-weight: 600;
    font-style: normal;
    font-size: 21.6px;
    line-height: 135%;
    cursor: pointer;
    -webkit-transition: color .35s;
    transition: color .35s;
    position: relative
}

.styles_Header__email__3qExW:hover {
    color: #03439a
}

@media(max-width:1599px) {
    .styles_Header__email__3qExW {
        font-size: 18px
    }
}

.styles_Header__email__3qExW:after {
    position: absolute;
    top: 32px;
    content: "";
    width: 0;
    height: 2px;
    display: block;
    background: #03439a;
    -webkit-transition: .4s cubic-bezier(.445, .05, .55, .95);
    transition: .4s cubic-bezier(.445, .05, .55, .95)
}

@media(max-width:1599px) {
    .styles_Header__email__3qExW:after {
        top: 28px
    }
}

.styles_Header__email__3qExW:hover:after {
    width: 100%
}

.styles_Header__iconWrap__Ig3Hm {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    max-width: 197px;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

.styles_Header__icon__3UB-c:last-child {
    display: -webkit-flex;
    display: flex;
    padding-bottom: 8px
}

.styles_hamburger__wrapper__1r2wb {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center
}

.styles_hamburger-menu__2qS0D {
    display: -webkit-flex;
    display: flex;
    width: 28px;
    height: 24px;
    -webkit-flex-direction: column;
    flex-direction: column;
    cursor: pointer;
    -webkit-justify-content: space-around;
    justify-content: space-around
}

.styles_hamburger__wrapper__1r2wb:hover {
    cursor: pointer;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

.styles_hamburger__wrapper__1r2wb:hover .styles_hamburger-menu__2qS0D>.styles_line-1__3Vq4U,
.styles_hamburger__wrapper__1r2wb:hover .styles_hamburger-menu__2qS0D>.styles_line-2__2vtIg,
.styles_hamburger__wrapper__1r2wb:hover .styles_hamburger-menu__2qS0D>.styles_line-3__3zL0x,
.styles_hamburger__wrapper__1r2wb:hover .styles_hamburger-menu__2qS0D>.styles_line__1u9Wv {
    width: 100%;
    background: #03439a
}

.styles_line__1u9Wv {
    width: 100%;
    height: 2px;
    background: #292c31;
    border-radius: 10px;
    -webkit-transition: .6s cubic-bezier(.645, .045, .355, 1);
    transition: .6s cubic-bezier(.645, .045, .355, 1)
}

.styles_line-3__3zL0x {
    -webkit-transition: .3s cubic-bezier(.445, .05, .55, .95);
    transition: .3s cubic-bezier(.445, .05, .55, .95);
    width: 33%
}

.styles_line-2__2vtIg {
    width: 67%
}

.styles_cross__ea8Av {
    width: 100%;
    height: 2px;
    background: #292c31;
    border-radius: 10px
}

.styles_cross-1__1juIZ,
.styles_cross-2__1Wwzx,
.styles_cross-3__1alDY {
    width: 100%;
    background: #54565a
}

.styles_hamburger-menu__2qS0D:hover>.styles_cross-1__1juIZ,
.styles_hamburger-menu__2qS0D:hover>.styles_cross-2__1Wwzx,
.styles_hamburger-menu__2qS0D:hover>.styles_cross-3__1alDY {
    background: #03439a
}

.styles_hideMenu__Z2kZN {
    display: none
}

.styles_hamburger-main-menu__-w5XB {
    border-bottom: 1px solid #d4d5d6;
    height: 110px
}

@media(max-width:767px) {
    .styles_hamburger-main-menu__-w5XB {
        height: 74px
    }
}

.styles_hamburger-main-menu__active__f__2cLmH {
    height: 0
}

.styles_hamburger-main-menu__active__f__2cLmH,
.styles_hamburger-main-menu__active__t__1viI6 {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .5s;
    transition: .5s;
    overflow: hidden
}

.styles_hamburger-main-menu__active__t__1viI6 {
    margin-top: 20px;
    height: 176px
}

.styles_hamburger-main-menu__hover__ypTx_ {
    width: 220px;
    height: 10px;
    -webkit-transition: .2s;
    transition: .2s
}

.styles_hamburger-main-menu__hover__ypTx_:hover {
    height: 303px
}

.styles_hamburger-main-menu__item__3L4hy a {
    font-style: normal;
    font-weight: 600;
    font-size: 21.6px;
    line-height: 135%
}

@media(max-width:1599px) {
    .styles_hamburger-main-menu__item__3L4hy a {
        font-size: 16px
    }
}

.styles_hamburger-main-menu__wrapper__1QJec {
    position: absolute;
    z-index: 99;
    overflow: hidden;
    width: 100vw;
    margin-left: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-start;
    justify-content: flex-start
}

@media(max-width:767px) {
    .styles_hamburger-main-menu__wrapper__1QJec {
        -webkit-flex-direction: column;
        flex-direction: column;
        margin-right: 16px
    }
}

.styles_hamburger-main-menu__popup__1C3wQ {
    height: 100vh;
    padding-top: 9vh;
    display: -webkit-flex;
    display: flex;
    margin: auto;
    max-width: 1834px;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

.styles_hamburger-main-menu__list__3C1Bd {
    width: 382px;
    height: 244px;
    background-color: #fff;
    margin-top: 38px
}

@media(max-width:1919px) {
    .styles_hamburger-main-menu__popup__1C3wQ {
        margin-left: 48px;
        margin-right: 48px
    }
}

@media(max-width:1599px) {
    .styles_hamburger-main-menu__popup__1C3wQ {
        margin-left: 40px;
        margin-right: 40px
    }
    .styles_hamburger-main-menu__list__3C1Bd {
        margin-top: 44px
    }
}

@media(max-width:1199px) {
    .styles_hamburger-main-menu__popup__1C3wQ {
        margin-left: 16px;
        margin-right: 16px
    }
    .styles_hamburger-main-menu__list__3C1Bd {
        margin-top: 44px
    }
}

@media(max-width:1023px) {
    .styles_hamburger-main-menu__list__3C1Bd {
        margin-top: 48px
    }
}
@media(max-width:767px) {
    .styles_hamburger-main-menu__popup__1C3wQ {
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        padding-top: 34px
    }
}

.styles_hamburger-main-menu__list__item__3cfdx {
    width: 334px;
    font-size: 14px;
    margin-top: 20px;
    margin-left: 24px;
    line-height: 135%
}

.styles_hamburger-main-menu__list__item__3cfdx:first-child {
    padding-top: 16px
}

.styles_hamburger-main-menu__listHeader__2Dyl4 {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    min-width: 316px;
    margin-bottom: 32px;
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
    line-height: 135%;
    cursor: pointer;
    -webkit-transition: color .35s;
    transition: color .35s
}

.styles_hamburger-main-menu__listHeader__arrow__1oYDj {
    display: none;
    float: right;
    margin-top: 5px;
    -webkit-transition-duration: .8s;
    transition-duration: .8s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform
}

@media(max-width:767px) {
    .styles_hamburger-main-menu__listHeader__arrow__1oYDj {
        display: block
    }
}

@media(max-width:1599px) {
    .styles_hamburger-main-menu__listHeader__2Dyl4 {
        font-size: 36px
    }
}

@media(max-width:767px) {
    .styles_hamburger-main-menu__listHeader__2Dyl4 {
        font-size: 16px;
        margin-bottom: 16px;
        min-width: 100%
    }
}

.styles_hamburger-main-menu__listItem__277oy {
    margin-bottom: 24px;
    font-weight: 400;
    font-style: normal;
    font-size: 26.4px;
    line-height: 125%;
    cursor: pointer;
    -webkit-transition: color .35s;
    transition: color .35s
}

@media(max-width:1599px) {
    .styles_hamburger-main-menu__listItem__277oy {
        font-size: 22px
    }
}

@media(max-width:767px) {
    .styles_hamburger-main-menu__listItem__277oy {
        font-size: 14px;
        margin-bottom: 12px
    }
}

.styles_Footer__2ZGOI {
    background: #292c31
}

.styles_Footer__container__lf_az {
    display: -webkit-flex;
    display: flex;
    padding-left: 109px;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

@media(max-width:767px) {
    .styles_Footer__container__lf_az {
        -webkit-flex-direction: column;
        flex-direction: column;
        padding-left: 16px;
        padding-right: 16px
    }
}

.styles_Footer__listWrapp__1lsbj {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

@media(max-width:767px) {
    .styles_Footer__listWrapp__1lsbj {
        -webkit-flex-direction: column;
        flex-direction: column
    }
}

.styles_Footer__trademark-listItem__p0gdC {
    font-size: 18px
}

.styles_Footer__wrapper__2lKb_ {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding-bottom: 28px;
    padding-top: 48px;
    border-bottom: 1px solid #7f8083
}

@media(max-width:767px) {
    .styles_Footer__wrapper__2lKb_ {
        -webkit-flex-direction: column;
        flex-direction: column;
        padding: 36px 0
    }
}

.styles_Footer__logo__3enQZ svg {
    cursor: pointer
}

@media(max-width:767px) {
    .styles_Footer__logo__3enQZ {
        padding-bottom: 36px
    }
}

.styles_Footer__list__3vU1E {
    max-width: 306px;
    padding-top: 4px;
    color: #fff
}

.styles_Footer__list__grid__2wzSS {
    padding-top: 48px
}

.styles_Footer__list__3vU1E:last-child {
    text-align: end
}

@media(max-width:767px) {
    .styles_Footer__list__3vU1E {
        margin-top: 16px
    }

    .styles_Footer__list__grid__2wzSS {
        overflow: hidden;
        display: grid;
        grid-template-columns: 233px
    }
}

.styles_Footer__listHeader__2W4f6 {
    display: -webkit-flex;
    display: flex;
    width: 310px;
    margin-bottom: 24px;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    line-height: 135%;
    color: #fff;
    cursor: pointer;
    -webkit-transition: color .35s;
    transition: color .35s
}

.styles_Footer__listHeader__2W4f6 a {
    width: 250px
}

.styles_Footer__listHeader__2W4f6 svg {
    margin-top: -2px;
    margin-right: 16px
}

.styles_Footer__listHeader__2W4f6:hover {
    color: #a9abad
}

@media(max-width:1599px) {
    .styles_Footer__listHeader__2W4f6 {
        font-size: 18px
    }
}

@media(max-width:767px) {
    .styles_Footer__listHeader__2W4f6 {
        font-size: 16px;
        margin-bottom: 16px
    }
}

.styles_Footer__listHeaderPhone__27M02 {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column
}

.styles_Footer__listHeaderPhone__27M02 a {
    padding-bottom: 24px;
    color: #fff
}

.styles_Footer__listItem__KOBX9 {
    margin-bottom: 20px;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 125%;
    color: #a9abad;
    cursor: pointer;
    -webkit-transition: color .35s;
    transition: color .35s
}

.styles_Footer__listItem__KOBX9:hover {
    color: #fff
}

@media(max-width:1599px) {
    .styles_Footer__listItem__KOBX9 {
        font-size: 16px
    }
}

@media(max-width:767px) {
    .styles_Footer__listItem__KOBX9 {
        font-size: 14px;
        margin-bottom: 12px
    }
}

.styles_Footer__email__3P2xm {
    margin-bottom: 8px;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 120%;
    cursor: pointer;
    -webkit-transition: .4s cubic-bezier(.445, .05, .55, .95);
    transition: .4s cubic-bezier(.445, .05, .55, .95)
}

.styles_Footer__email__3P2xm:hover {
    color: #fff;
    text-decoration: underline
}

@media(max-width:1599px) {
    .styles_Footer__email__3P2xm {
        font-size: 16px
    }
}

.styles_Footer__phone__WYzmY {
    margin-bottom: 32px;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    line-height: 135%;
    cursor: pointer;
    -webkit-transition: .4s cubic-bezier(.445, .05, .55, .95);
    transition: .4s cubic-bezier(.445, .05, .55, .95)
}

.styles_Footer__phone__WYzmY div:first-child:hover,
.styles_Footer__phone__WYzmY div:last-child:hover {
    color: #fff;
    text-decoration: underline
}

@media(max-width:1599px) {
    .styles_Footer__phone__WYzmY {
        font-size: 18px
    }
}

@media(max-width:767px) {
    .styles_Footer__phone__WYzmY {
        font-size: 22px
    }
}

.styles_Footer__address__3wW2X {
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 125%;
    cursor: default
}

@media(max-width:1599px) {
    .styles_Footer__address__3wW2X {
        font-size: 16px
    }
}

@media(max-width:767px) {
    .styles_Footer__address__3wW2X {
        font-size: 14px
    }
}

.styles_Footer__trademarkWrapper__1Krfy {
    width: 777px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-top: 36px;
    padding-bottom: 28px;
    padding-top: 28px;
    border-top: 1px solid #7f8083
}

@media(max-width:767px) {
    .styles_Footer__trademarkWrapper__1Krfy {
        width: 100%;
        -webkit-flex-direction: column;
        flex-direction: column;
        padding-bottom: 9px
    }
}

.styles_Footer__trademark__2RzRi {
    color: #a9abad
}

.styles_Footer__trademark-listItem__p0gdC {
    margin-bottom: 8px;
    cursor: pointer;
    -webkit-transition: color .35s;
    transition: color .35s
}

.styles_Footer__trademark-listItem__p0gdC:last-child {
    margin-bottom: 0
}

.styles_Footer__trademark-listItem__p0gdC:hover {
    color: #fff;
    text-decoration: underline
}

.styles_Footer__trademark-listItemNoHover__36qST {
    cursor: default
}

.styles_Footer__trademark-listItemNoHover__36qST:hover {
    color: #a9abad;
    text-decoration: unset
}

.styles_Footer__trademark-listLogoWrap__2KJR5 {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    margin-top: 24px
}

@media(max-width:767px) {
    .styles_Footer__trademark-listLogoWrap__2KJR5 {
        -webkit-justify-content: unset;
        justify-content: unset
    }
}

.styles_Footer__trademark-listLogo__Jiqoj {
    margin-left: 20px
}

@media(max-width:767px) {
    .styles_Footer__trademark__2RzRi {
        font-size: 14px;
        margin-bottom: 36px
    }
}

.styles_MainBannerSlider__contentWrap__dNovr {
    display: -webkit-flex;
    display: flex
}

@media(max-width:767px) {
    .styles_MainBannerSlider__contentWrap__dNovr {
        -webkit-flex-direction: column;
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px
    }
}

.styles_MainBannerSlider__title__1ujuj {
    margin-top: 45px;
    max-width: 700px;
    font-weight: 600;
    font-style: normal;
    font-size: 76px;
    text-transform: uppercase;
    font-size: 58px;
    line-height: 110%
}

@media(max-width:1599px) {
    .styles_MainBannerSlider__title__1ujuj {
        max-width: 550px;
        font-size: 48px
    }
}

@media(max-width:767px) {
    .styles_MainBannerSlider__title__1ujuj {
        max-width: 390px;
        font-size: 28px;
        line-height: 120%
    }
}

.styles_MainBannerSlider__textWrap__1sx1O {
    margin-top: 36px;
    margin-left: 90px
}

@media(max-width:1919px) {
    .styles_MainBannerSlider__textWrap__1sx1O {
        margin-left: 90px
    }
}

@media(max-width:1599px) {
    .styles_MainBannerSlider__textWrap__1sx1O {
        margin-left: 90px
    }
}

@media(max-width:767px) {
    .styles_MainBannerSlider__textWrap__1sx1O {
        padding-top: 20px;
        margin-bottom: 32px;
        margin-left: 0;
        font-size: 16px
    }
}

.styles_MainBannerSlider__description__2b5-2 {
    margin-bottom: 36px;
    white-space: pre-line;
    opacity: 0
}

.styles_MainBannerSlider__items__8VW7L {
    margin-left: -1px;
    overflow: hidden
}

@media(max-width:767px) {
    .styles_MainBannerSlider__items__8VW7L {
        margin-left: 16px;
        margin-right: 16px
    }
}

.styles_MainBannerSlider__itemsWrap__1R0px {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start
}

.styles_MainBannerSlider__item__Jd_wK {
    width: 100%;
    max-width: 1894px;
    padding-top: 32px;
    border-top: 0;
    border-right: none;
    border-bottom: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0
}

@media(max-width:767px) {
    .styles_MainBannerSlider__item__Jd_wK {
        height: 363px;
        padding-top: 16px
    }
}

.styles_MainBannerSlider__video__18fdN {
    margin-top: 32px;
    width: 100%;
    min-height: 350px;
    max-height: 500px;
    object-fit: cover;
}
.styles_MainBannerSlider__imageWrap__2MPam {
    position: relative;
    width: 100%
}

.styles_MainBannerSlider__imageWrap__2MPam:before {
    display: block;
    content: ""
}

.styles_MainBannerSlider__image__18fdN {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}

@media(max-width:767px) {
    .styles_MainBannerSlider__image__18fdN {
        height: 363px
    }
}

.styles_MainBannerSlider__navigationWrap__2BT0a {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 0;
    margin-top: 20px
}

@media(max-width:767px) {
    .styles_MainBannerSlider__navigationWrap__2BT0a {
        -webkit-justify-content: space-between;
        justify-content: space-between;
        padding-left: 16px;
        padding-right: 16px
    }
}

.styles_MainBannerSlider__navigation__cD94t {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
    position: relative
}

.styles_MainBannerSlider__navigation_currentSlide__3v7XS {
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    line-height: 135%;
    color: #292c31
}

.styles_MainBannerSlider__navigation_allSlides__BXz-6 {
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    line-height: 135%;
    color: #a9abad
}

.styles_MainBannerSlider__line__2sHMg {
    top: 14px;
    left: 58px;
    width: 543px;
    height: 1.8px;
    border-radius: 20px
}

@media(max-width:767px) {
    .styles_MainBannerSlider__line__2sHMg {
        top: 40px;
        left: 0;
        width: 91vw
    }
}

.styles_MainBannerSlider__lineActive__3d_KE {
    background: #b90c2f;
    position: absolute;
    left: 0;
    top: -.6px;
    width: 100%;
    height: 150%;
    border-radius: 20px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: left top;
    transform-origin: left top
}

.styles_MainBannerSlider__arrowWrap__Pq1SP {
    display: -webkit-flex;
    display: flex
}

@media(max-width:767px) {
    .styles_MainBannerSlider__arrowWrap__Pq1SP {
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        display: -webkit-flex;
        display: flex
    }
}

.styles_MainBannerSlider__arrow_next__1FLgc {
    margin-right: -4px
}

.styles_MainBannerSlider__arrow_disabled__2AAtc,
.styles_MainBannerSlider__arrow_disabled__2AAtc:hover {
    color: #d4d5d6
}

.styles_MainInfoBlock__1z5HD {
    margin: 60px 0;
    padding-top: 54px
}

@media(max-width:1599px) {
    .styles_MainInfoBlock__1z5HD {
        margin: 54px 0;
        padding-top: 60px
    }
}

@media(max-width:1599px)and (max-width:767px) {
    .styles_MainInfoBlock__1z5HD {
        margin: 40px 0;
        padding-top: 20px
    }
}

.styles_MainInfoBlock__contentWrap__2Q4RP {
    display: -webkit-flex;
    display: flex
}

@media(max-width:767px) {
    .styles_MainInfoBlock__contentWrap__2Q4RP {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column
    }
}

.styles_MainInfoBlock__content__3YX6p {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-content: center;
    align-content: center;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%
}

@media(max-width:767px) {
    .styles_MainInfoBlock__content__3YX6p:last-child {
        margin-left: 51px;
        margin-top: 36px;
        margin-right: 16px
    }
}

.styles_MainInfoBlock__content__3YX6p:first-child {
    width: unset
}

@media(max-width:767px) {
    .styles_MainInfoBlock__content__3YX6p {
        -webkit-flex-direction: column;
        flex-direction: column;
        width: unset
    }
}

.styles_MainInfoBlock__imageWrap__34zwA {
    width: 83.3%
}

.styles_MainInfoBlock__imageWrap__34zwA img {
    width: 100%;
    display: block
}

@media(max-width:767px) {
    .styles_MainInfoBlock__imageWrap__34zwA img {
        padding-left: 16px;
        padding-right: 16px
    }

    .styles_MainInfoBlock__imageWrap__34zwA {
        width: unset
    }
}

.styles_MainInfoBlock__quotes__2PP8v {
    position: absolute;
    left: -60px;
    top: -10px
}

@media(max-width:1599px) {
    .styles_MainInfoBlock__quotes__2PP8v {
        top: 90px
    }
}

@media(max-width:767px) {
    .styles_MainInfoBlock__quotes__2PP8v {
        position: unset;
        margin-left: 16px
    }

    .styles_MainInfoBlock__quotes__2PP8v svg {
        width: 28px;
        height: 19px;
        margin-left: -51px
    }
}

.styles_MainInfoBlock__quote__Gek-p {
    width: 48%;
    text-indent: 20px;
    text-align: justify;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 135%
}

@media(max-width:1599px) {
    .styles_MainInfoBlock__quote__Gek-p {
        font-size: 20px
    }
}

@media(max-width:767px) {
    .styles_MainInfoBlock__quote__Gek-p {
        width: 100%;
        font-size: 16px;
        margin: 0 0 16px;
        text-align: unset
    }
}

.styles_MainInfoBlock__quote__Gek-p:last-child {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: flex-end;
    align-items: flex-end
}

.styles_MainInfoBlock__title__IY5Kf {
    margin-bottom: 12px;
    font-weight: 600;
    font-style: normal;
    font-size: 26.4px;
    line-height: 130%;
    color: #b90c2f;
    text-align: right
}

@media(max-width:1599px) {
    .styles_MainInfoBlock__title__IY5Kf {
        margin-bottom: 8px;
        font-size: 22px
    }
}

@media(max-width:767px) {
    .styles_MainInfoBlock__title__IY5Kf {
        font-size: 16px;
        width: 316px
    }
}

@media(max-width:1024px) {
    .styles_MainInfoBlock__title__IY5Kf {
        font-size: 18px
    }
}

.styles_MainInfoBlock__subtitle__2xFzb {
    font-weight: 400;
    font-style: normal;
    font-size: 21.6px;
    line-height: 135%;
    color: #292c31;
    text-align: right
}

@media(max-width:1599px) {
    .styles_MainInfoBlock__subtitle__2xFzb {
        font-size: 18px
    }
}

@media(max-width:767px) {
    .styles_MainInfoBlock__subtitle__2xFzb {
        font-size: 14px
    }
}

@media(max-width:1024px) {
    .styles_MainInfoBlock__subtitle__2xFzb {
        font-size: 16px
    }
}

.styles_MainAboutBlock__1et9S {
    overflow: hidden
}

@media(max-width:767px) {
    .styles_MainAboutBlock__1et9S {
        padding-top: 34px
    }
}

.styles_MainAboutBlock__buttonWrap__3ccEL {
    height: 32px
}

.styles_MainAboutBlock__titleWrap__13iCl {
    border-bottom: 1px solid #54565a
}

@media(max-width:767px) {
    .styles_MainAboutBlock__titleWrap__13iCl {
        margin-left: 16px;
        margin-right: 16px
    }
}

.styles_MainAboutBlock__title__1wxmL {
    padding-top: 60px;
    padding-bottom: 24px;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    line-height: 110%;
    text-transform: uppercase;
    cursor: default
}

@media(max-width:1599px) {
    .styles_MainAboutBlock__title__1wxmL {
        font-size: 48px
    }
}

@media(max-width:767px) {
    .styles_MainAboutBlock__title__1wxmL {
        font-size: 28px;
        padding-top: 60px;
        border-top-width: 0
    }
}

.styles_MainAboutBlock__contentWrap__3Kkx_ {
    display: -webkit-flex;
    display: flex
}

@media(max-width:767px) {
    .styles_MainAboutBlock__contentWrap__3Kkx_ {
        -webkit-flex-direction: column;
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px
    }
}

.styles_MainAboutBlock__content__2fXJX {
    width: 100%
}

@media(max-width:767px) {

    .styles_MainAboutBlock__content__2fXJX,
    .styles_MainAboutBlock__content__2fXJX:first-child,
    .styles_MainAboutBlock__content__2fXJX:last-child {
        width: auto
    }
}

.styles_MainAboutBlock__tabContent__2cyb9 {
    margin-top: 40px
}

@media(max-width:767px) {
    .styles_MainAboutBlock__tabContent__2cyb9 {
        margin-top: 0
    }
}

.styles_MainAboutBlock__itemsWrap__3jpsX {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 32px
}

@media(max-width:767px) {
    .styles_MainAboutBlock__itemsWrap__3jpsX {
        margin-top: 0
    }
}

.styles_MainAboutBlock__item__9xjiw {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    width: 25%
}

@media(max-width:767px) {
    .styles_MainAboutBlock__item__9xjiw {
        width: 50%
    }

    .styles_MainAboutBlock__item__9xjiw:nth-child(9),
    .styles_MainAboutBlock__item__9xjiw:nth-child(10),
    .styles_MainAboutBlock__item__9xjiw:nth-child(11),
    .styles_MainAboutBlock__item__9xjiw:nth-child(12),
    .styles_MainAboutBlock__item__9xjiw:nth-child(13),
    .styles_MainAboutBlock__item__9xjiw:nth-child(14),
    .styles_MainAboutBlock__item__9xjiw:nth-child(15),
    .styles_MainAboutBlock__item__9xjiw:nth-child(16) {
        display: none
    }
}

.styles_MainAboutBlock__imageWrap__wJ2vL {
    -webkit-transform: scale(.8);
    transform: scale(.8)
}

.styles_MainAboutBlock__imageWrap__wJ2vL:hover {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .5s;
    transition: .5s
}

.styles_MainAboutBlock__imageWrap__wJ2vL img {
    image-rendering: optimizeQuality
}

.styles_MainAboutBlock__image__3VQEW {
    width: 100%
}

@media(max-width:767px) {
    .styles_MainAboutBlock__image__3VQEW {
        opacity: 0
    }
}

.styles_MainAboutBlock__imageTop__f8RLo:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: .5s;
    transition: .5s
}

.styles_MainAboutBlock__imageTop__f8RLo {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 10
}

@media(max-width:1680px) {
    .styles_MainAboutBlock__imageTop__f8RLo {
        top: -22px
    }
}

@media(max-width:767px) {
    .styles_MainAboutBlock__imageTop__f8RLo {
        display: -webkit-flex;
        display: flex;
        top: 0;
        left: 0;
        width: auto
    }
}

.styles_MainAboutBlock__achievements__2K_cu {
    overflow: hidden
}

.styles_MainAboutBlock__achievementsWrap__1csw6 {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start
}

.styles_MainAboutBlock__achievement__1vGjl {
    margin-right: 42px;
    width: 29.5%;
    -webkit-flex-shrink: 0;
    flex-shrink: 0
}

.styles_MainAboutBlock__achievement__1vGjl:last-child {
    margin-right: 0
}

@media(max-width:767px) {
    .styles_MainAboutBlock__achievement__1vGjl {
        width: 45%
    }

    .styles_MainAboutBlock__achievement__1vGjl img {
        object-fit: contain
    }
}

.styles_MainAboutBlock__achievementImageWrap__1OiQH {
    position: relative;
    width: 100%
}

.styles_MainAboutBlock__achievementImage__13_Q1 {
    width: 100%
}

.styles_MainAboutBlock__achievementButtonWrap__3CpUh {
    padding-bottom: 7px
}

.styles_MainAboutBlock__navigationBlock__1xUGn {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-top: 36px
}

.styles_MainAboutBlock__navigation__1CXrG {
    display: none
}

.styles_MainAboutBlock__arrowWrap__7WhXJ {
    display: -webkit-flex;
    display: flex
}

.styles_MainAboutBlock__policyTitle__3A2Sn {
    margin-bottom: 32px;
    font-weight: 600;
    font-style: normal;
    font-size: 26.4px;
    line-height: 130%
}

.styles_MainAboutBlock__policyDesc__eCa6T {
    white-space: pre-line
}

.styles_MainAboutBlock__description__8RxO3 {
    margin-bottom: 36px;
    max-width: 561px;
    cursor: default
}

.styles_MainAboutBlock__tabs__3ZkBl {
    margin-top: 40px
}

.styles_MainAboutBlock__tabsWrap__axn7u {
    margin-top: 32px;
    max-width: 380px
}

.styles_MainAboutBlock__tabsWrap__axn7u:first-child {
    margin-top: 0
}

@media(max-width:1599px) {
    .styles_MainAboutBlock__tabsWrap__axn7u {
        max-width: 350px
    }
}

.styles_MainAboutBlock__tabsWrap__axn7u button {
    font-weight: 600;
    font-style: normal;
    font-size: 26.4px;
    line-height: 130%
}

.styles_MainAboutBlock__tabsWrap__axn7u button:after {
    height: 2px;
    top: 39px
}

@media(max-width:1599px) {
    .styles_MainAboutBlock__tabsWrap__axn7u button {
        font-size: 22px
    }

    .styles_MainAboutBlock__tabsWrap__axn7u button:after {
        top: 35px
    }
}

@media(max-width:767px) {
    .styles_MainAboutBlock__tabsWrap__axn7u button {
        font-size: 18px
    }
}

.styles_MainAboutBlock__tabsWrap_active__CyWCf .styles_MainAboutBlock__button__wOC2I:hover {
    color: #292c31
}

.styles_MainAboutBlock__tabsWrap_inActive__1Yqbf .styles_MainAboutBlock__button__wOC2I {
    color: #7f8083
}

.styles_MainAboutBlock__tabsWrap_inActive__1Yqbf .styles_MainAboutBlock__button__wOC2I:after {
    display: none
}

.styles_MainAboutBlock__buttonWrap__3ccEL {
    margin-top: 36px;
    height: 39px
}

@media(max-width:767px) {
    .styles_MainAboutBlock__buttonWrap__3ccEL {
        margin-top: 28px;
        width: 100%;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center
    }
}

.styles_MainAboutBlock__buttonWrap_active__5dWU5 {
    color: #03439a
}

.styles_MainAboutBlock__button_active__1JP-8:after {
    position: absolute;
    top: 34px;
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background: #b90c2f
}

@media(max-width:1599px) {
    .styles_MainAboutBlock__button_active__1JP-8:after {
        top: 40px
    }
}

.styles_MainAboutBlock__button_active__1JP-8:hover {
    color: #292c31
}

.styles_MainAboutBlock__button_inactive__2UUpG {
    color: #7f8083
}

.styles_MainAboutBlock__button_inactive__2UUpG:after {
    display: none
}

.styles_MainAboutBlock__button_inactive__2UUpG:hover {
    color: #292c31
}

.styles_active__uHdeu {
    display: block
}

.styles_inactive__27lDM {
    display: none
}

.styles_GeographyTable__1AYaG {
    margin: auto
}

.styles_GeographyTable__title__1WGsS {
    padding-top: 60px;
    padding-bottom: 24px;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    line-height: 110%;
    text-transform: uppercase;
    cursor: default
}

@media(max-width:767px) {
    .styles_GeographyTable__title__1WGsS {
        font-size: 28px;
        margin-right: 16px;
        margin-left: 16px
    }
}

.styles_GeographyTable__itemWrap__YV8jU {
    padding-top: 40px;
    border-top: 1px solid #54565a;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

@media(max-width:767px) {
    .styles_GeographyTable__itemWrap__YV8jU {
        margin-left: 16px;
        margin-right: 16px
    }
}

.styles_GeographyTable__item__2AStO {
    width: 40%;
    margin-left: 60px;
    font-weight: 600;
    font-style: normal;
    font-size: 26.4px;
    line-height: 130%;
    margin-bottom: 36px
}

@media(max-width:1599px) {
    .styles_GeographyTable__item__2AStO {
        font-size: 22px
    }
}

@media(max-width:767px) {
    .styles_GeographyTable__item__2AStO {
        font-size: 18px;
        width: unset
    }
}

@media(max-width:1024px) {
    .styles_GeographyTable__item__2AStO {
        font-size: 18px;
        width: 222px
    }
}

.styles_GeographyTable__name__zzyjU {
    width: auto;
    height: auto;
    position: relative
}

.styles_GeographyTable__name__zzyjU:before {
    position: absolute;
    top: 12px;
    left: -60px;
    width: 40px;
    height: 4px;
    content: "";
    background: #b90c2f
}

.styles_GeographyTable__descriptionWrapp__2_O2d {
    width: 1834px;
    margin: auto
}

@media(max-width:1919px) {
    .styles_GeographyTable__descriptionWrapp__2_O2d {
        margin: 60px 48px 84px;
        width: auto
    }
}

@media(max-width:1599px) {
    .styles_GeographyTable__descriptionWrapp__2_O2d {
        margin: 60px 40px 84px
    }
}

@media(max-width:1199px) {
    .styles_GeographyTable__descriptionWrapp__2_O2d {
        margin: 60px 16px 84px
    }
}

.styles_GeographyTable__description__aK0VV {
    width: 803px;
    margin-bottom: 40px
}

@media(max-width:1599px) {
    .styles_GeographyTable__description__aK0VV {
        margin: 60px 0 84px
    }
}

@media(max-width:767px) {
    .styles_GeographyTable__description__aK0VV {
        width: 100%
    }
}

.styles_MainPage__1kPWL {
    position: relative;
    color: #292c31
}