.styles_Page__2fP-s {
    position: relative
}

.styles_Container__13BBU {
    position: relative;
    left: 0;
    width: 100%;
    max-width: 1834px;
    margin-right: auto;
    margin-left: auto
}

@media(max-width:1919px) {
    .styles_Container__13BBU {
        width: auto;
        margin: 0 48px
    }
}

@media(max-width:1599px) {
    .styles_Container__13BBU {
        width: auto;
        margin: 0 40px
    }
}

@media(max-width:1199px) {
    .styles_Container__13BBU {
        width: auto;
        margin: 0 16px
    }
}

@media(max-width:767px) {
    .styles_Container__13BBU {
        width: auto;
        margin: 0
    }
}

.styles_Header__1VAv6 {
    cursor: pointer
}

.styles_Header__container__GjszS {
    padding-top: 16px;
    padding-bottom: 16px
}

@media(max-width:767px) {
    .styles_Header__container__GjszS {
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 10px
    }
}

@media(max-width:1024px) {
    .styles_Header__container__GjszS {
        padding-top: 10px;
        padding-bottom: 10px
    }
}

.styles_Header__1VAv6 svg {
    width: 160px;
    height: 80px;
    display: block
}

@media(max-width:1024px) {
    .styles_Header__1VAv6 svg {
        width: auto;
        height: auto
    }
}

.styles_Header__wrapper__16nKj {
    -webkit-align-items: flex-start;
    align-items: flex-start
}

.styles_Header__list__36sF6,
.styles_Header__wrapper__16nKj {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

.styles_Header__list__36sF6 {
    font-size: 18px;
    margin-top: 28px;
    min-width: 684px;
    width: 1026px
}

.styles_Header__list__wrapp__2nWFj {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around
}

@media(max-width:767px) {
    .styles_Header__list__wrapp__2nWFj {
        display: none
    }
}

@media(max-width:1599px) {
    .styles_Header__list__36sF6 {
        min-width: 574px
    }
}

@media(max-width:767px) {
    .styles_Header__list__36sF6 {
        min-width: 0
    }
}

.styles_Header__listItem__2z9e6 {
    cursor: pointer;
    -webkit-transition: color .35s;
    transition: color .35s;
    color: #7f8083
}

.styles_Header__listItem__hover__Z0EuM {
    display: block
}

.styles_Header__listItem__2z9e6:hover {
    color: #03439a
}

.styles_Header__listItem__2z9e6:last-child {
    margin-right: 0
}

@media(max-width:767px) {
    .styles_Header__listItem__2z9e6 {
        display: none
    }
}

@media(max-width:1024px) {
    .styles_Header__listItem__2z9e6 {
        font-size: 16px
    }
}

.styles_Header__listItem_active__39Qf7>a {
    padding-bottom: 40px;
    color: #292c31;
    border-bottom: 2px solid #b90c2f;
    -webkit-transition: color .35s;
    transition: color .35s
}

@media(max-width:1599px) {
    .styles_Header__listItem_active__39Qf7>a {
        padding-bottom: 40px
    }
}

.styles_Header__infoWrapper__2fH9f {
    display: -webkit-flex;
    display: flex
}

@media(max-width:767px) {
    .styles_Header__infoWrapper__2fH9f {
        display: none
    }
}

@media(max-width:1024px) {
    .styles_Header__infoWrapper__2fH9f {
        display: none
    }
}

.styles_Header__blockWrap__3ef_d {
    display: -webkit-flex;
    display: flex
}

.styles_Header__logoWrap___Gz9K {
    -webkit-align-items: center;
    align-items: center
}

.styles_Header__logo__2gGry {
    display: block;
    cursor: pointer
}

.styles_Header__phone__BOKN5 {
    font-weight: 600;
    font-style: normal;
    font-size: 21.6px;
    line-height: 135%;
    margin-right: 42px;
    cursor: pointer;
    -webkit-transition: color .35s;
    transition: color .35s;
    position: relative
}

.styles_Header__phone__BOKN5:hover {
    color: #03439a
}

@media(max-width:1599px) {
    .styles_Header__phone__BOKN5 {
        font-size: 18px;
        margin-right: 36px
    }
}

.styles_Header__phone__BOKN5:after {
    position: absolute;
    top: 32px;
    content: "";
    width: 0;
    height: 2px;
    display: block;
    background: #03439a;
    -webkit-transition: .4s cubic-bezier(.445, .05, .55, .95);
    transition: .4s cubic-bezier(.445, .05, .55, .95)
}

@media(max-width:1599px) {
    .styles_Header__phone__BOKN5:after {
        top: 28px
    }
}

.styles_Header__phone__BOKN5:hover:after {
    width: 100%
}

.styles_Header__email__3qExW {
    font-weight: 600;
    font-style: normal;
    font-size: 21.6px;
    line-height: 135%;
    cursor: pointer;
    -webkit-transition: color .35s;
    transition: color .35s;
    position: relative
}

.styles_Header__email__3qExW:hover {
    color: #03439a
}

@media(max-width:1599px) {
    .styles_Header__email__3qExW {
        font-size: 18px
    }
}

.styles_Header__email__3qExW:after {
    position: absolute;
    top: 32px;
    content: "";
    width: 0;
    height: 2px;
    display: block;
    background: #03439a;
    -webkit-transition: .4s cubic-bezier(.445, .05, .55, .95);
    transition: .4s cubic-bezier(.445, .05, .55, .95)
}

@media(max-width:1599px) {
    .styles_Header__email__3qExW:after {
        top: 28px
    }
}

.styles_Header__email__3qExW:hover:after {
    width: 100%
}

.styles_Header__iconWrap__Ig3Hm {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    max-width: 197px;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

.styles_Header__icon__3UB-c:last-child {
    display: -webkit-flex;
    display: flex;
    padding-bottom: 8px
}

.styles_hamburger__wrapper__1r2wb {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center
}

.styles_hamburger-menu__2qS0D {
    display: -webkit-flex;
    display: flex;
    width: 28px;
    height: 24px;
    -webkit-flex-direction: column;
    flex-direction: column;
    cursor: pointer;
    -webkit-justify-content: space-around;
    justify-content: space-around
}

.styles_hamburger__wrapper__1r2wb:hover {
    cursor: pointer;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

.styles_hamburger__wrapper__1r2wb:hover .styles_hamburger-menu__2qS0D>.styles_line-1__3Vq4U,
.styles_hamburger__wrapper__1r2wb:hover .styles_hamburger-menu__2qS0D>.styles_line-2__2vtIg,
.styles_hamburger__wrapper__1r2wb:hover .styles_hamburger-menu__2qS0D>.styles_line-3__3zL0x,
.styles_hamburger__wrapper__1r2wb:hover .styles_hamburger-menu__2qS0D>.styles_line__1u9Wv {
    width: 100%;
    background: #03439a
}

.styles_line__1u9Wv {
    width: 100%;
    height: 2px;
    background: #292c31;
    border-radius: 10px;
    -webkit-transition: .6s cubic-bezier(.645, .045, .355, 1);
    transition: .6s cubic-bezier(.645, .045, .355, 1)
}

.styles_line-3__3zL0x {
    -webkit-transition: .3s cubic-bezier(.445, .05, .55, .95);
    transition: .3s cubic-bezier(.445, .05, .55, .95);
    width: 33%
}

.styles_line-2__2vtIg {
    width: 67%
}

.styles_cross__ea8Av {
    width: 100%;
    height: 2px;
    background: #292c31;
    border-radius: 10px
}

.styles_cross-1__1juIZ,
.styles_cross-2__1Wwzx,
.styles_cross-3__1alDY {
    width: 100%;
    background: #54565a
}

.styles_hamburger-menu__2qS0D:hover>.styles_cross-1__1juIZ,
.styles_hamburger-menu__2qS0D:hover>.styles_cross-2__1Wwzx,
.styles_hamburger-menu__2qS0D:hover>.styles_cross-3__1alDY {
    background: #03439a
}

.styles_hideMenu__Z2kZN {
    display: none
}

.styles_hamburger-main-menu__-w5XB {
    border-bottom: 1px solid #d4d5d6;
    height: 110px
}

@media(max-width:767px) {
    .styles_hamburger-main-menu__-w5XB {
        height: 74px
    }
}

.styles_hamburger-main-menu__active__f__2cLmH {
    height: 0
}

.styles_hamburger-main-menu__active__f__2cLmH,
.styles_hamburger-main-menu__active__t__1viI6 {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .5s;
    transition: .5s;
    overflow: hidden
}

.styles_hamburger-main-menu__active__t__1viI6 {
    margin-top: 20px;
    height: 176px
}

.styles_hamburger-main-menu__hover__ypTx_ {
    width: 220px;
    height: 10px;
    -webkit-transition: .2s;
    transition: .2s
}

.styles_hamburger-main-menu__hover__ypTx_:hover {
    height: 303px
}

.styles_hamburger-main-menu__item__3L4hy a {
    font-style: normal;
    font-weight: 600;
    font-size: 21.6px;
    line-height: 135%
}

@media(max-width:1599px) {
    .styles_hamburger-main-menu__item__3L4hy a {
        font-size: 16px
    }
}

.styles_hamburger-main-menu__wrapper__1QJec {
    position: absolute;
    z-index: 99;
    overflow: hidden;
    width: 100vw;
    margin-left: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-start;
    justify-content: flex-start
}

@media(max-width:767px) {
    .styles_hamburger-main-menu__wrapper__1QJec {
        -webkit-flex-direction: column;
        flex-direction: column;
        margin-right: 16px
    }
}

.styles_hamburger-main-menu__popup__1C3wQ {
    height: 100vh;
    padding-top: 9vh;
    display: -webkit-flex;
    display: flex;
    margin: auto;
    max-width: 1834px;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

@media(max-width:1919px) {
    .styles_hamburger-main-menu__popup__1C3wQ {
        margin-left: 48px;
        margin-right: 48px
    }
}

@media(max-width:1599px) {
    .styles_hamburger-main-menu__popup__1C3wQ {
        margin-left: 40px;
        margin-right: 40px
    }
}

@media(max-width:1199px) {
    .styles_hamburger-main-menu__popup__1C3wQ {
        margin-left: 16px;
        margin-right: 16px
    }
}

@media(max-width:767px) {
    .styles_hamburger-main-menu__popup__1C3wQ {
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        padding-top: 34px
    }
}

.styles_hamburger-main-menu__list__3C1Bd {
    width: 382px;
    height: 244px;
    background-color: #fff;
    margin-top: 44px
}

.styles_hamburger-main-menu__list__item__3cfdx {
    width: 334px;
    font-size: 14px;
    margin-top: 20px;
    margin-left: 24px;
    line-height: 135%
}

.styles_hamburger-main-menu__list__item__3cfdx:first-child {
    padding-top: 16px
}

.styles_hamburger-main-menu__listHeader__2Dyl4 {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    min-width: 316px;
    margin-bottom: 32px;
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
    line-height: 135%;
    cursor: pointer;
    -webkit-transition: color .35s;
    transition: color .35s
}

.styles_hamburger-main-menu__listHeader__arrow__1oYDj {
    display: none;
    float: right;
    margin-top: 5px;
    -webkit-transition-duration: .8s;
    transition-duration: .8s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform
}

@media(max-width:767px) {
    .styles_hamburger-main-menu__listHeader__arrow__1oYDj {
        display: block
    }
}

@media(max-width:1599px) {
    .styles_hamburger-main-menu__listHeader__2Dyl4 {
        font-size: 36px
    }
}

@media(max-width:767px) {
    .styles_hamburger-main-menu__listHeader__2Dyl4 {
        font-size: 16px;
        margin-bottom: 16px;
        min-width: 100%
    }
}

.styles_hamburger-main-menu__listItem__277oy {
    margin-bottom: 24px;
    font-weight: 400;
    font-style: normal;
    font-size: 26.4px;
    line-height: 125%;
    cursor: pointer;
    -webkit-transition: color .35s;
    transition: color .35s
}

@media(max-width:1599px) {
    .styles_hamburger-main-menu__listItem__277oy {
        font-size: 22px
    }
}

@media(max-width:767px) {
    .styles_hamburger-main-menu__listItem__277oy {
        font-size: 14px;
        margin-bottom: 12px
    }
}

.styles_Footer__2ZGOI {
    background: #292c31
}

.styles_Footer__container__lf_az {
    display: -webkit-flex;
    display: flex;
    padding-left: 109px;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

@media(max-width:767px) {
    .styles_Footer__container__lf_az {
        -webkit-flex-direction: column;
        flex-direction: column;
        padding-left: 16px;
        padding-right: 16px
    }
}

.styles_Footer__listWrapp__1lsbj {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

@media(max-width:767px) {
    .styles_Footer__listWrapp__1lsbj {
        -webkit-flex-direction: column;
        flex-direction: column
    }
}

.styles_Footer__trademark-listItem__p0gdC {
    font-size: 18px
}

.styles_Footer__wrapper__2lKb_ {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding-bottom: 28px;
    padding-top: 48px;
    border-bottom: 1px solid #7f8083
}

@media(max-width:767px) {
    .styles_Footer__wrapper__2lKb_ {
        -webkit-flex-direction: column;
        flex-direction: column;
        padding: 36px 0
    }
}

.styles_Footer__logo__3enQZ svg {
    cursor: pointer
}

@media(max-width:767px) {
    .styles_Footer__logo__3enQZ {
        padding-bottom: 36px
    }
}

.styles_Footer__list__3vU1E {
    max-width: 306px;
    padding-top: 4px;
    color: #fff
}

.styles_Footer__list__grid__2wzSS {
    padding-top: 48px
}

.styles_Footer__list__3vU1E:last-child {
    text-align: end
}

@media(max-width:767px) {
    .styles_Footer__list__3vU1E {
        margin-top: 16px
    }

    .styles_Footer__list__grid__2wzSS {
        overflow: hidden;
        display: grid;
        grid-template-columns: 233px
    }
}

.styles_Footer__listHeader__2W4f6 {
    display: -webkit-flex;
    display: flex;
    width: 310px;
    margin-bottom: 24px;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    line-height: 135%;
    color: #fff;
    cursor: pointer;
    -webkit-transition: color .35s;
    transition: color .35s
}

.styles_Footer__listHeader__2W4f6 a {
    width: 250px
}

.styles_Footer__listHeader__2W4f6 svg {
    margin-top: -2px;
    margin-right: 16px
}

.styles_Footer__listHeader__2W4f6:hover {
    color: #a9abad
}

@media(max-width:1599px) {
    .styles_Footer__listHeader__2W4f6 {
        font-size: 18px
    }
}

@media(max-width:767px) {
    .styles_Footer__listHeader__2W4f6 {
        font-size: 16px;
        margin-bottom: 16px
    }
}

.styles_Footer__listHeaderPhone__27M02 {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column
}

.styles_Footer__listHeaderPhone__27M02 a {
    padding-bottom: 24px;
    color: #fff
}

.styles_Footer__listItem__KOBX9 {
    margin-bottom: 20px;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 125%;
    color: #a9abad;
    cursor: pointer;
    -webkit-transition: color .35s;
    transition: color .35s
}

.styles_Footer__listItem__KOBX9:hover {
    color: #fff
}

@media(max-width:1599px) {
    .styles_Footer__listItem__KOBX9 {
        font-size: 16px
    }
}

@media(max-width:767px) {
    .styles_Footer__listItem__KOBX9 {
        font-size: 14px;
        margin-bottom: 12px
    }
}

.styles_Footer__email__3P2xm {
    margin-bottom: 8px;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 120%;
    cursor: pointer;
    -webkit-transition: .4s cubic-bezier(.445, .05, .55, .95);
    transition: .4s cubic-bezier(.445, .05, .55, .95)
}

.styles_Footer__email__3P2xm:hover {
    color: #fff;
    text-decoration: underline
}

@media(max-width:1599px) {
    .styles_Footer__email__3P2xm {
        font-size: 16px
    }
}

.styles_Footer__phone__WYzmY {
    margin-bottom: 32px;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    line-height: 135%;
    cursor: pointer;
    -webkit-transition: .4s cubic-bezier(.445, .05, .55, .95);
    transition: .4s cubic-bezier(.445, .05, .55, .95)
}

.styles_Footer__phone__WYzmY div:first-child:hover,
.styles_Footer__phone__WYzmY div:last-child:hover {
    color: #fff;
    text-decoration: underline
}

@media(max-width:1599px) {
    .styles_Footer__phone__WYzmY {
        font-size: 18px
    }
}

@media(max-width:767px) {
    .styles_Footer__phone__WYzmY {
        font-size: 22px
    }
}

.styles_Footer__address__3wW2X {
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 125%;
    cursor: default
}

@media(max-width:1599px) {
    .styles_Footer__address__3wW2X {
        font-size: 16px
    }
}

@media(max-width:767px) {
    .styles_Footer__address__3wW2X {
        font-size: 14px
    }
}

.styles_Footer__trademarkWrapper__1Krfy {
    width: 777px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-top: 36px;
    padding-bottom: 28px;
    padding-top: 28px;
    border-top: 1px solid #7f8083
}

@media(max-width:767px) {
    .styles_Footer__trademarkWrapper__1Krfy {
        width: 100%;
        -webkit-flex-direction: column;
        flex-direction: column;
        padding-bottom: 9px
    }
}

.styles_Footer__trademark__2RzRi {
    color: #a9abad
}

.styles_Footer__trademark-listItem__p0gdC {
    margin-bottom: 8px;
    cursor: pointer;
    -webkit-transition: color .35s;
    transition: color .35s
}

.styles_Footer__trademark-listItem__p0gdC:last-child {
    margin-bottom: 0
}

.styles_Footer__trademark-listItem__p0gdC:hover {
    color: #fff;
    text-decoration: underline
}

.styles_Footer__trademark-listItemNoHover__36qST {
    cursor: default
}

.styles_Footer__trademark-listItemNoHover__36qST:hover {
    color: #a9abad;
    text-decoration: unset
}

.styles_Footer__trademark-listLogoWrap__2KJR5 {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    margin-top: 24px
}

@media(max-width:767px) {
    .styles_Footer__trademark-listLogoWrap__2KJR5 {
        -webkit-justify-content: unset;
        justify-content: unset
    }
}

.styles_Footer__trademark-listLogo__Jiqoj {
    margin-left: 20px
}

@media(max-width:767px) {
    .styles_Footer__trademark__2RzRi {
        font-size: 14px;
        margin-bottom: 36px
    }
}

.styles_Heading__1jcMq {
    position: relative;
    line-height: 130%;
    white-space: pre-line;
    text-transform: uppercase;
    color: #292c31
}

.styles_Heading_notransform__jggwP {
    text-transform: none
}

.styles_Heading_level-1__grV3t {
    font-weight: 500;
    font-style: normal;
    font-size: 91.2px;
    line-height: 110%
}

@media(max-width:1599px) {
    .styles_Heading_level-1__grV3t {
        font-size: 76px
    }
}

.styles_Heading_level-2__I6U-q {
    font-weight: 600;
    font-style: normal;
    font-size: 57.6px;
    line-height: 110%
}

@media(max-width:1599px) {
    .styles_Heading_level-2__I6U-q {
        font-size: 48px
    }
}

@media(max-width:1024px) {
    .styles_Heading_level-2__I6U-q {
        font-size: 32px
    }
}

@media(max-width:767px) {
    .styles_Heading_level-2__I6U-q {
        font-size: 28px
    }
}

.styles_Heading_level-3__UYMsw {
    font-weight: 600;
    font-style: normal;
    font-size: 43.2px;
    line-height: 110%
}

@media(max-width:1599px) {
    .styles_Heading_level-3__UYMsw {
        font-size: 36px
    }
}

@media(max-width:1024px) {
    .styles_Heading_level-3__UYMsw {
        font-size: 32px
    }
}

@media(max-width:767px) {
    .styles_Heading_level-3__UYMsw {
        font-size: 28px
    }
}

.styles_Heading_level-4__2w4dT {
    font-weight: 500;
    font-style: normal;
    font-size: 19.2px;
    line-height: 120%
}

@media(max-width:1599px) {
    .styles_Heading_level-4__2w4dT {
        font-size: 16px
    }
}

.styles_Arrow__1qcSu {
    position: relative;
    display: -webkit-flex;
    display: flex;
    width: 42px;
    height: 30px;
    cursor: pointer;
    color: #292c31;
    border: none;
    background: #f5f5f5;
    -webkit-transition: color .35s, background-color .35s, border-color .35s;
    transition: color .35s, background-color .35s, border-color .35s;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
}

.styles_Arrow_disabled__2lel5 {
    color: #d4d5d6
}

.styles_Arrow_white__s62dv {
    width: 55px;
    height: 33px;
    color: #fff
}

.styles_Arrow_white__s62dv svg {
    width: 55px;
    height: 33px
}

.styles_Arrow_white__s62dv svg>path {
    fill: #fff
}

.styles_Arrow_blue__2rF_U {
    width: 55px;
    height: 33px;
    color: #03439a;
    background: transparent
}

.styles_Arrow_blue__2rF_U svg {
    width: 55px;
    height: 33px
}

.styles_Arrow_blue__2rF_U svg>path {
    fill: #03439a
}

.styles_Arrow__1qcSu svg {
    display: block
}

.styles_Arrow__1qcSu:hover>svg * {
    fill: #03439a
}

.styles_Button__JVxxi {
    position: relative;
    text-align: center;
    width: 209px;
    border: 1px solid #292c31;
    border-radius: 25px;
    outline: none;
    padding: 12px 0;
    font-weight: 500;
    font-style: normal;
    font-size: 16.8px;
    line-height: 120%;
    letter-spacing: .04em;
    text-transform: uppercase;
    color: #292c31;
    cursor: pointer;
    background: #f5f5f5;
    -webkit-transition: background-color .35s, color .35s;
    transition: background-color .35s, color .35s
}

.styles_Button__JVxxi:hover {
    border: 1px solid #fff;
    background: #03439a;
    color: #fff
}

@media(max-width:1599px) {
    .styles_Button__JVxxi {
        font-size: 14px
    }
}

.styles_Button_noBorder__aDEJg {
    width: auto;
    border: none;
    height: 27px;
    border-radius: unset;
    background: #f5f5f5;
    font-weight: 600;
    font-style: normal;
    font-size: 16.8px;
    line-height: 135%;
    text-transform: unset;
    letter-spacing: unset;
    padding: 0
}

.styles_Button_noBorder__aDEJg:hover {
    border: unset;
    background: unset;
    color: #03439a
}

@media(max-width:1599px) {
    .styles_Button_noBorder__aDEJg {
        font-size: 18px;
        width: auto
    }
}

@media(max-width:767px) {
    .styles_Button_noBorder__aDEJg {
        font-size: 16px
    }
}

.styles_Button_noBorder__aDEJg:after {
    position: absolute;
    top: 32px;
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background: #b90c2f
}

@media(max-width:1599px) {
    .styles_Button_noBorder__aDEJg:after {
        top: 28px
    }
}

@media(max-width:1024px) {
    .styles_Button_noBorder__aDEJg:after {
        position: static
    }
}

.styles_MainNewsBlock__3hjXF {
    margin: 0
}

@media(max-width:1599px) {
    .styles_MainNewsBlock__3hjXF {
        padding-top: 60px
    }
}

@media(max-width:767px) {
    .styles_MainNewsBlock__3hjXF {
        padding-top: 20px
    }
}

.styles_MainNewsBlock__titleWrap__25a8R {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    border-bottom: 1px solid #54565a;
    padding-bottom: 24px
}

@media(max-width:767px) {
    .styles_MainNewsBlock__titleWrap__25a8R {
        margin-left: 16px;
        margin-right: 16px
    }

    .styles_MainNewsBlock__titleWrap__25a8R button {
        display: none
    }
}

.styles_MainNewsBlock__title__1hn35 {
    font-weight: 600;
    font-style: normal;
    font-size: 57.6px;
    line-height: 110%;
    text-transform: uppercase;
    cursor: default
}

@media(max-width:1599px) {
    .styles_MainNewsBlock__title__1hn35 {
        font-size: 48px
    }
}

@media(max-width:767px) {
    .styles_MainNewsBlock__title__1hn35 {
        font-size: 28px
    }
}

@media(max-width:1024px) {
    .styles_MainNewsBlock__title__1hn35 {
        font-size: 32px
    }
}

.styles_MainNewsBlock__itemWrap__1klUN {
    display: none;
    display: -webkit-flex;
    display: flex
}

@media(max-width:767px) {
    .styles_MainNewsBlock__itemWrap__1klUN {
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
        border-bottom-width: 0;
        margin-left: 16px;
        margin-right: 16px;
        padding-right: 12px;
        padding-left: 12px
    }
}

@media(max-width:1024px) {
    .styles_MainNewsBlock__itemWrap__1klUN {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap
    }
}

.styles_MainNewsBlock__item__3Hz7p {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 33.3%;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    border-right: 1px solid #d4d5d6;
    -webkit-transition: .35s;
    transition: .35s;
    cursor: pointer;
    padding-left: 18px
}

.styles_MainNewsBlock__item__3Hz7p:hover {
    background: #fff;
    -webkit-transform-origin: left center;
    transform-origin: left center
}

@media(max-width:1599px) {
    .styles_MainNewsBlock__item__3Hz7p {
        padding: 0 20px
    }
}

@media(max-width:1024px) {
    .styles_MainNewsBlock__item__3Hz7p:nth-child(2) {
        border-right-width: 0
    }
}

.styles_MainNewsBlock__item__3Hz7p:last-child {
    border-right: none
}

@media(max-width:1024px) {
    .styles_MainNewsBlock__item__3Hz7p:last-child {
        display: none
    }
}

@media(max-width:767px) {
    .styles_MainNewsBlock__item__3Hz7p {
        display: contents;
        border-right: none
    }

    .styles_MainNewsBlock__item__3Hz7p:first-child {
        padding-left: 16px
    }
}

@media(max-width:1024px) {
    .styles_MainNewsBlock__item__3Hz7p {
        width: 50%
    }
}

.styles_MainNewsBlock__infoWrap__wAs0V {
    -webkit-justify-content: space-between;
    justify-content: space-between;
    display: -webkit-flex;
    display: flex;
    margin: 36px 0
}

@media(max-width:767px) {
    .styles_MainNewsBlock__infoWrap__wAs0V {
        margin-top: 24px;
        margin-bottom: 26px
    }
}

.styles_MainNewsBlock__section__27dDR {
    font-weight: 500;
    font-style: normal;
    font-size: 16.8px;
    line-height: 120%;
    letter-spacing: .04em;
    text-transform: uppercase;
    color: #b90c2f
}

@media(max-width:1599px) {
    .styles_MainNewsBlock__section__27dDR {
        font-size: 14px
    }
}

.styles_MainNewsBlock__date__11FSO {
    font-weight: 500;
    font-style: normal;
    font-size: 16.8px;
    line-height: 120%;
    letter-spacing: .04em;
    text-transform: uppercase;
    color: #7f8083
}

@media(max-width:1599px) {
    .styles_MainNewsBlock__date__11FSO {
        font-size: 14px
    }
}

.styles_MainNewsBlock__imageWrap__1_2zD {
    width: 100%;
    padding-bottom: 20px
}

.styles_MainNewsBlock__imageWrap__1_2zD img {
    width: 100%;
    display: block
}

@media(max-width:767px) {
    .styles_MainNewsBlock__imageWrap__1_2zD img {
        object-fit: cover
    }
}

.styles_MainNewsBlock__newsTitle__3NczX {
    font-weight: 600;
    font-style: normal;
    font-size: 26.4px;
    line-height: 130%;
    margin-bottom: 16px;
    max-width: 97%
}

@media(max-width:1599px) {
    .styles_MainNewsBlock__newsTitle__3NczX {
        font-size: 22px
    }
}

@media(max-width:767px) {
    .styles_MainNewsBlock__newsTitle__3NczX {
        font-size: 18px
    }
}

@media(max-width:1024px) {
    .styles_MainNewsBlock__newsTitle__3NczX {
        font-size: 18px
    }
}

.styles_MainNewsBlock__row__28jwo {
    display: none
}

@media(max-width:767px) {
    .styles_MainNewsBlock__row__28jwo {
        display: unset;
        height: 1px;
        background-color: #3a3a3a
    }
}

.styles_MainNewsBlock__subtitle__FTe1v {
    font-weight: 400;
    font-style: normal;
    font-size: 21.6px;
    line-height: 135%;
    color: #7f8083
}

@media(max-width:1599px) {
    .styles_MainNewsBlock__subtitle__FTe1v {
        font-size: 18px
    }
}

@media(max-width:767px) {
    .styles_MainNewsBlock__subtitle__FTe1v {
        font-size: 16px;
        margin-bottom: 16px
    }
}

@media(max-width:1024px) {
    .styles_MainNewsBlock__subtitle__FTe1v {
        font-size: 16px
    }
}

.styles_MainNewsBlock__buttonWrap__2jox4 {
    margin-bottom: 40px;
    margin-top: auto
}

@media(max-width:767px) {
    .styles_MainNewsBlock__buttonWrap__2jox4 {
        margin-top: 16px;
        margin-bottom: 28px
    }
}

@media(max-width:1024px) {
    .styles_MainNewsBlock__buttonWrap__2jox4 button {
        font-size: 16px
    }
}

.styles_MainNewsBlock__ButtonWrap__mob__1yHBN {
    display: none
}

@media(max-width:767px) {
    .styles_MainNewsBlock__ButtonWrap__mob__1yHBN {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        padding-top: 32px
    }
}