.styles_Accordion__q2j1K {
    position: relative;
    border-top: 1px solid #d4d5d6
}

@media(max-width:767px) {
    .styles_Accordion__q2j1K {
        font-size: 16px
    }
}

.styles_Accordion__q2j1K:last-child {
    border-bottom: 1px solid #d4d5d6
}

.styles_Accordion__head__1dZnL {
    display: -webkit-flex;
    display: flex;
    z-index: 1;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    padding: 40px 0;
    cursor: pointer
}

.styles_Accordion__number__myttw {
    margin-right: 93px;
    -webkit-transition: color .35s;
    transition: color .35s;
    font-weight: 600;
    font-style: normal;
    font-size: 26.4px;
    line-height: 130%
}

@media(max-width:1599px) {
    .styles_Accordion__number__myttw {
        font-size: 22px
    }
}

@media(max-width:767px) {
    .styles_Accordion__number__myttw {
        font-size: 16px;
        margin-right: 22px
    }
}

.styles_Accordion__title__3BAs3 {
    -webkit-transition: color .35s;
    transition: color .35s;
    font-weight: 600;
    font-style: normal;
    font-size: 26.4px;
    line-height: 130%
}

@media(max-width:1599px) {
    .styles_Accordion__title__3BAs3 {
        font-size: 22px
    }
}

@media(max-width:767px) {
    .styles_Accordion__title__3BAs3 {
        font-size: 16px
    }
}

.styles_Accordion__btn__DPTmW {
    display: -webkit-flex;
    display: flex;
    width: 32px;
    height: 32px;
    margin-left: auto;
    color: #292c31;
    border-radius: 50%;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-transition: color .35s;
    transition: color .35s
}

.styles_Accordion__btn__DPTmW svg {
    display: block;
    -webkit-transition: transform .35s;
    transition: transform .35s
}

.styles_Accordion__head__1dZnL:hover .styles_Accordion__btn__DPTmW {
    color: #fff
}

.styles_Accordion__bodyWrap__2GuZs {
    position: relative;
    margin-top: -12px;
    margin-bottom: 0;
    padding-top: 12px;
    -webkit-transition: height .35s;
    transition: height .35s;
    font-size: 18px
}

@media(max-width:1024px) {
    .styles_Accordion__bodyWrap__2GuZs {
        padding-top: 0;
        -webkit-transition: .35s 400px;
        transition: .35s 400px
    }
}

@media(max-width:767px) {
    .styles_Accordion__bodyWrap__2GuZs {
        padding-top: 0;
        -webkit-transition: .35s 400px;
        transition: .35s 400px
    }
}

.styles_Accordion__bodyWrap__2GuZs img {
    margin-right: 80px;
    width: 583px;
    height: 317px
}

@media(max-width:767px) {
    .styles_Accordion__bodyWrap__2GuZs img {
        width: 100%;
        margin-right: unset;
        object-fit: contain
    }
}

.styles_Accordion__body__3n6bN {
    top: -62px;
    right: -webkit-calc(7% + 100px);
    right: calc(7% + 100px);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .35s, visibility 0s .35s;
    transition: opacity .35s, visibility 0s .35s;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding-bottom: 52px
}

@media(max-width:1599px) {
    .styles_Accordion__body__3n6bN {
        right: -webkit-calc(1% + 100px);
        right: calc(1% + 100px)
    }
}

@media(max-width:1024px) {
    .styles_Accordion__body__3n6bN {
        position: unset
    }
}

@media(max-width:767px) {
    .styles_Accordion__body__3n6bN {
        position: unset;
        max-width: none;
        padding-bottom: 25px
    }
}

.styles_Accordion_opened__3uh2j .styles_Accordion__number__myttw,
.styles_Accordion_opened__3uh2j .styles_Accordion__title__3BAs3 {
    color: #b90c2f
}

@media(max-width:767px) {
    .styles_Accordion_opened__3uh2j .styles_Accordion__title__3BAs3 {
        font-size: 16px
    }
}

.styles_Accordion_opened__3uh2j .styles_Accordion__body__3n6bN {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .35s, visibility 0s;
    transition: opacity .35s, visibility 0s
}

@media(max-width:767px) {
    .styles_Accordion_opened__3uh2j .styles_Accordion__body__3n6bN {
        -webkit-flex-direction: column;
        flex-direction: column
    }
}

.styles_Accordion_opened__3uh2j .styles_Accordion__btn__DPTmW svg {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.styles_AdvantagesProductsBlock__peUgT {
    margin: 80px 0
}

@media(max-width:1599px) {
    .styles_AdvantagesProductsBlock__peUgT {
        margin: 60px 0
    }
}

.styles_AdvantagesProductsBlock__titleWrap__2VH7J {
    margin-bottom: 24px
}

.styles_AdvantagesProductsBlock__descriptionItemWrapp__1hAZJ {
    margin-right: 40px
}

.styles_AdvantagesProductsBlock__descriptionItem__3VBQL {
    position: relative;
    margin-left: 16px;
    margin-top: 16px
}

.styles_AdvantagesProductsBlock__descriptionItem__3VBQL:before {
    display: none;
    content: "";
    position: absolute;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    top: 9px;
    left: -16px;
    background: #b90c2f
}

@media(max-width:767px) {
    .styles_AdvantagesProductsBlock__peUgT {
        margin-left: 16px;
        margin-right: 16px
    }
}

.styles_DetailedProductsItem__1D0JA {
    margin-top: 60px
}

.styles_DetailedProductsItem__docsWrap__35A_X {
    margin: 40px 40px 0
}

@media(max-width:767px) {
    .styles_DetailedProductsItem__docsWrap__35A_X {
        margin: 0 16px
    }
}

.styles_DetailedProductsItem__docsTitle__bN3c7 {
    font-weight: 600;
    font-style: normal;
    font-size: 26.4px;
    line-height: 130%;
    margin-bottom: 24px
}

@media(max-width:1599px) {
    .styles_DetailedProductsItem__docsTitle__bN3c7 {
        font-size: 22px
    }
}

@media(max-width:767px) {
    .styles_DetailedProductsItem__docsTitle__bN3c7 {
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: 18px
    }
}

@media(max-width:767px)and (max-width:767px) {
    .styles_DetailedProductsItem__docsTitle__bN3c7 {
        font-size: 14px
    }
}

.styles_DetailedProductsItem__docsList__XcWMs {
    display: grid;
    -webkit-justify-content: start;
    justify-content: start;
    grid-template-columns: 33% 33% 33%;
    border-bottom: 1px solid #d4d5d6
}

@media(max-width:767px) {
    .styles_DetailedProductsItem__docsList__XcWMs {
        -webkit-flex-direction: column;
        flex-direction: column;
        padding-bottom: 8px;
        grid-template-columns: 100%
    }
}

.styles_DetailedProductsItem__docsItem__1q-nb {
    letter-spacing: .04em;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-grow: 1;
    flex-grow: 1
}

@media(max-width:767px) {
    .styles_DetailedProductsItem__docsItem__1q-nb {
        width: 100%
    }
}

.styles_DetailedProductsItem__docsItemTitleWrap__1l8O9 {
    margin-left: 16px;
    margin-bottom: 36px;
    cursor: pointer
}

@media(max-width:767px) {
    .styles_DetailedProductsItem__docsItemTitleWrap__1l8O9 {
        margin-bottom: 16px
    }
}

.styles_DetailedProductsItem__docsItemTitle__17LbD {
    font-weight: 400;
    font-style: normal;
    font-size: 19.2px;
    line-height: 135%;
    text-decoration: underline;
    max-width: 100%;
    margin-bottom: 12px;
    margin-right: 16px
}

@media(max-width:1599px) {
    .styles_DetailedProductsItem__docsItemTitle__17LbD {
        font-size: 16px;
        max-width: 321px;
        margin-right: 0
    }
}

.styles_DetailedProductsItem__docsSize__XKs9N {
    font-weight: 500;
    font-style: normal;
    font-size: 16.8px;
    line-height: 120%;
    letter-spacing: .04em;
    text-transform: uppercase;
    color: #a9abad
}

@media(max-width:1599px) {
    .styles_DetailedProductsItem__docsSize__XKs9N {
        font-size: 14px
    }
}

.styles_DetailedProductsItem__buttonWrap__sUqN4 {
    padding-bottom: 60px;
    text-align: center;
    margin: 48px auto 0;
    width: 390px
}

@media(max-width:1599px) {
    .styles_DetailedProductsItem__buttonWrap__sUqN4 {
        width: 318px
    }
}

@media(max-width:767px) {
    .styles_DetailedProductsItem__buttonWrap__sUqN4 {
        margin-top: 32px;
        padding-bottom: 40px
    }
}

.styles_DetailedProductsItem__button__3_zQz {
    padding: 12px 60px;
    width: 390px;
    background: #fff
}

@media(max-width:1599px) {
    .styles_DetailedProductsItem__button__3_zQz {
        width: 318px
    }
}

@media(max-width:767px) {
    .styles_DetailedProductsItem__button__3_zQz {
        padding: 12px 32px
    }
}

.styles_NomenclatureProductsDiscItem__2zD0k {
    margin: 40px 0
}

@media(max-width:767px) {
    .styles_NomenclatureProductsDiscItem__2zD0k {
        font-size: 16px;
        margin-top: 32px;
        margin-bottom: 40px
    }
}

.styles_NomenclatureProductsDiscItem__productTitle__DGRzr {
    font-size: 43.2px;
    font-weight: 500;
    text-transform: none;
    max-width: 339px
}

@media(max-width:1599px) {
    .styles_NomenclatureProductsDiscItem__productTitle__DGRzr {
        font-size: 36px
    }
}

@media(max-width:767px) {
    .styles_NomenclatureProductsDiscItem__productTitle__DGRzr {
        max-width: none;
        font-size: 22px
    }

    .styles_NomenclatureProductsDiscItem__productConnectionWrap__dNas_ {
        padding-bottom: 30px
    }
}

.styles_NomenclatureProductsDiscItem__infoWrap__2WneC {
    display: -webkit-flex;
    display: flex;
    padding-top: 40px;
    border-top: 1px solid #54565a;
    max-width: 1834px;
    margin-left: auto;
    margin-right: auto
}

.styles_NomenclatureProductsDiscItem__infoWrap__2WneC:first-child {
    border-top: none;
    padding-top: 0
}

.styles_NomenclatureProductsDiscItem__infoWrap__2WneC:last-child {
    padding-top: 40px;
    border-top: 1px solid #54565a
}

@media(max-width:1919px) {
    .styles_NomenclatureProductsDiscItem__infoWrap__2WneC {
        margin-left: 48px;
        margin-right: 48px
    }
}

@media(max-width:1680px) {
    .styles_NomenclatureProductsDiscItem__infoWrap__2WneC {
        margin-left: 40px;
        margin-right: 40px
    }
}

@media(max-width:1440px) {
    .styles_NomenclatureProductsDiscItem__infoWrap__2WneC {
        margin-left: 40px;
        margin-right: 40px
    }
}

@media(max-width:1199px) {
    .styles_NomenclatureProductsDiscItem__infoWrap__2WneC {
        margin-left: 16px;
        margin-right: 16px;
        overflow: hidden
    }
}

@media(max-width:767px) {
    .styles_NomenclatureProductsDiscItem__infoWrap__2WneC {
        -webkit-flex-direction: column;
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px;
        padding-bottom: 0;
        padding-top: 24px
    }
}

.styles_NomenclatureProductsDiscItem__info__1MHRE {
    width: 24%;
    margin-right: 40px
}

.styles_NomenclatureProductsDiscItem__info__1MHRE:last-child {
    margin-right: 0
}

@media(max-width:767px) {
    .styles_NomenclatureProductsDiscItem__info__1MHRE {
        width: 100%
    }
}

.styles_NomenclatureProductsDiscItem__infoTitle__jzRXp {
    padding-bottom: 16px;
    max-width: 299px;
    height: 85px;
    border-bottom: 1px solid #d4d5d6;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    line-height: 130%
}

@media(max-width:1599px) {
    .styles_NomenclatureProductsDiscItem__infoTitle__jzRXp {
        font-size: 22px
    }
}

@media(max-width:767px) {
    .styles_NomenclatureProductsDiscItem__infoTitle__jzRXp {
        padding-top: 20px;
        max-width: 100%;
        font-size: 18px;
        padding-bottom: 12px
    }
}

.styles_NomenclatureProductsDiscItem__infoDescription__3j7N- {
    max-width: 248px;
    padding-top: 16px;
    border-top: 1px solid #d4d5d6
}

@media(max-width:767px) {
    .styles_NomenclatureProductsDiscItem__infoDescription__3j7N- {
        max-width: 100%;
        padding-top: 20px
    }
}

.styles_NomenclatureProductsDiscItem__infoItemList__1s_Hb {
    padding-top: 16px
}

@media(max-width:767px) {
    .styles_NomenclatureProductsDiscItem__infoItemList__1s_Hb {
        padding-bottom: 24px
    }
}

.styles_NomenclatureProductsDiscItem__infoItem__FI7KS {
    font-size: 18px;
    position: relative;
    margin-left: 24px;
    margin-bottom: 16px
}

.styles_NomenclatureProductsDiscItem__infoItem__FI7KS:before {
    content: "";
    position: absolute;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    top: 9px;
    left: -24px;
    background: #b90c2f
}

.styles_NomenclatureProductsDiscItem__infoItem__FI7KS:last-child {
    margin-bottom: 0
}

.styles_NomenclatureProductsDiscItem__content__3EXS- {
    margin-bottom: 40px
}

.styles_NomenclatureProductsDiscItem__content__3EXS-:first-child {
    width: 33%
}

.styles_NomenclatureProductsDiscItem__content__3EXS-:last-child {
    width: 67%;
    padding: 40px 72px 40px 40px;
    background: #fff
}

@media(max-width:767px) {
    .styles_NomenclatureProductsDiscItem__content__3EXS- {
        margin-bottom: 24px
    }

    .styles_NomenclatureProductsDiscItem__content__3EXS-:first-child {
        width: 100%
    }

    .styles_NomenclatureProductsDiscItem__content__3EXS-:last-child {
        width: 100%;
        padding: 0
    }
}

.styles_NomenclatureProductsDiscItem__productCell__2CHik {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: baseline;
    align-items: baseline;
    margin-bottom: 24px;
    padding-bottom: 24px;
    padding-top: 40px;
    border-top: 1px solid #d4d5d6
}

.styles_NomenclatureProductsDiscItem__productCell__2CHik:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none
}

@media(max-width:767px) {
    .styles_NomenclatureProductsDiscItem__productCell__2CHik {
        -webkit-flex-direction: column;
        flex-direction: column;
        padding-bottom: 12px;
        margin-bottom: 0;
        padding-left: 16px;
        padding-right: 16px
    }
}

.styles_NomenclatureProductsDiscItem__productConnections__2qGqs {
    position: relative;
    margin-left: 24px;
    margin-bottom: 16px
}

.styles_NomenclatureProductsDiscItem__productConnections__2qGqs:before {
    content: "";
    position: absolute;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    top: 9px;
    left: -24px;
    background: #b90c2f
}

.styles_NomenclatureProductsDiscItem__productItem__14CrD {
    width: 250px;
    font-weight: 600;
    font-style: normal;
    font-size: 26.4px;
    line-height: 130%;
    margin-right: 60px
}

@media(max-width:1599px) {
    .styles_NomenclatureProductsDiscItem__productItem__14CrD {
        font-size: 22px
    }
}

@media(max-width:767px) {
    .styles_NomenclatureProductsDiscItem__productItem__14CrD {
        font-size: 18px;
        padding-bottom: 16px;
        margin-top: 24px
    }
}

.styles_NomenclatureProductsDiscItem__1fBCS {
    margin: 40px 0
}

@media(max-width:767px) {
    .styles_NomenclatureProductsDiscItem__1fBCS {
        font-size: 16px;
        margin-top: 32px;
        margin-bottom: 40px
    }
}

.styles_NomenclatureProductsDiscItem__productTitle__3NB1O {
    font-size: 43.2px;
    font-weight: 500;
    text-transform: none;
    max-width: 339px
}

@media(max-width:1599px) {
    .styles_NomenclatureProductsDiscItem__productTitle__3NB1O {
        font-size: 36px
    }
}

@media(max-width:767px) {
    .styles_NomenclatureProductsDiscItem__productTitle__3NB1O {
        max-width: none;
        font-size: 22px
    }

    .styles_NomenclatureProductsDiscItem__productConnectionWrap__2-Ksm {
        padding-bottom: 30px
    }
}

.styles_NomenclatureProductsDiscItem__infoWrap__X2oq5 {
    display: -webkit-flex;
    display: flex;
    padding-top: 40px;
    border-top: 1px solid #54565a;
    max-width: 1834px;
    margin-left: auto;
    margin-right: auto
}

.styles_NomenclatureProductsDiscItem__infoWrap__X2oq5:first-child {
    border-top: none;
    padding-top: 0
}

.styles_NomenclatureProductsDiscItem__infoWrap__X2oq5:last-child {
    padding-top: 40px;
    border-top: 1px solid #54565a
}

@media(max-width:1919px) {
    .styles_NomenclatureProductsDiscItem__infoWrap__X2oq5 {
        margin-left: 48px;
        margin-right: 48px
    }
}

@media(max-width:1680px) {
    .styles_NomenclatureProductsDiscItem__infoWrap__X2oq5 {
        margin-left: 40px;
        margin-right: 40px
    }
}

@media(max-width:1440px) {
    .styles_NomenclatureProductsDiscItem__infoWrap__X2oq5 {
        margin-left: 40px;
        margin-right: 40px
    }
}

@media(max-width:1199px) {
    .styles_NomenclatureProductsDiscItem__infoWrap__X2oq5 {
        margin-left: 16px;
        margin-right: 16px;
        overflow: hidden
    }
}

@media(max-width:767px) {
    .styles_NomenclatureProductsDiscItem__infoWrap__X2oq5 {
        -webkit-flex-direction: column;
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px;
        padding-bottom: 0;
        padding-top: 24px
    }
}

.styles_NomenclatureProductsDiscItem__info__1JI5y {
    width: 24%;
    margin-right: 40px
}

.styles_NomenclatureProductsDiscItem__info__1JI5y:last-child {
    margin-right: 0
}

@media(max-width:767px) {
    .styles_NomenclatureProductsDiscItem__info__1JI5y {
        width: 100%
    }
}

.styles_NomenclatureProductsDiscItem__infoTitle__120h_ {
    padding-bottom: 16px;
    max-width: 299px;
    height: 85px;
    border-bottom: 1px solid #d4d5d6;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    line-height: 130%
}

@media(max-width:1599px) {
    .styles_NomenclatureProductsDiscItem__infoTitle__120h_ {
        font-size: 22px
    }
}

@media(max-width:767px) {
    .styles_NomenclatureProductsDiscItem__infoTitle__120h_ {
        padding-top: 20px;
        max-width: 100%;
        font-size: 18px;
        padding-bottom: 12px
    }
}

.styles_NomenclatureProductsDiscItem__infoDescription__33a_m {
    max-width: 248px;
    padding-top: 16px;
    border-top: 1px solid #d4d5d6
}

@media(max-width:767px) {
    .styles_NomenclatureProductsDiscItem__infoDescription__33a_m {
        max-width: 100%;
        padding-top: 20px
    }
}

.styles_NomenclatureProductsDiscItem__infoItemList__mITom {
    padding-top: 16px
}

@media(max-width:767px) {
    .styles_NomenclatureProductsDiscItem__infoItemList__mITom {
        padding-bottom: 24px
    }
}

.styles_NomenclatureProductsDiscItem__infoItem__6GwfD {
    font-size: 18px;
    position: relative;
    margin-left: 24px;
    margin-bottom: 16px
}

.styles_NomenclatureProductsDiscItem__infoItem__6GwfD:before {
    content: "";
    position: absolute;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    top: 9px;
    left: -24px;
    background: #b90c2f
}

.styles_NomenclatureProductsDiscItem__infoItem__6GwfD:last-child {
    margin-bottom: 0
}

.styles_NomenclatureProductsDiscItem__content__cLX1v {
    margin-bottom: 40px
}

.styles_NomenclatureProductsDiscItem__content__cLX1v:first-child {
    width: 33%
}

.styles_NomenclatureProductsDiscItem__content__cLX1v:last-child {
    width: 67%;
    padding: 40px 72px 40px 40px;
    background: #fff
}

@media(max-width:767px) {
    .styles_NomenclatureProductsDiscItem__content__cLX1v {
        margin-bottom: 24px
    }

    .styles_NomenclatureProductsDiscItem__content__cLX1v:first-child {
        width: 100%
    }

    .styles_NomenclatureProductsDiscItem__content__cLX1v:last-child {
        width: 100%;
        padding: 0
    }
}

.styles_NomenclatureProductsDiscItem__productCell__iXdH0 {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: baseline;
    align-items: baseline;
    margin-bottom: 24px;
    padding-bottom: 24px;
    padding-top: 40px;
    border-top: 1px solid #d4d5d6
}

.styles_NomenclatureProductsDiscItem__productCell__iXdH0:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none
}

@media(max-width:767px) {
    .styles_NomenclatureProductsDiscItem__productCell__iXdH0 {
        -webkit-flex-direction: column;
        flex-direction: column;
        padding-bottom: 12px;
        margin-bottom: 0;
        padding-left: 16px;
        padding-right: 16px
    }
}

.styles_NomenclatureProductsDiscItem__productConnections__2fRoc {
    position: relative;
    margin-left: 24px;
    margin-bottom: 16px
}

.styles_NomenclatureProductsDiscItem__productConnections__2fRoc:before {
    content: "";
    position: absolute;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    top: 9px;
    left: -24px;
    background: #b90c2f
}

.styles_NomenclatureProductsDiscItem__productItem__1ZcfP {
    width: 250px;
    font-weight: 600;
    font-style: normal;
    font-size: 26.4px;
    line-height: 130%;
    margin-right: 60px
}

@media(max-width:1599px) {
    .styles_NomenclatureProductsDiscItem__productItem__1ZcfP {
        font-size: 22px
    }
}

@media(max-width:767px) {
    .styles_NomenclatureProductsDiscItem__productItem__1ZcfP {
        font-size: 18px;
        padding-bottom: 16px;
        margin-top: 24px
    }
}

.styles_OptionsProductsBlock__1Cpiz {
    padding-top: 40px;
    margin: 80px 0
}

@media(max-width:1599px) {
    .styles_OptionsProductsBlock__1Cpiz {
        padding-top: 20px;
        margin: 60px 0 20px
    }
}

@media(max-width:767px) {
    .styles_OptionsProductsBlock__1Cpiz {
        margin-top: 40px;
        padding-top: 0
    }
}

.styles_OptionsProductsBlock__titleWrap__3lYia {
    padding-bottom: 24px;
    margin-bottom: 40px;
    border-bottom: 1px solid #292c31
}

.styles_OptionsProductsBlock__contentWrap__2-aze {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

@media(max-width:1024px) {
    .styles_OptionsProductsBlock__contentWrap__2-aze {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: space-between;
        justify-content: space-between
    }
}

@media(max-width:767px) {
    .styles_OptionsProductsBlock__contentWrap__2-aze {
        -webkit-flex-direction: column;
        flex-direction: column
    }
}

.styles_OptionsProductsBlock__content__2StVj {
    display: -webkit-flex;
    display: flex;
    position: relative;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    width: 45%;
    padding-bottom: 40px
}

.styles_OptionsProductsBlock__content__2StVj:nth-child(3n) {
    margin-right: 0
}

.styles_OptionsProductsBlock__content__2StVj:last-child {
    padding-bottom: 0
}

@media(max-width:767px) {
    .styles_OptionsProductsBlock__content__2StVj {
        width: 100%
    }
}

@media(max-width:1024px) {
    .styles_OptionsProductsBlock__content__2StVj {
        width: 40%
    }
}

.styles_OptionsProductsBlock__subtitle__11ypR {
    margin-left: 87px;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    line-height: 130%
}

.styles_OptionsProductsBlock__subtitle__11ypR:before {
    position: absolute;
    top: 12px;
    left: 0;
    width: 67px;
    height: 3px;
    content: "";
    background: #b90c2f
}

@media(max-width:1599px) {
    .styles_OptionsProductsBlock__subtitle__11ypR {
        font-size: 22px
    }
}

@media(max-width:767px) {
    .styles_OptionsProductsBlock__container__3_tbc {
        margin-left: 16px;
        margin-right: 16px
    }
}

.styles_Arrow__1qcSu {
    position: relative;
    display: -webkit-flex;
    display: flex;
    width: 42px;
    height: 30px;
    cursor: pointer;
    color: #292c31;
    border: none;
    background: #f5f5f5;
    -webkit-transition: color .35s, background-color .35s, border-color .35s;
    transition: color .35s, background-color .35s, border-color .35s;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
}

.styles_Arrow_disabled__2lel5 {
    color: #d4d5d6
}

.styles_Arrow_white__s62dv {
    width: 55px;
    height: 33px;
    color: #fff
}

.styles_Arrow_white__s62dv svg {
    width: 55px;
    height: 33px
}

.styles_Arrow_white__s62dv svg>path {
    fill: #fff
}

.styles_Arrow_blue__2rF_U {
    width: 55px;
    height: 33px;
    color: #03439a;
    background: transparent
}

.styles_Arrow_blue__2rF_U svg {
    width: 55px;
    height: 33px
}

.styles_Arrow_blue__2rF_U svg>path {
    fill: #03439a
}

.styles_Arrow__1qcSu svg {
    display: block
}

.styles_Arrow__1qcSu:hover>svg * {
    fill: #03439a
}

.styles_MainProductsBlock__item__3nzr_ {
    display: -webkit-flex;
    display: flex;
    margin-top: 40px;
    margin-bottom: 120px
}

@media(max-width:767px) {
    .styles_MainProductsBlock__item__3nzr_ {
        -webkit-flex-direction: column;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 0
    }
}

.styles_MainPage__3xBYx {
    position: relative;
    color: #292c31
}

.styles_DetailedProductsItem__arrowWrap__Wvfpc {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    margin-top: 60px;
    margin-left: 40px;
    color: #03439a
}

.styles_DetailedProductsItem__arrowWrap__Wvfpc svg {
    color: #03439a
}

@media(max-width:767px) {
    .styles_DetailedProductsItem__arrowWrap__Wvfpc {
        margin-top: 20px;
        margin-bottom: 20px
    }
}

.styles_DetailedProductsItem__breadcrumbText__1LRWB {
    padding-left: 12px
}

@media(max-width:767px) {
    .styles_DetailedProductsItem__breadcrumbText__1LRWB {
        font-size: 16px
    }
}

.styles_MainProductsItem__item__35MM- {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 33.3%;
    padding: 0 24px;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    border-right: 1px solid #d4d5d6
}

.styles_MainProductsItem__item__35MM-:first-child {
    padding-left: 0
}

.styles_MainProductsItem__item__35MM-:last-child {
    padding-right: 0;
    border-right: none
}

.styles_MainProductsItem__infoWrap__2hTZ- {
    margin-left: 40px;
    background-color: #fff;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-direction: column;
    flex-direction: column;
    display: -webkit-flex;
    display: flex;
    padding: 36px 0 48px 72px;
    width: 67%
}

@media(max-width:767px) {
    .styles_MainProductsItem__infoWrap__2hTZ- {
        margin: unset;
        padding: unset;
        margin-left: 16px;
        margin-right: 16px;
        padding-top: 24px;
        padding-left: 16px;
        padding-right: 16px;
        width: unset
    }
}

.styles_MainProductsItem__productId__16iFh {
    font-weight: 600;
    font-style: normal;
    font-size: 19.2px;
    line-height: 120%;
    color: #b90c2f;
    width: 257px
}

@media(max-width:1599px) {
    .styles_MainProductsItem__productId__16iFh {
        font-size: 16px;
        width: 214px
    }
}

@media(max-width:767px) {
    .styles_MainProductsItem__productId__16iFh {
        font-size: 14px
    }
}

@media(max-width:1024px) {
    .styles_MainProductsItem__productId__16iFh {
        font-size: 14px
    }
}

.styles_MainProductsItem__productName__3NrXs {
    overflow: hidden;
    margin: 12px 0 36px;
    max-width: 85%;
    font-weight: 400;
    font-style: normal;
    font-size: 57.6px;
    line-height: 110%
}

@media(max-width:1599px) {
    .styles_MainProductsItem__productName__3NrXs {
        font-size: 48px
    }
}

@media(max-width:1024px) {
    .styles_MainProductsItem__productName__3NrXs {
        font-size: 32px
    }
}

@media(max-width:767px) {
    .styles_MainProductsItem__productName__3NrXs {
        font-size: 22px;
        margin: unset;
        margin-bottom: 24px
    }
}

.styles_MainProductsItem__productUsage__3xNOs {
    margin-bottom: 16px;
    font-weight: 600;
    font-style: normal;
    font-size: 26.4px;
    line-height: 130%
}

@media(max-width:1599px) {
    .styles_MainProductsItem__productUsage__3xNOs {
        font-size: 26.4px
    }
}

@media(max-width:767px) {
    .styles_MainProductsItem__productUsage__3xNOs {
        font-size: 18px;
        margin-bottom: 12px
    }
}

@media(max-width:1024px) {
    .styles_MainProductsItem__productUsage__3xNOs {
        font-size: 18px
    }
}

.styles_MainProductsItem__productUsages__HArPH {
    max-width: 625px;
    font-weight: 400;
    font-style: normal;
    font-size: 21.6px;
    line-height: 135%
}

@media(max-width:1599px) {
    .styles_MainProductsItem__productUsages__HArPH {
        margin-bottom: 32px;
        font-size: 21.6px
    }
}

@media(max-width:767px) {
    .styles_MainProductsItem__productUsages__HArPH {
        font-size: 16px
    }
}

@media(max-width:1024px) {
    .styles_MainProductsItem__productUsages__HArPH {
        font-size: 14px
    }
}

.styles_MainProductsItem__productType__2_bIh {
    margin-bottom: 16px;
    font-weight: 600;
    font-style: normal;
    font-size: 26.4px;
    line-height: 130%
}

@media(max-width:1599px) {
    .styles_MainProductsItem__productType__2_bIh {
        font-size: 22px
    }
}

@media(max-width:767px) {
    .styles_MainProductsItem__productType__2_bIh {
        font-size: 18px
    }
}

@media(max-width:1024px) {
    .styles_MainProductsItem__productType__2_bIh {
        font-size: 18px
    }
}

.styles_MainProductsItem__productTypes__N3k2P {
    position: relative;
    max-width: 585px;
    margin-right: 80px;
    margin-bottom: 12px;
    margin-left: 22px;
    font-weight: 400;
    font-style: normal;
    font-size: 21.6px;
    line-height: 135%
}

.styles_MainProductsItem__productTypes__N3k2P:last-child {
    margin-bottom: 0
}

.styles_MainProductsItem__productTypes__N3k2P:before {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    top: 10px;
    left: -24px;
    background: #b90c2f
}

@media(max-width:1024px) {
    .styles_MainProductsItem__productTypes__N3k2P {
        font-size: 14px
    }
}

.styles_MainProductsItem__productTypesNone__2n9CJ {
    display: none
}

.styles_MainProductsItem__productStructure__RmD4R {
    margin-bottom: 16px;
    font-weight: 600;
    font-style: normal;
    font-size: 26.4px;
    line-height: 130%
}

@media(max-width:1599px) {
    .styles_MainProductsItem__productStructure__RmD4R {
        font-size: 22px
    }
}

.styles_MainProductsItem__productStructureWrap__31Fzi {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 88vw
}

.styles_MainProductsItem__productStructures__1aJVC {
    position: relative;
    max-width: 585px;
    margin-right: 80px;
    margin-bottom: 12px;
    margin-left: 22px;
    font-weight: 400;
    font-style: normal;
    font-size: 21.6px;
    line-height: 135%
}

.styles_MainProductsItem__productStructures__1aJVC:last-child {
    margin-bottom: 0
}

.styles_MainProductsItem__productStructures__1aJVC:before {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    top: 6px;
    left: -24px;
    background: #b90c2f
}

@media(max-width:1024px) {
    .styles_MainProductsItem__productStructures__1aJVC {
        font-size: 14px
    }
}

.styles_MainProductsItem__productStructuresNone__A1UsM {
    display: none
}

.styles_MainProductsItem__imageWrap__eOX-V {
    width: 32%;
    height: 571px;
    overflow: hidden;
    object-fit: contain;
    background-color: #eaeaea
}
.styles_MainProductsItem__img__eOX-V {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

@media(max-width:767px) {
    .styles_MainProductsItem__imageWrap__eOX-V {
        width: auto;
        height: 360px;
        margin-left: 16px;
        margin-right: 16px
    }
    
}

.styles_MainProductsItem__imageWrap__product1__HUFCD {
    background-image: url(/assets/images/main/product-1.png);
    background-position: 50%;
    background-size: cover;
    height: 100%
}

@media(max-width:767px) {
    .styles_MainProductsItem__imageWrap__product1__HUFCD {
        background-size: contain;
        background-repeat: no-repeat
    }
}

.styles_MainProductsItem__imageWrap__product1__HUFCD:hover {
    background-image: url(/assets/images/main/product-1-1.png)
}

.styles_MainProductsItem__imageWrap__product2__2UlTy {
    background-image: url(/assets/images/main/product-2.png);
    background-size: cover;
    background-position: 50%;
    height: 100%
}

@media(max-width:767px) {
    .styles_MainProductsItem__imageWrap__product2__2UlTy {
        background-size: contain;
        background-repeat: no-repeat
    }
}

.styles_MainProductsItem__imageWrap__product2__2UlTy:hover {
    height: 100%;
    background-image: url(/assets/images/main/product-2-1.png)
}

.styles_MainProductsItem__imageWrap__product3__1-sxV {
    background-image: url(/assets/images/main/product-3.png);
    background-size: cover;
    background-position: 50%;
    height: 100%
}

@media(max-width:767px) {
    .styles_MainProductsItem__imageWrap__product3__1-sxV {
        background-size: contain;
        background-repeat: no-repeat
    }
}

.styles_MainProductsItem__imageWrap__product3__1-sxV:hover {
    background-image: url(/assets/images/main/product-3-1.png)
}

.styles_MainProductsItem__imageWrap__product4__3utR6 {
    background-image: url(/assets/images/main/product-4-1.png);
    background-size: cover;
    background-position: 50%;
    height: 100%
}

@media(max-width:767px) {
    .styles_MainProductsItem__imageWrap__product4__3utR6 {
        background-size: contain;
        background-repeat: no-repeat
    }
}

.styles_MainProductsItem__imageWrap__product4__3utR6:hover {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(/assets/images/main/product-4-1-1.png)
}

.styles_MainProductsItem__buttonWrap__1yB2B {
    margin-bottom: 52px;
    margin-top: 56px
}

.styles_MainProductsItem__button__1oA4S {
    background: #fff
}

.styles_TabTitle__3d4gg {
    margin-right: 40px;
    -webkit-transition: .4s cubic-bezier(.445, .05, .55, .95);
    transition: .4s cubic-bezier(.445, .05, .55, .95)
}

.styles_TabTitle_inactive__2MELZ {
    padding-right: 8px;
    color: #7f8083;
    -webkit-transition: background-color .35s, color .35s;
    transition: background-color .35s, color .35s
}

.styles_TabTitle_inactive__2MELZ:after {
    content: none
}

.styles_TabTitle_active__GhP2H {
    padding-right: 8px;
    -webkit-transition: background-color .35s, color .35s;
    transition: background-color .35s, color .35s
}

.styles_TabTitle_active__GhP2H:hover {
    color: #292c31
}

@media(max-width:767px) {
    .styles_TabTitle_active__GhP2H {
        padding-right: 0;
        color: #b90c2f
    }

    .styles_TabTitle_active__GhP2H:hover {
        color: #b90c2f
    }

    .styles_TabTitle_active__GhP2H:after {
        content: none
    }
}

.styles_Tabs__wrapper__3zyZP {
    padding-bottom: 4px;
    border-bottom: 1px solid #d4d5d6
}

@media(max-width:1024px) {
    .styles_Tabs__wrapper__3zyZP {
        white-space: nowrap;
        overflow-x: scroll
    }
}

@media(max-width:767px) {
    .styles_Tabs__wrapper__3zyZP {
        border-bottom-width: 0;
        margin-left: 16px;
        margin-right: 16px
    }
}

.styles_Container__2Whuh {
    position: relative;
    left: 0;
    width: 100%;
    max-width: 1834px;
    margin-right: auto;
    margin-left: auto
}

@media(max-width:1919px) {
    .styles_Container__2Whuh {
        width: auto;
        margin: 0 48px
    }
}

@media(max-width:1599px) {
    .styles_Container__2Whuh {
        width: auto;
        margin: 0 40px
    }
}

@media(max-width:1199px) {
    .styles_Container__2Whuh {
        width: auto;
        margin: 0 16px
    }
}

@media(max-width:767px) {
    .styles_Container__2Whuh {
        width: auto;
        margin: 0
    }
}

.styles_NomenclatureProductsItem__2KtFa {
    margin: 40px 0
}

@media(max-width:767px) {
    .styles_NomenclatureProductsItem__2KtFa {
        font-size: 16px;
        margin-top: 32px;
        margin-bottom: 40px
    }
}

.styles_NomenclatureProductsItem__productTitle__1mvXw {
    font-size: 43.2px;
    font-weight: 500;
    text-transform: none;
    max-width: 339px
}

@media(max-width:1599px) {
    .styles_NomenclatureProductsItem__productTitle__1mvXw {
        font-size: 36px
    }
}

@media(max-width:1024px) {
    .styles_NomenclatureProductsItem__productTitle__1mvXw {
        max-width: 100%
    }
}

@media(max-width:767px) {
    .styles_NomenclatureProductsItem__productTitle__1mvXw {
        max-width: none;
        font-size: 22px
    }

    .styles_NomenclatureProductsItem__productConnectionWrap__1Swmb {
        padding-bottom: 30px
    }
}

.styles_NomenclatureProductsItem__infoWrap__2DJPk {
    display: -webkit-flex;
    display: flex;
    padding-top: 40px
}

.styles_NomenclatureProductsItem__infoWrap__2DJPk:first-child {
    border-top: none;
    padding-top: 0
}

@media(max-width:1024px) {
    .styles_NomenclatureProductsItem__infoWrap__2DJPk {
        -webkit-flex-direction: column;
        flex-direction: column
    }
}

@media(max-width:767px) {
    .styles_NomenclatureProductsItem__infoWrap__2DJPk {
        -webkit-flex-direction: column;
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px;
        padding-bottom: 0;
        padding-top: 24px
    }
}

.styles_NomenclatureProductsItem__info__2wbje {
    width: 24%;
    margin-right: 40px
}

.styles_NomenclatureProductsItem__info__2wbje:last-child {
    margin-right: 0
}

@media(max-width:767px) {
    .styles_NomenclatureProductsItem__info__2wbje {
        width: 100%
    }
}

.styles_NomenclatureProductsItem__infoTitle__19iQ9 {
    padding-bottom: 16px;
    max-width: 89%;
    font-weight: 600;
    font-style: normal;
    font-size: 26.4px;
    line-height: 130%
}

@media(max-width:1599px) {
    .styles_NomenclatureProductsItem__infoTitle__19iQ9 {
        font-size: 22px
    }
}

@media(max-width:767px) {
    .styles_NomenclatureProductsItem__infoTitle__19iQ9 {
        padding-top: 20px;
        max-width: 100%;
        font-size: 18px;
        padding-bottom: 12px
    }
}

.styles_NomenclatureProductsItem__infoDescription__1tGqT {
    max-width: 248px;
    padding-top: 16px;
    border-top: 1px solid #d4d5d6
}

@media(max-width:767px) {
    .styles_NomenclatureProductsItem__infoDescription__1tGqT {
        max-width: 100%;
        padding-top: 20px
    }
}

.styles_NomenclatureProductsItem__infoItemList__3dQI7 {
    padding-top: 16px
}

@media(max-width:767px) {
    .styles_NomenclatureProductsItem__infoItemList__3dQI7 {
        padding-bottom: 24px
    }
}

.styles_NomenclatureProductsItem__infoItem__2-etb {
    position: relative;
    margin-left: 24px;
    margin-bottom: 16px
}

.styles_NomenclatureProductsItem__infoItem__2-etb:before {
    content: "";
    position: absolute;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    top: 9px;
    left: -24px;
    background: #b90c2f
}

.styles_NomenclatureProductsItem__infoItem__2-etb:last-child {
    margin-bottom: 0
}

.styles_NomenclatureProductsItem__content__2nwwX:first-child {
    width: 33%
}

.styles_NomenclatureProductsItem__content__2nwwX:last-child {
    width: 67%;
    padding: 40px 72px 40px 40px;
    background: #fff
}

@media(max-width:1024px) {
    .styles_NomenclatureProductsItem__content__2nwwX:first-child {
        width: 100%
    }

    .styles_NomenclatureProductsItem__content__2nwwX:last-child {
        width: 100%;
        padding: 40px 72px 40px 40px;
        background: #fff
    }
}

@media(max-width:767px) {
    .styles_NomenclatureProductsItem__content__2nwwX {
        margin-bottom: 24px
    }

    .styles_NomenclatureProductsItem__content__2nwwX:first-child {
        width: 100%
    }

    .styles_NomenclatureProductsItem__content__2nwwX:last-child {
        width: 100%;
        padding: 0
    }
}

.styles_NomenclatureProductsItem__productCell__mKraD {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: baseline;
    align-items: baseline;
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #d4d5d6
}

.styles_NomenclatureProductsItem__productCell__mKraD:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none
}

@media(max-width:767px) {
    .styles_NomenclatureProductsItem__productCell__mKraD {
        -webkit-flex-direction: column;
        flex-direction: column;
        padding-bottom: 12px;
        margin-bottom: 0;
        padding-left: 16px;
        padding-right: 16px
    }
}

.styles_NomenclatureProductsItem__productConnections__1EC9K {
    position: relative;
    margin-left: 24px;
    margin-bottom: 16px
}

.styles_NomenclatureProductsItem__productConnections__1EC9K:before {
    content: "";
    position: absolute;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    top: 9px;
    left: -24px;
    background: #b90c2f
}

.styles_NomenclatureProductsItem__productItem__1KsDK {
    width: 250px;
    font-weight: 600;
    font-style: normal;
    font-size: 26.4px;
    line-height: 130%;
    margin-right: 60px
}

@media(max-width:1599px) {
    .styles_NomenclatureProductsItem__productItem__1KsDK {
        font-size: 22px
    }
}

@media(max-width:767px) {
    .styles_NomenclatureProductsItem__productItem__1KsDK {
        font-size: 18px;
        padding-bottom: 16px;
        margin-top: 24px
    }
}

.styles_NomenclatureProductsDiscItem__3uy-a,
.styles_NomenclatureProductsDiscItem__infoWrap__18NIq {
    display: -webkit-flex;
    display: flex
}

.styles_NomenclatureProductsBlock__PVj44 {
    margin: 40px 0
}

.styles_NomenclatureProductsBlock__titleWrap__2g1CT {
    margin-bottom: 48px
}

@media(max-width:767px) {
    .styles_NomenclatureProductsBlock__titleWrap__2g1CT {
        margin-bottom: 32px;
        margin-left: 16px;
        margin-right: 16px
    }
}

.styles_NomenclatureProductsBlock__content__HQJI1 {
    margin-bottom: 40px
}

.styles_NomenclatureProductsBlock__content__HQJI1:first-child {
    width: 33%
}

.styles_NomenclatureProductsBlock__content__HQJI1:last-child {
    width: 67%;
    padding: 40px 72px 40px 40px;
    background: #fff
}

@media(max-width:1024px) {
    .styles_NomenclatureProductsBlock__content__HQJI1 {
        width: 100%
    }

    .styles_NomenclatureProductsBlock__title__fzqm5 {
        font-size: 32px
    }
}

@media(max-width:767px) {
    .styles_NomenclatureProductsBlock__title__fzqm5 {
        font-size: 28px
    }
}

@media(max-width:1024px) {
    .styles_NomenclatureProductsBlock__PVj44 {
        margin: 40px 0
    }
}

@media(max-width:767px) {
    .styles_NomenclatureProductsBlock__PVj44 {
        margin-top: 32px
    }
}

.styles_MainPage__2krQb {
    position: relative;
    color: #292c31
}