a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
ul,
var,
video {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquoteafter,
blockquotebefore,
qafter,
qbefore {
  content: "";
  content: none;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  text-align: left;
}
textarea {
  resize: none;
}
address {
  font-style: normal;
}
button,
input,
select,
textarea {
  font: inherit;
  outline: none;
  -webkit-font-smoothing: inherit;
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input-webkit-inner-spin-button,
input-webkit-outer-spin-button {
  -webkit-appearance: none;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: Manrope;
  font-weight: 400;
  font-style: normal;
  src: url(/main/static/static/fonts/Manrope/Manrope-Regular.ttf)
    format("truetype");
}
@font-face {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  src: url(/main/static/static/fonts/Montserrat/Montserrat-Regular.ttf)
    format("truetype");
}
body,
html {
  min-height: 100%;
  font-family: Manrope, sans-serif;
  font-weight: 400;
  font-size: 21.6px;
  line-height: 135%;
  color: #292c31;
  background: #f5f5f5;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: none;
  -moz-font-feature-settings: none;
  font-feature-settings: none;
  -webkit-font-variant-ligatures: none;
  -moz-font-variant-ligatures: none;
  font-variant-ligatures: none;
}
@media (max-width: 1599px) {
  body,
  html {
    font-size: 18px;
  }
}
h1,
h2,
h3,
h4 {
  font-family: Montserrat, sans-serif;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
}
.right {
  display: none;
}
@media (max-width: 767px) {
  .right {
    display: unset;
  }
}
.bm-overlay {
  background: #fff;
}
.bm-cross {
  background: #bdc3c7;
}
.bm-burger-bars-hover {
  background: #a90000;
}
.bm-menu-wrap {
  top: 0;
  width: 100vw;
}
.bm-menu {
  background: #fff;
  padding: 73px 16px 0;
  font-size: 1.15em;
}
.bm-item-list {
  color: #b8b7ad;
  padding-top: 34px;
  border-top: 1px solid #d4d5d6;
}
.bm-item {
  color: #000;
  margin-bottom: 20px;
}
.bm-overlay {
  top: 0;
  background: unset;
}
.bm-burger-button {
  position: relative;
  float: right;
  width: 31px;
  height: 25px;
  top: 14px;
}
.bm-burger-bars {
  background: #373a47;
  height: 8%;
}
.bm-burger-bars span {
  height: 8%;
}
.bm-cross {
  height: 31px;
}
.bm-cross-button {
  width: 31px;
  height: 31px;
}
